In [1]:
import dash 
from dash import ctx
import dash_bootstrap_components as dbc
import dash_html_components as html
import dash_core_components as dcc
from dash.dependencies import Input, Output, State
from dash_table import DataTable
from dash_canvas import DashCanvas
import dash_daq as daq
from jupyter_dash import JupyterDash

import plotly
import plotly.express as px
import plotly.io as pio
import plotly.graph_objs as go

import pandas as pd

import numpy as np

import json

<ipython-input-1-78da9870b458>:4: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html
<ipython-input-1-78da9870b458>:5: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
<ipython-input-1-78da9870b458>:7: UserWarning:
The dash_table package is deprecated. Please replace
`import dash_table` with `from dash import dash_table`

Also, if you're using any of the table format helpers (e.g. Group), replace
`from dash_table.Format import Group` with
`from dash.dash_table.Format import Group`
  from dash_table import DataTable

In [ ]:
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - LAYOUT - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #

website = dash.Dash(__name__,external_stylesheets=[dbc.themes.SOLAR],
                    meta_tags=[{"name":"viewport","content":"width=device-width, initial-scale=1.0"}],
                   suppress_callback_exceptions=True)

SIDEBAR_STYLE = {
    "position": "fixed",
    "top": 0,
    "left": 0,
    "bottom": 0,
    "width": "16rem",
    "padding": "2rem 1rem",
}

CONTENT_STYLE = {
    "margin-left": "18rem",
    "margin-right": "2rem",
    "padding": "2rem 1rem",
}

content = html.Div(id="page-content", children=[], style=CONTENT_STYLE)

sidebar = html.Div(
    [
        html.H2("Number recognition program", className="display-4",style={'textAlign':'center'}),
        html.Hr(),
        html.P(
            "EFMat final project", className="side"
        ),
        dbc.Nav(
            [
                dbc.NavLink("Description", href="/", active="exact"),
                dbc.NavLink("Statistics", href="/page-1", active="exact"),
                dbc.NavLink("Canvas board", href="/page-2", active="exact"),
            ],
            vertical=True,
            pills=True,
        ),
    ],
    style=SIDEBAR_STYLE,

)


website.layout=html.Div([
    dbc.Button("Success",color="success", className="mr-1"),
    dbc.Row(dbc.Col(html.Title("Number recognition project")
    ),),
    dcc.Location(id="url"),
    sidebar,
    content    
    ])


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - NRP - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #


columns=["width","height","path"]

allow=["number"]

NRU=dbc.Container([
    
    DataTable(id="drawn_table",columns=[{"name":i,"id":i}for i in columns])   
    
                ])

class NRU():
    def __int__(self, number, pre_drawn, user_drawn, entry):
        self.number=number
        self.pre_drawn=pre_drawn
        self.user_drawn=user_drawn
        self.entry=entry
    
    def comparison(self,pre_drawn,user_drawn):
        pass
    
    def frequency(self, number, entry):
        pass
        


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - CARDS - - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #


card1=dbc.Container([
    dbc.CardHeader(   
    dbc.Button("Objective", id="objBtt",style={"color":"goldenrod"},className="text-dark btn-block align-middle w-100")
    ),
    dbc.Collapse(
    dbc.Card([
    dbc.CardBody([
        html.P("""This is the final project of UnB second semester EFMat course coordenated
                    by teacher Lucas Loureiro. Thus, subjects such as python Classes,
                    web development, and html, as well as the ones theached before,
                    were applied on this website. """,className="card-text")
        ],style={"color":"goldenrod"}),
    dbc.CardImg(src="https://lh3.googleusercontent.com/a-/AOh14GhKKmrBlYU4jgK88G7fFV3XLuyNgI4Le1Okj9Ve=s75-c",bottom=True)])
        ,id="objAns",is_open=False)])


card2=dbc.Container([
    dbc.CardHeader( 
    dbc.Button("Program explanation", id="pgmBtt",style={"color":"goldenrod"},className="text-dark btn-block align-middle w-100")),
    dbc.Collapse(
        dbc.Card([
    dbc.CardBody([
        html.P("""The general idea of the NRP (Number Recognition Program) is to possiblity the identification of a number drawn on a board. Hence, after the user drawn
                    a number on the board, the program will collect pixels that were painted and reshape them to a list with the intention of building a coordinate system. From that,
                    a comparison of the distance (10% of divergence is the initial tolerance) from predefined shapes of numbers will be done. Once the board was divided in four different quadrants, an 
                    analysis of the shape of the number writen on each quadrant become more precise, allowing more reliable results. According to the precision percentage,
                    a result will be declared. If the precision percentage is too low, tolerance percentage will be increased in 5% until a result above 80% be founded.\n\n
                    It is worth mentioning that since the program is based on pre defined parameters, it does not configure an AI.""",
               className="card-text")
        
    ],style={"color":"goldenrod"}),
        dbc.CardImg(src="https://th.bing.com/th/id/OIP.hmcZgKUKYsC_5rQB1SmY_AHaE7?pid=ImgDet&rs=1",
                    bottom=True)]),id="pgmAns",is_open=False)])


card3=dbc.Container([
    dbc.CardHeader(
    dbc.Button("Instructions",id="intBtt",style={"color":"goldenrod"},className="text-dark btn-block align-middle w-100")),
    dbc.Collapse(
    dbc.Card([
    dbc.CardBody([
        html.P("""First, click on 'Canvas board' in the sidebar. Second, drawn a single number number within the yellow image on the center of the page.
                    Finished the drawing, click on 'Analise' button below the board. If some mistake was done or an improvement on the drawing should 
                    be done, click on 'Clear' button below the board. Otherwise, just follow the previous step.\n\n
                    Finally, after clicking on 'Analise' button, the program will check your drawing and give you a result. 
                    Then, click on 'Right' or 'Wrong' button below the result. If you want to make another drawn, just click on the 'Clear' button to rerun the program.\n\n
                    You may like to check the performace of the program. For this reason, the "Statistics" button on the sidebar was created. There you will find the general 
                    precision of the program, individual precision for each number, and most frequent numbers. You just need to choose the number on the dropdown bar to display the graphs.
                    """,className="card-text")        
    ],style={"color":"goldenrod"}),dbc.CardImg(src="https://cdn0.iconfinder.com/data/icons/logistic-lineal-color/512/checklist-512.png",
                                               bottom=True)]),
        id="intAns",is_open=False)])

cards=dbc.Container([
                    dbc.Row([
                        dbc.Col(card1,width={"size":3,"offsett":0},xs=12,sm=12,md=12,lg=3,xl=3
                        ),                        

                        dbc.Col(card2,width={"size":4,"offsett":0},xs=12,sm=12,md=12,lg=4,xl=4
                        ),
                        
                        dbc.Col(card3,width={"size":4,"offsett":0},xs=12,sm=12,md=12,lg=4,xl=4
                        )
                    ],justify="around")
    
                ])


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - GRAPHS - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #


df1=pd.read_csv(r"C:\Users\adm\Documents\Jupyter\program_precision")
df2=pd.read_csv(r"C:\Users\adm\Documents\Jupyter\individual_precision")
df3=pd.read_csv(r"C:\Users\adm\Documents\Jupyter\number_frequence")

graph1=dbc.Container([
        dbc.Button(html.H1("General program precision", className="text-dark mb-4"),
                                className="badge-pill", style={"color":"goldenrod"}),
        dcc.Graph(id="idg1",figure={})
                    ])
                     
graph2=dbc.Container([
        dbc.Button(html.H1("Individual number precision", className="text-dark mb-4"),
                                className="badge-pill", style={"color":"goldenrod"}),
        dcc.Graph(id="idg2",figure={})
        
                    ])

graph3=dbc.Container([
        dbc.Button(html.H1("General number frequency", className="text-dark mb-4"),
                                className="badge-pill", style={"color":"goldenrod"}),
        dcc.Graph(id="idg3",figure={})        
                    ])

graphs=dbc.Container([        
    
        dbc.Row([
            dbc.Col([graph1],width={"size":4},xs=12,sm=12,md=12,lg=4,xl=4),
            dbc.Col([graph2],width={"size":4},xs=12,sm=12,md=12,lg=4,xl=4),
            dbc.Col([graph3],width={"size":4},xs=12,sm=12,md=12,lg=4,xl=4)
        ],justify="around")
])



# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - CANVAS - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #


file="assets\DrawingBackGround.PNG"

canvas=html.Div([
    dbc.Row([
        dbc.Col([
            DashCanvas(id='canvas_board',
               goButtonTitle ="Analize",
               width=150,height=400,
               hide_buttons=['line',"rectangle","pan",'zoom',"select","redo"],
               lineWidth=5,
               lineColor="#073642",
               filename=file
                      ),
            DataTable(id="drawn_table",columns=[{"name":i,"id":i} for i in columns])
        ],width={"size":5,"offset":5})
        ]),
    
    dbc.Row([
        html.Hr(),
        dbc.Col([html.H5("Choose the number drawn:"),
        dcc.Dropdown(
            id="dpdn",
            multi=False,
            value=0,
            options=[{"label":x,"value":x}for x in range(0,10)]),
                dbc.Button("Submit",id="sbm_btt",style={"color":"goldenrod"},
                           className="text-dark btn-block")],width={"size":3,"offset":0}
                )
],justify="center"),   
    
    dbc.Row([
        html.Hr(),
        dbc.Col([html.H5("Is the program's answer correct?",className="text-center")],width={"size":2}),
        dbc.Col([dbc.Button("YES",id="y_btt",style={"color":"goldenrod"},className="text-dark btn-block")],width={"size":1}),
        dbc.Col([dbc.Button("NO",id="n_btt",style={"color":"goldenrod"},className="text-dark btn-block")],width={"size":1,"offset":0})
        
    ],justify="center")
    
])    



# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - CALLBACKS - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - COORDENATION - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #


@website.callback(
    Output("page-content", "children"),
    [Input("url", "pathname")]
)

def page_content(pathname):
    if pathname == "/":
        return [
                html.H1('PROJECT DESCRIPTION',
                        style={'textAlign':'center',"color":"goldenrod"}, className="mb-4"),
                cards
                
                ]
    elif pathname == "/page-1":
        return [
                html.H1('Program statistics',
                        style={'textAlign':'center',"color":"goldenrod"},className="mb-4"),
                graphs
                
                ]
    elif pathname == "/page-2":
        return [

                html.H1('CANVAS BOARD',
                style={'textAlign':'center',"color":"goldenrod"},className="mb-4"),

                html.H5("""Drawn the number inside the canvas.
                    Make sure to drawn the number on the center and as big as possible.""",
                    style={'textAlign':'center'}), canvas        
                ]
    
    
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - CARDS COLAPSE - - - - - - - - - - - - - - - - - - - - - - - - - - #     
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #


@website.callback(Output("objAns","is_open"),
                  [Input("objBtt","n_clicks")],
                  [State("objAns","is_open")],
                 )
def toggle_collapse(n,is_open):
    if n:
        return not is_open
    return is_open


@website.callback(Output("pgmAns","is_open"),
                  [Input("pgmBtt","n_clicks")],
                  [State("pgmAns","is_open")],
                 )
def toggle_collapse(n,is_open):
    if n:
        return not is_open
    return is_open


@website.callback(Output("intAns","is_open"),
                  [Input("intBtt","n_clicks")],
                  [State("intAns","is_open")],
                 )
def toggle_collapse(n,is_open):
    if n:
        return not is_open
    return is_open

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - GRAPHS - - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #


"""
@website.callback(Output("idg3","children"),
                 [Intput("result","n_clicks"),Input("number","text")])

def update_graph(clicks):
    if clicks:
        df
"""


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - DRAWING DATA - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #

@website.callback(Output("drawn_table","data"),Input("canvas_board", "json_data"))
def drawn_data(string):
    
    if string:
        data=json.loads(string)

        lstx=[]
        lsty=[]
        for i in range(1,len(data["objects"][1]["path"])-1):
            
            lstx.append(data["objects"][1]["path"][i][1])
            lstx.append(data["objects"][1]["path"][i][3])
            lsty.append(data["objects"][1]["path"][i][2])
            lsty.append(data["objects"][1]["path"][i][4])
            
        preguiax=data["objects"][1]["width"]
        preguiay=data["objects"][1]["height"]
        NTP_draw(lstx,lsty,preguiax,preguiay)
        fig=NTP_draw(lstx,lsty,preguiax,preguiay)[0]
        dfff=NTP_draw(lstx,lsty,preguiax,preguiay)[1]
        stddx=NTP_draw(lstx,lsty,preguiax,preguiay)[2]
        stddy=NTP_draw(lstx,lsty,preguiax,preguiay)[3]
        inf_limit=0.6
        upper_limit=1.5
        NRP_base(fig,preguiax,preguiay,df,dfff,stddx,stddy,inf_limit,upper_limit)


    else:
        raise PreventUpdate
    return data['objects'][1:]


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - CANVAS RES - - - - - - - - - - - - - - - - - - - - - - - - - - #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #


@website.callback(
    Output("idg1","figure"),
    [Input("y_btt","n_clicks"),
     Input("n_btt","n_clicks")],
)
def trig1 (n1,n2):
    
    triggered_id=ctx.triggered_id
    
    print(type(triggered_id))
    
    if triggered_id=="y_btt":
        df1.loc[0,"Final"]= df1.loc[0,"Final"]+1
        df1[0,"Precision"]=df1[0,"Final"]/sum(df1["Final"])
        df1[1,"Precision"]=df1[1,"Final"]/sum(df1["Final"])
        bar1=px.bar(data_frame=df1,
           x="Result",y="Precision",
            orientation="v", color_discrete_sequence=["goldenrod"],
           )
        bar1.update_layout(paper_bgcolor="#002b36",plot_bgcolor="#002b36")
        
        return bar1
    
    elif triggered_id=="n_btt":
        df1.loc[1,"Final"]= df1.loc[1,"Final"]+1
        df1[0,"Precision"]=df1[0,"Final"]/sum(df1["Final"])
        df1[1,"Precision"]=df1[1,"Final"]/sum(df1["Final"])
        bar1=px.bar(data_frame=df1,
           x="Result",y="Precision",
            orientation="v", color_discrete_sequence=["goldenrod"],
           )
        bar1.update_layout(paper_bgcolor="#002b36",plot_bgcolor="#002b36")
        return bar1
    
    else:
        df1[0,"Precision"]=df1[0,"Final"]/sum(df1["Final"])
        df1[1,"Precision"]=df1[1,"Final"]/sum(df1["Final"])
        bar1=px.bar(data_frame=df1,
           x="Result",y="Precision",
            orientation="v", color_discrete_sequence=["goldenrod"],
           )
        bar1.update_layout(paper_bgcolor="#002b36",plot_bgcolor="#002b36")
        
        return bar1

    
@website.callback(
    Output("idg2","figure"),
    [Input("y_btt","n_clicks"),Input("n_btt","n_clicks")],
    [State("dpdn","value")],
)
def trig2 (yb,nb,value):

    button_clicked = ctx.triggered_id
    print(button_clicked)
    
    if not button_clicked:
        
        df2.loc[value,"Precision"]=df2.loc[value,"Right"]/df2.loc[value,"Total"]
        
        bar2=px.bar(data_frame=df2,
           x="Numbers",y="Precision",
            orientation="v", color_discrete_sequence=["goldenrod"], labels={"Precision":"Precision in %"}
           )
        bar2.update_layout(paper_bgcolor="#002b36",plot_bgcolor="#002b36")

        
        return bar2
    
    elif button_clicked=="y_btt":
        
        df2.loc[value,"Total"]=df2.loc[value,"Total"]+1
        df2.loc[value,"Right"]=df2.loc[value,"Right"]+1
        df2.loc[value,"Precision"]=df2.loc[value,"Right"]/df2.loc[value,"Total"]
        
        bar2=px.bar(data_frame=df2,
           x="Numbers",y="Precision",
            orientation="v", color_discrete_sequence=["goldenrod"], labels={"Precision":"Precision in %"}
           )
        bar2.update_layout(paper_bgcolor="#002b36",plot_bgcolor="#002b36")

        return bar2
    
    elif button_clicked=="n_btt":
        
        df2.loc[value,"Total"]=df2.loc[value,"Total"]+1
        df2.loc[value,"Precision"]=df2.loc[value,"Right"]/df2.loc[value,"Total"]
        
        bar2=px.bar(data_frame=df2,
           x="Numbers",y="Precision",
            orientation="v", color_discrete_sequence=["goldenrod"], labels={"Precision":"Precision in %"}
           )
        bar2.update_layout(paper_bgcolor="#002b36",plot_bgcolor="#002b36")

        return bar2
    
@website.callback(
    Output("idg3","figure"),
    [Input("sbm_btt","n_clicks")],
    [State("dpdn","value")],
)
def trig3 (n,value):
    df3.loc[value,"Frequence"]= df3.loc[value,"Frequence"]+1
    bar3=px.bar(data_frame=df3,
       x="Numbers",y="Frequence",
        orientation="v", color_discrete_sequence=["goldenrod"], labels={"Frequence":"Frequency in %"}
       )
    bar3.update_layout(paper_bgcolor="#002b36",plot_bgcolor="#002b36")

    return bar3


# No est podendo ativar o debug, caso contrrio, a pgina cai. O flask considera o site como "de produo".
# O cdigo abaixo serviria para corrigir isso e permitir o debug=True.
website.run_server(debug=False)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [19/Jun/2022 18:44:06] "GET /page-2 HTTP/1.1" 200 -
127.0.0.1 - - [19/Jun/2022 18:44:06] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [19/Jun/2022 18:44:06] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [19/Jun/2022 18:44:06] "GET /_favicon.ico?v=2.4.1 HTTP/1.1" 200 -
127.0.0.1 - - [19/Jun/2022 18:44:06] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Jun/2022 18:44:06] "GET /_dash-component-suites/dash/dash_table/async-highlight.js HTTP/1.1" 200 -
127.0.0.1 - - [19/Jun/2022 18:44:06] "GET /_dash-component-suites/dash/dash_table/async-table.js HTTP/1.1" 200 -
127.0.0.1 - - [19/Jun/2022 18:44:06] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\adm\Documents\AnacondaPython\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\adm\Documents\AnacondaPython\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\adm\Documents\AnacondaPython\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\adm\Documents\AnacondaPython\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\adm\Documents\AnacondaPython\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\adm\Documents\AnacondaPython\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\adm\Documents\AnacondaPython\lib\site-packages\dash\dash.py", line 1372, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\adm\Documents\AnacondaPython\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-5-04b197429209>", line 372, in drawn_data
    raise PreventUpdate
NameError: name 'PreventUpdate' is not defined

127.0.0.1 - - [19/Jun/2022 18:44:06] "POST /_dash-update-component HTTP/1.1" 500 -

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2539.181216,1.031975,NaN,NaN,102,0.758242,"[0.0, 3.8000000000000003, 5.5362442142665635, ...",3.537811,"[1.6132265804901678, 3.383784863137726, 1.7670...",3.301056,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2539.181216,1.031975,NaN,NaN,102,0.758242,"[0.0, 3.8000000000000003, 5.5362442142665635, ...",3.537811,"[1.6132265804901678, 3.383784863137726, 1.7670...",3.301056,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2539.181216,1.031975,NaN,NaN,102,0.758242,"[0.0, 3.8000000000000003, 5.5362442142665635, ...",3.537811,"[1.6132265804901678, 3.383784863137726, 1.7670...",3.301056,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2539.181216,1.031975,NaN,NaN,102,0.758242,"[0.0, 3.8000000000000003, 5.5362442142665635, ...",3.537811,"[1.6132265804901678, 3.383784863137726, 1.7670...",3.301056,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2539.181216,1.031975,NaN,NaN,102,0.758242,"[0.0, 3.8000000000000003, 5.5362442142665635, ...",3.537811,"[1.6132265804901678, 3.383784863137726, 1.7670...",3.301056,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,9422.364891,-1.235984,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.3204225352112676, -0.640845070422535...","[4.2667001898682235, 5.452525122757304, 5.6845...",2.587147,"[4.92797670413939, 1.1146955763554, 3.77198549...",2.475814
num1,5805.743494,9.250595,114,0.230333,"[[0.0, 0.0, 0.0, 2.6538461538461537, 5.3076923...","[[0.0, -0.40308291991495393, -0.80616583982990...","[5.260879061634966, 9.03674220435409, 3.714131...",2.822102,"[3.5197225929128804, 4.420111322744783, 2.6393...",2.301661
num2,2638.092880,1.739663,90,0.819789,"[[0.0, 0.0, 0.0, 0.8859784283513098, 1.7719568...","[[0.0, -0.9578947368421052, -1.915789473684210...","[2.7739005691056633, 4.197373128938029, 4.3704...",3.312517,"[5.045743016459199, 3.77873731771458, 0.438833...",3.376561
num3,14071.420884,1.042718,250,0.312883,"[[0.0, 0.0, 0.0, 0.6764705882352942, 1.3529411...","[[0.0, -0.2791411042944785, -0.558282208588957...","[8.332448266724917, 12.656357949259826, 2.2580...",3.793749,"[0.546318436254224, 1.6324003759007069, 4.2082...",1.368056
num4,17487.820553,1.191218,290,0.464286,"[[0.0, 0.4423076923076923, 0.8846153846153846,...","[[0.0, 0.0, 0.0, 0.2708333333333333, 0.5416666...","[0.491388706833556, 0.4303115749765455, 14.206...",4.236410,"[8.181961941602559, 4.506510352025522, 0.92913...",3.339601
num5,9519.136199,-0.839001,174,0.426667,"[[0.0, -0.5390625, -1.078125, -1.6171875, -2.1...","[[0.0, 0.0, 0.0, 0.30333333333333334, 0.606666...","[12.066226721602668, 6.062416531949577, 2.0841...",3.530479,"[0.7645529258792935, 0.6201613313433066, 5.828...",2.195122
num6,18829.327932,-0.446495,326,0.434783,"[[0.0, -0.4928571428571429, -0.985714285714285...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.2826086956521739,...","[5.488894780372167, 7.074350521267088, 3.18694...",2.898382,"[2.782251749779185, 4.472762526623251, 5.73415...",1.847807
num7,9930.200989,1.314761,206,0.677419,"[[0.0, 0.32857142857142857, 0.6571428571428571...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[6.56658035441739, 6.857310117007712, 4.518633...",1.954835,"[0.0, 0.0, 0.5022594888827255, 0.7037512649168...",2.205093
num8,16120.426825,-0.982970,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.514925...","[[0.0, -0.27575757575757576, -0.55151515151515...","[12.717718558668127, 9.768672026906312, 7.1242...",3.945724,"[3.027602849626109, 4.355974338902614, 7.87123...",1.710675
num9,5790.074180,-0.836873,146,0.410596,"[[0.0, 0.0, 0.0, -1.6693548387096773, -3.33870...","[[0.0, -0.6026490066225165, -1.205298013245033...","[9.65513826358451, 9.750792044044779, 1.259407...",4.296088,"[0.7154636152375184, 3.362647995167821, 5.4863...",3.697960

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            0            0
1     1            1            6
2     2            6            5
3     3            4            1
4     4            1            2
5     5            0            0
6     6            0            0
7     7            2            3
8     8            0            0
9     9            0            0

<ipython-input-3-fe47632234ea>:359: RuntimeWarning:

divide by zero encountered in double_scalars

   nums  percentage
0     0           0
1     1           1
2     2           2
3     3           0
4     4           0
5     5           0
6     6           0
7     7           2
8     8           0
9     9           0

127.0.0.1 - - [19/Jun/2022 18:44:11] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [2, 3, 7]
FinalStanDevy  [1, 2, 7]
FinalRatio  [2]
Partial result[2, 1, 7]
Final result med --> 2

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3240.755043,0.734827,NaN,NaN,106,0.489304,"[0.5099019513592784, 0.9233092656309693, 0.502...",1.759867,"[2.8022312538404104, 6.481512169239521, 2.0396...",3.875365,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3240.755043,0.734827,NaN,NaN,106,0.489304,"[0.5099019513592784, 0.9233092656309693, 0.502...",1.759867,"[2.8022312538404104, 6.481512169239521, 2.0396...",3.875365,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3240.755043,0.734827,NaN,NaN,106,0.489304,"[0.5099019513592784, 0.9233092656309693, 0.502...",1.759867,"[2.8022312538404104, 6.481512169239521, 2.0396...",3.875365,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3240.755043,0.734827,NaN,NaN,106,0.489304,"[0.5099019513592784, 0.9233092656309693, 0.502...",1.759867,"[2.8022312538404104, 6.481512169239521, 2.0396...",3.875365,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3240.755043,0.734827,NaN,NaN,106,0.489304,"[0.5099019513592784, 0.9233092656309693, 0.502...",1.759867,"[2.8022312538404104, 6.481512169239521, 2.0396...",3.875365,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,7320.867977,-0.797597,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.3094366197183098, -0.618873239436619...","[2.6589580893381686, 3.397950438819769, 3.5425...",1.612280,"[4.75901750285461, 1.0764774423089285, 3.64266...",2.390929
num1,3647.237388,5.969533,114,0.230333,"[[0.0, 0.0, 0.0, 1.6538461538461537, 3.3076923...","[[0.0, -0.38926293408929835, -0.77852586817859...","[3.2785188355116452, 5.63159296793081, 2.31460...",1.758701,"[3.399046389727296, 4.268564648822105, 2.54888...",2.222747
num2,1908.803457,1.122628,90,0.819789,"[[0.0, 0.0, 0.0, 0.5521314843348742, 1.1042629...","[[0.0, -0.9250526315789473, -1.850105263157894...","[1.7286626735006307, 2.6157542687584816, 2.723...",2.064322,"[4.872746113037741, 3.649180609678651, 0.42378...",3.260793
num3,11336.952265,0.672880,250,0.312883,"[[0.0, 0.0, 0.0, 0.4215686274509804, 0.8431372...","[[0.0, -0.26957055214723924, -0.53914110429447...","[5.1926851517271215, 7.887295533596702, 1.4072...",2.364220,"[0.5275875184397933, 1.5764323630126824, 4.063...",1.321152
num4,13695.870010,0.768709,290,0.464286,"[[0.0, 0.27564102564102566, 0.5512820512820513...","[[0.0, 0.0, 0.0, 0.26154761904761903, 0.523095...","[0.30622774483830306, 0.26816518440567333, 8.8...",2.640082,"[7.901437532176186, 4.352001425670362, 0.89727...",3.225101
num5,8008.350472,-0.541418,174,0.426667,"[[0.0, -0.3359375, -0.671875, -1.0078125, -1.3...","[[0.0, 0.0, 0.0, 0.2929333333333333, 0.5858666...","[7.519532594621953, 3.7780276938236494, 1.2988...",2.200153,"[0.738339682706289, 0.5988986571258217, 5.6288...",2.119861
num6,17279.335151,-0.288129,326,0.434783,"[[0.0, -0.30714285714285716, -0.61428571428571...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.27291925465838507...","[3.420615587768162, 4.408653223398329, 1.98606...",1.806238,"[2.6868602612153274, 4.319410668567597, 5.5375...",1.784454
num7,7613.439241,0.848433,206,0.677419,"[[0.0, 0.20476190476190476, 0.4095238095238095...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[4.092216742607938, 4.2733961598743715, 2.8159...",1.218231,"[0.0, 0.0, 0.4850391635496035, 0.6796226501196...",2.129489
num8,13147.367496,-0.634324,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.320895...","[[0.0, -0.26630303030303026, -0.53260606060606...","[7.925534753952599, 6.087723147202484, 4.43977...",2.458929,"[2.923799323353214, 4.206626647283094, 7.60135...",1.652023
num9,4873.433273,-0.540046,146,0.410596,"[[0.0, 0.0, 0.0, -1.0403225806451615, -2.08064...","[[0.0, -0.5819867549668873, -1.163973509933774...","[6.016970222233826, 6.0765805491873275, 0.7848...",2.677272,"[0.6909334341436607, 3.247357206762067, 5.2982...",3.571173

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            0            0
1     1            2            2
2     2            1            1
3     3            3            2
4     4            1            3
5     5            0            0
6     6            0            0
7     7            2            3
8     8            0            0
9     9            0            0

<ipython-input-3-fe47632234ea>:359: RuntimeWarning:

divide by zero encountered in double_scalars

   nums  percentage
0     0           0
1     1           2
2     2           2
3     3           0
4     4           2
5     5           0
6     6           0
7     7           1
8     8           0
9     9           0

FinalStanDevx  [1, 3, 7]
FinalStanDevy  [1, 3, 4, 7]
FinalRatio  [1]
Partial result[1, 3, 4, 7]

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,7320.867977,-0.797597,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.3094366197183098, -0.618873239436619...","[2.6589580893381686, 3.397950438819769, 3.5425...",1.612280,"[4.75901750285461, 1.0764774423089285, 3.64266...",2.390929
num1,3647.237388,5.969533,114,0.230333,"[[0.0, 0.0, 0.0, 1.6538461538461537, 3.3076923...","[[0.0, -0.38926293408929835, -0.77852586817859...","[3.2785188355116452, 5.63159296793081, 2.31460...",1.758701,"[3.399046389727296, 4.268564648822105, 2.54888...",2.222747
num2,1908.803457,1.122628,90,0.819789,"[[0.0, 0.0, 0.0, 0.5521314843348742, 1.1042629...","[[0.0, -0.9250526315789473, -1.850105263157894...","[1.7286626735006307, 2.6157542687584816, 2.723...",2.064322,"[4.872746113037741, 3.649180609678651, 0.42378...",3.260793
num3,11336.952265,0.672880,250,0.312883,"[[0.0, 0.0, 0.0, 0.4215686274509804, 0.8431372...","[[0.0, -0.26957055214723924, -0.53914110429447...","[5.1926851517271215, 7.887295533596702, 1.4072...",2.364220,"[0.5275875184397933, 1.5764323630126824, 4.063...",1.321152
num4,13695.870010,0.768709,290,0.464286,"[[0.0, 0.27564102564102566, 0.5512820512820513...","[[0.0, 0.0, 0.0, 0.26154761904761903, 0.523095...","[0.30622774483830306, 0.26816518440567333, 8.8...",2.640082,"[7.901437532176186, 4.352001425670362, 0.89727...",3.225101
num5,8008.350472,-0.541418,174,0.426667,"[[0.0, -0.3359375, -0.671875, -1.0078125, -1.3...","[[0.0, 0.0, 0.0, 0.2929333333333333, 0.5858666...","[7.519532594621953, 3.7780276938236494, 1.2988...",2.200153,"[0.738339682706289, 0.5988986571258217, 5.6288...",2.119861
num6,17279.335151,-0.288129,326,0.434783,"[[0.0, -0.30714285714285716, -0.61428571428571...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.27291925465838507...","[3.420615587768162, 4.408653223398329, 1.98606...",1.806238,"[2.6868602612153274, 4.319410668567597, 5.5375...",1.784454
num7,7613.439241,0.848433,206,0.677419,"[[0.0, 0.20476190476190476, 0.4095238095238095...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[4.092216742607938, 4.2733961598743715, 2.8159...",1.218231,"[0.0, 0.0, 0.4850391635496035, 0.6796226501196...",2.129489
num8,13147.367496,-0.634324,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.320895...","[[0.0, -0.26630303030303026, -0.53260606060606...","[7.925534753952599, 6.087723147202484, 4.43977...",2.458929,"[2.923799323353214, 4.206626647283094, 7.60135...",1.652023
num9,4873.433273,-0.540046,146,0.410596,"[[0.0, 0.0, 0.0, -1.0403225806451615, -2.08064...","[[0.0, -0.5819867549668873, -1.163973509933774...","[6.016970222233826, 6.0765805491873275, 0.7848...",2.677272,"[0.6909334341436607, 3.247357206762067, 5.2982...",3.571173

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            0            0
1     1            0            2
2     2            1            0
3     3            2            1
4     4            1            0
5     5            0            0
6     6            0            0
7     7            1            2
8     8            0            0
9     9            0            0

<ipython-input-3-fe47632234ea>:359: RuntimeWarning:

divide by zero encountered in double_scalars

   nums  percentage
0     0           0
1     1           1
2     2           1
3     3           0
4     4           1
5     5           0
6     6           0
7     7           0
8     8           0
9     9           0

127.0.0.1 - - [19/Jun/2022 18:44:18] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [3]
FinalStanDevy  [1]
FinalRatio  [1]
Partial result[1]
Final result len 1--> 1

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3080.92409,0.947463,NaN,NaN,98,0.433285,"[0.0, 0.5270462766947299, 3.5039660069381067, ...",1.738151,"[5.351243076999568, 3.424674446093876, 0.33333...",4.238535,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3080.92409,0.947463,NaN,NaN,98,0.433285,"[0.0, 0.5270462766947299, 3.5039660069381067, ...",1.738151,"[5.351243076999568, 3.424674446093876, 0.33333...",4.238535,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3080.92409,0.947463,NaN,NaN,98,0.433285,"[0.0, 0.5270462766947299, 3.5039660069381067, ...",1.738151,"[5.351243076999568, 3.424674446093876, 0.33333...",4.238535,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3080.92409,0.947463,NaN,NaN,98,0.433285,"[0.0, 0.5270462766947299, 3.5039660069381067, ...",1.738151,"[5.351243076999568, 3.424674446093876, 0.33333...",4.238535,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3080.92409,0.947463,NaN,NaN,98,0.433285,"[0.0, 0.5270462766947299, 3.5039660069381067, ...",1.738151,"[5.351243076999568, 3.424674446093876, 0.33333...",4.238535,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,7176.742183,-0.706283,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.3169366197183099, -0.633873239436619...","[2.411613150795083, 3.0818620259063025, 3.2130...",1.462301,"[4.874364649885566, 1.1025686684368088, 3.7309...",2.448879
num1,3320.364807,5.286105,114,0.230333,"[[0.0, 0.0, 0.0, 1.5, 3.0, 3.75, 4.5, 5.25, 6....","[[0.0, -0.3986977321048902, -0.797395464209780...","[2.973540339184981, 5.10772385463492, 2.099291...",1.595101,"[3.4814311053636087, 4.372024397365472, 2.6106...",2.276621
num2,1833.639465,0.994103,90,0.819789,"[[0.0, 0.0, 0.0, 0.5007704160246533, 1.0015408...","[[0.0, -0.9474736842105264, -1.894947368421052...","[1.5678568434075486, 2.37242829026932, 2.47024...",1.872292,"[4.99084976825816, 3.737627977664717, 0.434059...",3.339827
num3,11214.336336,0.595844,250,0.312883,"[[0.0, 0.0, 0.0, 0.38235294117647056, 0.764705...","[[0.0, -0.27610429447852763, -0.55220858895705...","[4.709644672496691, 7.153593623494684, 1.27630...",2.144293,"[0.5403749719477219, 1.6146412948881608, 4.162...",1.353173
num4,13453.709350,0.680703,290,0.464286,"[[0.0, 0.25, 0.5, 0.5, 0.5, 0.75, 1.0, 1.0, 1....","[[0.0, 0.0, 0.0, 0.2678869047619048, 0.5357738...","[0.27774144299287945, 0.24321958585630832, 8.0...",2.394493,"[8.092949388611501, 4.457483481162828, 0.91902...",3.303269
num5,7999.249976,-0.479434,174,0.426667,"[[0.0, -0.3046875, -0.609375, -0.9140625, -1.2...","[[0.0, 0.0, 0.0, 0.3000333333333334, 0.6000666...","[6.820041190471073, 3.4265832571888915, 1.1780...",1.995488,"[0.756235262180167, 0.6134145212550663, 5.7653...",2.171241
num6,17551.107811,-0.255142,326,0.434783,"[[0.0, -0.2785714285714286, -0.557142857142857...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.2795341614906832,...","[3.1024187889060073, 3.998545946803137, 1.8013...",1.638216,"[2.7519832966771918, 4.4241028024325155, 5.671...",1.827705
num7,7437.358247,0.751299,206,0.677419,"[[0.0, 0.18571428571428572, 0.3714285714285714...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[3.7115454177141767, 3.8758709357000116, 2.554...",1.104907,"[0.0, 0.0, 0.496795347190485, 0.69609506983694...",2.181103
num8,13042.347591,-0.561703,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.291044...","[[0.0, -0.27275757575757575, -0.54551515151515...","[7.188275707073288, 5.521423319555742, 4.02677...",2.230192,"[2.994665192251056, 4.308585167523343, 7.78559...",1.692064
num9,4868.386224,-0.478218,146,0.410596,"[[0.0, 0.0, 0.0, -0.9435483870967742, -1.88709...","[[0.0, -0.5960927152317881, -1.192185430463576...","[5.457252062026027, 5.5113172422861805, 0.7118...",2.428224,"[0.7076800000827367, 3.326065341154457, 5.4266...",3.657729

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

invalid value encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            0            0
1     1            0            3
2     2            2            5
3     3            1            1
4     4            0            3
5     5            0            0
6     6            0            0
7     7            2            4
8     8            0            0
9     9            0            0

<ipython-input-3-fe47632234ea>:359: RuntimeWarning:

divide by zero encountered in double_scalars

   nums  percentage
0     0           0
1     1           1
2     2           1
3     3           0
4     4           2
5     5           0
6     6           0
7     7           1
8     8           0
9     9           0

127.0.0.1 - - [19/Jun/2022 18:44:58] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [2]
FinalStanDevy  [1, 2, 4, 7]
FinalRatio  [4]
Partial result[1, 2, 4, 7]
Final result med --> 2

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,6516.526394,0.87837,NaN,NaN,120,0.568916,"[0.8281086214313247, 1.2822235461190934, 9.849...",2.796132,"[8.324474457886215, 6.398106273647609, 1.54110...",4.756785,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,6516.526394,0.87837,NaN,NaN,120,0.568916,"[0.8281086214313247, 1.2822235461190934, 9.849...",2.796132,"[8.324474457886215, 6.398106273647609, 1.54110...",4.756785,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,6516.526394,0.87837,NaN,NaN,120,0.568916,"[0.8281086214313247, 1.2822235461190934, 9.849...",2.796132,"[8.324474457886215, 6.398106273647609, 1.54110...",4.756785,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,6516.526394,0.87837,NaN,NaN,120,0.568916,"[0.8281086214313247, 1.2822235461190934, 9.849...",2.796132,"[8.324474457886215, 6.398106273647609, 1.54110...",4.756785,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,6516.526394,0.87837,NaN,NaN,120,0.568916,"[0.8281086214313247, 1.2822235461190934, 9.849...",2.796132,"[8.324474457886215, 6.398106273647609, 1.54110...",4.756785,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,10304.180225,-0.927371,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.40848591549295776, -0.81697183098591...","[4.08119148596091, 5.215458813072203, 5.437430...",2.474662,"[6.282357993925391, 1.421053118824066, 4.80865...",3.156255
num1,5578.162730,6.940815,114,0.230333,"[[0.0, 0.0, 0.0, 2.5384615384615383, 5.0769230...","[[0.0, -0.5138642806520198, -1.027728561304039...","[5.032145189389968, 8.643840369382174, 3.55264...",2.699402,"[4.4870661319101455, 5.634913346721123, 3.3647...",2.934239
num2,2755.937343,1.305287,90,0.819789,"[[0.0, 0.0, 0.0, 0.8474576271186441, 1.6949152...","[[0.0, -1.2211578947368422, -2.442315789473684...","[2.6532961965358517, 4.014878645071157, 4.1804...",3.168494,"[6.432490630103646, 4.817267211297454, 0.55944...",4.304559
num3,15765.157015,0.782362,250,0.312883,"[[0.0, 0.0, 0.0, 0.6470588235294118, 1.2941176...","[[0.0, -0.3558588957055215, -0.711717791411043...","[7.970167907302095, 12.106081516683313, 2.1598...",3.628804,"[0.696465953734643, 2.0810414022883625, 5.3647...",1.744046
num4,19225.115566,0.893783,290,0.464286,"[[0.0, 0.4230769230769231, 0.8461538461538461,...","[[0.0, 0.0, 0.0, 0.3452678571428572, 0.6905357...","[0.47002398044948834, 0.4116023760645219, 13.5...",4.052219,"[10.430652800497946, 5.745057867455834, 1.1844...",4.257441
num5,10985.340959,-0.629511,174,0.426667,"[[0.0, -0.515625, -1.03125, -1.546875, -2.0625...","[[0.0, 0.0, 0.0, 0.38670000000000004, 0.773400...","[11.541608168489509, 5.7988332044735085, 1.993...",3.376980,"[0.9746789552885365, 0.7906034730674396, 7.430...",2.798419
num6,23115.967548,-0.335010,326,0.434783,"[[0.0, -0.4714285714285714, -0.942857142857142...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.3602795031055901,...","[5.25024718122555, 6.766770063820693, 3.048379...",2.772365,"[3.546912368042674, 5.702034952896302, 7.31010...",2.355650
num7,10765.181609,0.986478,206,0.677419,"[[0.0, 0.3142857142857143, 0.6285714285714286,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[6.281076860747069, 6.559166198876942, 4.32217...",1.869843,"[0.0, 0.0, 0.640298058299835, 0.89716685981317...",2.811130
num8,18210.865028,-0.737532,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.492537...","[[0.0, -0.35154545454545455, -0.70309090909090...","[12.164774273508641, 9.343947156171255, 6.8145...",3.774170,"[3.859694577858516, 5.553149264352661, 10.0345...",2.180828
num9,6684.094556,-0.627915,146,0.410596,"[[0.0, 0.0, 0.0, -1.596774193548387, -3.193548...","[[0.0, -0.7682781456953642, -1.536556291390728...","[9.23534964342866, 9.326844563868919, 1.204650...",4.109301,"[0.9120981758648851, 4.286821911202406, 6.9942...",4.714289

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            0            0
1     1            2            2
2     2            1            2
3     3            1            1
4     4            3            5
5     5            0            0
6     6            0            0
7     7            2            1
8     8            0            0
9     9            0            0

<ipython-input-3-fe47632234ea>:359: RuntimeWarning:

divide by zero encountered in double_scalars

   nums  percentage
0     0           0
1     1           0
2     2           1
3     3           1
4     4           3
5     5           0
6     6           0
7     7           1
8     8           0
9     9           0

127.0.0.1 - - [19/Jun/2022 18:45:13] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [1, 4, 7]
FinalStanDevy  [1, 2, 4]
FinalRatio  [2, 3, 4, 7]
Partial result[4, 7, 1, 2]
Final result med --> 4

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,9219.029192,-0.492473,NaN,NaN,186,0.513514,"[9.649729734589322, 5.925788482202387, 8.04155...",2.6484,"[2.7745814944124096, 6.3595946761129705, 9.990...",2.467274,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,9219.029192,-0.492473,NaN,NaN,186,0.513514,"[9.649729734589322, 5.925788482202387, 8.04155...",2.6484,"[2.7745814944124096, 6.3595946761129705, 9.990...",2.467274,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,9219.029192,-0.492473,NaN,NaN,186,0.513514,"[9.649729734589322, 5.925788482202387, 8.04155...",2.6484,"[2.7745814944124096, 6.3595946761129705, 9.990...",2.467274,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,9219.029192,-0.492473,NaN,NaN,186,0.513514,"[9.649729734589322, 5.925788482202387, 8.04155...",2.6484,"[2.7745814944124096, 6.3595946761129705, 9.990...",2.467274,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,9219.029192,-0.492473,NaN,NaN,186,0.513514,"[9.649729734589322, 5.925788482202387, 8.04155...",2.6484,"[2.7745814944124096, 6.3595946761129705, 9.990...",2.467274,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,9427.414638,-0.837061,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.3908450704225352, -0.781690140845070...","[3.5246653742389675, 4.504259884016903, 4.6959...",2.137208,"[6.011048507246948, 1.359683615114829, 4.60099...",3.019949
num1,4828.631129,6.264895,114,0.230333,"[[0.0, 0.0, 0.0, 2.1923076923076925, 4.3846153...","[[0.0, -0.49167257264351527, -0.98334514528703...","[4.345943572654972, 7.465134864466423, 3.06819...",2.331302,"[4.293287997948679, 5.391564360710669, 3.21946...",2.807521
num2,2478.205771,1.178174,90,0.819789,"[[0.0, 0.0, 0.0, 0.7318952234206472, 1.4637904...","[[0.0, -1.168421052631579, -2.336842105263158,...","[2.291483078826417, 3.4673951934705447, 3.6103...",2.736427,"[6.154697525571112, 4.609229035893608, 0.53528...",4.118663
num3,14544.060817,0.706173,250,0.312883,"[[0.0, 0.0, 0.0, 0.5588235294117647, 1.1176470...","[[0.0, -0.34049079754601225, -0.68098159509202...","[6.883326829033627, 10.45525221895377, 1.86536...",3.133967,"[0.6663884222441631, 1.9911696892854776, 5.133...",1.668728
num4,17621.833799,0.806744,290,0.464286,"[[0.0, 0.36538461538461536, 0.7307692307692307...","[[0.0, 0.0, 0.0, 0.33035714285714285, 0.660714...","[0.40592980129728545, 0.3554747793284506, 11.7...",3.499643,"[9.980195335361364, 5.496952187635528, 1.13333...",4.073580
num5,10230.834093,-0.568207,174,0.426667,"[[0.0, -0.4453125, -0.890625, -1.3359375, -1.7...","[[0.0, 0.0, 0.0, 0.37, 0.74, 1.109999999999999...","[9.967752509150031, 5.008083222045303, 1.72170...",2.916482,"[0.9325865359626544, 0.7564605250451323, 7.109...",2.677567
num6,21909.948156,-0.302385,326,0.434783,"[[0.0, -0.40714285714285714, -0.81428571428571...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.3447204968944099,...","[4.534304383785702, 5.8440286914815065, 2.6326...",2.394315,"[3.3937356508295555, 5.4557872577492414, 6.994...",2.253919
num7,9818.382878,0.890412,206,0.677419,"[[0.0, 0.2714285714285714, 0.5428571428571428,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[5.424566379736104, 5.6647344444846315, 3.7327...",1.614864,"[0.0, 0.0, 0.6126461897360719, 0.8584218725908...",2.689728
num8,16846.103780,-0.665709,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.425373...","[[0.0, -0.33636363636363636, -0.67272727272727...","[10.50594141803019, 8.069772543966083, 5.88527...",3.259511,"[3.693010069324155, 5.313331336463627, 9.60117...",2.086647
num9,6225.637967,-0.566766,146,0.410596,"[[0.0, 0.0, 0.0, -1.379032258064516, -2.758064...","[[0.0, -0.7350993377483444, -1.470198675496688...","[7.9759837829611175, 8.055002123341339, 1.0403...",3.548942,"[0.8727083658391709, 4.10169151058932, 6.69218...",4.510698

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            1            4
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            5            2
6     6            3            8
7     7            0            0
8     8            5           10
9     9            3            3

   nums  percentage
0     0           1
1     1           0
2     2           0
3     3           0
4     4           0
5     5           1
6     6           1
7     7           0
8     8           5
9     9           2

127.0.0.1 - - [19/Jun/2022 18:45:24] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [5, 6, 8, 9]
FinalStanDevy  [0, 6, 8]
FinalRatio  [0, 5, 6, 8, 9]
Partial result[5, 6, 8, 9, 0]
Final result med --> 8

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3529.234513,1.646561,NaN,NaN,70,0.821332,"[2.371170381813976, 6.61939019325891, 8.583325...",2.62196,"[0.0, 0.0, 0.0, 1.3209458577790665, 0.62269984...",3.095853,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3529.234513,1.646561,NaN,NaN,70,0.821332,"[2.371170381813976, 6.61939019325891, 8.583325...",2.62196,"[0.0, 0.0, 0.0, 1.3209458577790665, 0.62269984...",3.095853,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3529.234513,1.646561,NaN,NaN,70,0.821332,"[2.371170381813976, 6.61939019325891, 8.583325...",2.62196,"[0.0, 0.0, 0.0, 1.3209458577790665, 0.62269984...",3.095853,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3529.234513,1.646561,NaN,NaN,70,0.821332,"[2.371170381813976, 6.61939019325891, 8.583325...",2.62196,"[0.0, 0.0, 0.0, 1.3209458577790665, 0.62269984...",3.095853,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3529.234513,1.646561,NaN,NaN,70,0.821332,"[2.371170381813976, 6.61939019325891, 8.583325...",2.62196,"[0.0, 0.0, 0.0, 1.3209458577790665, 0.62269984...",3.095853,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,9672.896397,-1.338826,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.3129577464788732, -0.625915492957746...","[4.5140451284113094, 5.768613535670771, 6.0141...",2.737127,"[4.813171093009988, 1.0887268442469007, 3.6841...",2.418136
num1,6137.065484,10.020301,114,0.230333,"[[0.0, 0.0, 0.0, 2.8076923076923075, 5.6153846...","[[0.0, -0.3936924167257264, -0.787384833451452...","[5.565857557961631, 9.56061131764998, 3.929443...",2.985703,"[3.4377246599790854, 4.3171373007204, 2.577889...",2.248040
num2,2739.346230,1.884414,90,0.819789,"[[0.0, 0.0, 0.0, 0.9373394966615306, 1.8746789...","[[0.0, -0.935578947368421, -1.871157894736842,...","[2.934706399198745, 4.440699107427188, 4.62378...",3.504547,"[4.928193838493336, 3.690705195587602, 0.42861...",3.297898
num3,14350.658323,1.129478,250,0.312883,"[[0.0, 0.0, 0.0, 0.7156862745098039, 1.4313725...","[[0.0, -0.27263803680981596, -0.54527607361963...","[8.815488745955346, 13.390059859361847, 2.3889...",4.013677,"[0.5335910177392903, 1.5943708286819214, 4.110...",1.336185
num4,17927.759640,1.290335,290,0.464286,"[[0.0, 0.46794871794871795, 0.9358974358974359...","[[0.0, 0.0, 0.0, 0.2645238095238095, 0.5290476...","[0.5198750086789795, 0.4552571735259105, 15.02...",4.481999,"[7.991349201864127, 4.401523517450861, 0.90748...",3.261800
num5,9624.500541,-0.908811,174,0.426667,"[[0.0, -0.5703125, -1.140625, -1.7109375, -2.2...","[[0.0, 0.0, 0.0, 0.2962666666666667, 0.5925333...","[12.76571812575355, 6.413860968584335, 2.20498...",3.735144,"[0.7467413632104571, 0.6057136168109131, 5.692...",2.143983
num6,18653.720441,-0.483646,326,0.434783,"[[0.0, -0.5214285714285715, -1.042857142857143...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.2760248447204969,...","[5.807091579234322, 7.484457797862281, 3.37169...",3.066404,"[2.717434456267846, 4.368561905123897, 5.60056...",1.804759
num7,10217.508542,1.424157,206,0.677419,"[[0.0, 0.3476190476190476, 0.6952380952380952,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[6.947251679311151, 7.254835341182073, 4.78058...",2.068159,"[0.0, 0.0, 0.4905584985922709, 0.6873561805033...",2.153721
num8,16401.740441,-1.064759,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.544776...","[[0.0, -0.2693333333333333, -0.538666666666666...","[13.454977605547437, 10.334971854553055, 7.537...",4.174461,"[2.9570696843381157, 4.254494497161146, 7.6878...",1.670822
num9,5853.580077,-0.906506,146,0.410596,"[[0.0, 0.0, 0.0, -1.7661290322580645, -3.53225...","[[0.0, -0.5886092715231788, -1.177218543046357...","[10.214856423792309, 10.316055350945925, 1.332...",4.545136,"[0.6987956716737432, 3.284309382533142, 5.3585...",3.611810

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

invalid value encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

invalid value encountered in true_divide

   nums  percentagex  percentagey
0     0            0            0
1     1            3            3
2     2            5            2
3     3            1            2
4     4            0            2
5     5            0            0
6     6            0            0
7     7            6            4
8     8            0            0
9     9            0            0

<ipython-input-3-fe47632234ea>:360: RuntimeWarning:

divide by zero encountered in double_scalars

<ipython-input-3-fe47632234ea>:359: RuntimeWarning:

divide by zero encountered in double_scalars

<ipython-input-3-fe47632234ea>:361: RuntimeWarning:

invalid value encountered in double_scalars

   nums  percentage
0     0           0
1     1           0
2     2           0
3     3           1
4     4           0
5     5           0
6     6           0
7     7           3
8     8           0
9     9           0

127.0.0.1 - - [19/Jun/2022 18:45:36] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [1, 2, 7]
FinalStanDevy  [1, 2, 3, 4, 7]
FinalRatio  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Partial result[1, 2, 7, 3, 4]
Final result med --> 7

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,13288.114247,-2.061293,NaN,NaN,416,1.035088,"[3.7866590071783404, 4.928609917292625, 1.6936...",1.848195,"[4.545428045999225, 2.408837585390515, 4.94135...",1.473897,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,13288.114247,-2.061293,NaN,NaN,416,1.035088,"[3.7866590071783404, 4.928609917292625, 1.6936...",1.848195,"[4.545428045999225, 2.408837585390515, 4.94135...",1.473897,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,13288.114247,-2.061293,NaN,NaN,416,1.035088,"[3.7866590071783404, 4.928609917292625, 1.6936...",1.848195,"[4.545428045999225, 2.408837585390515, 4.94135...",1.473897,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,13288.114247,-2.061293,NaN,NaN,416,1.035088,"[3.7866590071783404, 4.928609917292625, 1.6936...",1.848195,"[4.545428045999225, 2.408837585390515, 4.94135...",1.473897,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,13288.114247,-2.061293,NaN,NaN,416,1.035088,"[3.7866590071783404, 4.928609917292625, 1.6936...",1.848195,"[4.545428045999225, 2.408837585390515, 4.94135...",1.473897,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,7280.932449,-1.687261,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.2007042253521127, -0.401408450704225...","[3.64833784351051, 4.662304090473636, 4.860732...",2.212198,"[3.0867546388565406, 0.6982159104643718, 2.362...",1.550785
num1,4951.027705,12.628132,114,0.230333,"[[0.0, 0.0, 0.0, 2.269230769230769, 4.53846153...","[[0.0, -0.25248051027639973, -0.50496102055279...","[4.498432820818304, 7.727069421114367, 3.17585...",2.413102,"[2.204661404352024, 2.7686411582027763, 1.6532...",1.441700
num2,2121.990486,2.374841,90,0.819789,"[[0.0, 0.0, 0.0, 0.7575757575757576, 1.5151515...","[[0.0, -0.6, -1.2, -2.1, -3.0, -4.5, -6.0, -7....","[2.371885993872958, 3.5890581827151244, 3.7370...",2.832442,"[3.1605203509689486, 2.3669013968102313, 0.274...",2.114989
num3,10612.766726,1.423430,250,0.312883,"[[0.0, 0.0, 0.0, 0.5784313725490197, 1.1568627...","[[0.0, -0.17484662576687116, -0.34969325153374...","[7.124847068648842, 10.822103174004779, 1.9308...",3.243930,"[0.342199460071327, 1.0224925431465965, 2.6359...",0.856914
num4,13445.041608,1.626151,290,0.464286,"[[0.0, 0.3782051282051282, 0.7564102564102564,...","[[0.0, 0.0, 0.0, 0.16964285714285715, 0.339285...","[0.42017295221999723, 0.3679475786031331, 12.1...",3.622438,"[5.124965172212593, 2.8227592314885146, 0.5819...",2.091838
num5,6945.125565,-1.145333,174,0.426667,"[[0.0, -0.4609375, -0.921875, -1.3828125, -1.8...","[[0.0, 0.0, 0.0, 0.19, 0.38, 0.570000000000000...","[10.317498211225471, 5.183805440362682, 1.7821...",3.018815,"[0.4788957887375794, 0.388452702050203, 3.6509...",1.374967
num6,12612.280016,-0.609517,326,0.434783,"[[0.0, -0.42142857142857143, -0.84285714285714...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.17701863354037267...","[4.69340278321678, 6.049082329779103, 2.725066...",2.478327,"[1.7427291179935556, 2.80162048370907, 3.59172...",1.157418
num7,7736.516612,1.794800,206,0.677419,"[[0.0, 0.28095238095238095, 0.5619047619047619...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[5.614902042182984, 5.863497056571811, 3.86375...",1.671526,"[0.0, 0.0, 0.31460209743203693, 0.440811231870...",1.381212
num8,12050.889252,-1.341868,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.440298...","[[0.0, -0.17272727272727273, -0.34545454545454...","[10.874570941469846, 8.352922457789456, 6.0917...",3.373880,"[1.896410576139431, 2.7284674430488898, 4.9303...",1.071521
num9,4222.761524,-1.142429,146,0.410596,"[[0.0, 0.0, 0.0, -1.4274193548387097, -2.85483...","[[0.0, -0.37748344370860926, -0.75496688741721...","[8.255842863065016, 8.337633776791913, 1.07688...",3.673466,"[0.44814753921470935, 2.1062740189512725, 3.43...",2.316305

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            5            5
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            6            4
6     6            9            5
7     7            0            0
8     8            2            5
9     9            1            5

   nums  percentage
0     0           0
1     1           0
2     2           0
3     3           0
4     4           0
5     5           2
6     6           1
7     7           0
8     8           5
9     9           1

127.0.0.1 - - [19/Jun/2022 18:47:07] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [0, 5, 6]
FinalStanDevy  [0, 6, 8, 9]
FinalRatio  [5, 6, 8, 9]
Partial result[5, 6, 0, 8, 9]
Final result med --> 6

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,18400.851421,-5.586983,NaN,NaN,434,1.045977,"[1.7338453155199143, 8.784604754470521, 1.7927...",3.823738,"[10.06040436928622, 1.8536211326501557, 9.3842...",4.1714,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,18400.851421,-5.586983,NaN,NaN,434,1.045977,"[1.7338453155199143, 8.784604754470521, 1.7927...",3.823738,"[10.06040436928622, 1.8536211326501557, 9.3842...",4.1714,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,18400.851421,-5.586983,NaN,NaN,434,1.045977,"[1.7338453155199143, 8.784604754470521, 1.7927...",3.823738,"[10.06040436928622, 1.8536211326501557, 9.3842...",4.1714,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,18400.851421,-5.586983,NaN,NaN,434,1.045977,"[1.7338453155199143, 8.784604754470521, 1.7927...",3.823738,"[10.06040436928622, 1.8536211326501557, 9.3842...",4.1714,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,18400.851421,-5.586983,NaN,NaN,434,1.045977,"[1.7338453155199143, 8.784604754470521, 1.7927...",3.823738,"[10.06040436928622, 1.8536211326501557, 9.3842...",4.1714,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,11199.638900,-1.705012,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.30633802816901406, -0.61267605633802...","[5.627097351855194, 7.1910113937813716, 7.4970...",3.412035,"[4.7113623435178775, 1.0656979686035144, 3.606...",2.366987
num1,7635.838015,12.760982,114,0.230333,"[[0.0, 0.0, 0.0, 3.5, 7.0, 8.75, 10.5, 12.25, ...","[[0.0, -0.3853649893692417, -0.770729978738483...","[6.938260791431622, 11.918022327481482, 4.8983...",3.721903,"[3.3650095119057206, 4.225820715151606, 2.5233...",2.200489
num2,3267.791730,2.399825,90,0.819789,"[[0.0, 0.0, 0.0, 1.1684643040575244, 2.3369286...","[[0.0, -0.9157894736842105, -1.831578947368421...","[3.6583326346176133, 5.535666010628414, 5.7638...",4.368681,"[4.823952114636818, 3.612638974078773, 0.41954...",3.228141
num3,16312.728069,1.438405,250,0.312883,"[[0.0, 0.0, 0.0, 0.8921568627450981, 1.7843137...","[[0.0, -0.2668711656441718, -0.533742331288343...","[10.989170902492281, 16.691718454820933, 2.978...",5.003350,"[0.5223044390562361, 1.5606465132237528, 4.023...",1.307922
num4,20678.253061,1.643258,290,0.464286,"[[0.0, 0.5833333333333334, 1.1666666666666667,...","[[0.0, 0.0, 0.0, 0.25892857142857145, 0.517857...","[0.6480633669833855, 0.5675123669980527, 18.73...",5.587150,"[7.8223152628508, 4.308421984903522, 0.8882919...",3.192806
num5,10663.877372,-1.157382,174,0.426667,"[[0.0, -0.7109375, -1.421875, -2.1328125, -2.8...","[[0.0, 0.0, 0.0, 0.29, 0.58, 0.869999999999999...","[15.913429444432506, 7.995360933440747, 2.7486...",4.656139,"[0.7309462038626211, 0.5929014926029414, 5.572...",2.098633
num6,19305.389056,-0.615929,326,0.434783,"[[0.0, -0.65, -1.3, -1.9500000000000002, -2.6,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.2701863354037267,...","[7.238977174114017, 9.329940542540651, 4.20306...",3.822504,"[2.6599549695691116, 4.2761575803980545, 5.482...",1.766585
num7,11903.282297,1.813682,206,0.677419,"[[0.0, 0.43333333333333335, 0.8666666666666667...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[8.660272641333078, 9.043698849966692, 5.95935...",2.578116,"[0.0, 0.0, 0.48018214871205633, 0.672817143382...",2.108165
num8,18518.103973,-1.355985,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.679104...","[[0.0, -0.2636363636363636, -0.527272727272727...","[16.77264331650434, 12.883321078963396, 9.3957...",5.203780,"[2.8945214056864996, 4.16450293939041, 7.52524...",1.635480
num9,6483.745178,-1.154448,146,0.410596,"[[0.0, 0.0, 0.0, -2.2016129032258065, -4.40322...","[[0.0, -0.5761589403973509, -1.152317880794701...","[12.733588144727399, 12.859740232001085, 1.660...",5.665855,"[0.684014665117188, 3.2148392920835205, 5.2452...",3.535412

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            3            1
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            5            1
6     6            6            2
7     7            0            0
8     8            5            3
9     9            2            1

   nums  percentage
0     0           1
1     1           0
2     2           0
3     3           0
4     4           0
5     5           1
6     6           1
7     7           0
8     8           1
9     9           0

FinalStanDevx  [5, 6, 8]
FinalStanDevy  [0, 5, 6, 8, 9]
FinalRatio  [0]
Partial result[0, 5, 6, 8, 9]

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,11199.638900,-1.705012,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.30633802816901406, -0.61267605633802...","[5.627097351855194, 7.1910113937813716, 7.4970...",3.412035,"[4.7113623435178775, 1.0656979686035144, 3.606...",2.366987
num1,7635.838015,12.760982,114,0.230333,"[[0.0, 0.0, 0.0, 3.5, 7.0, 8.75, 10.5, 12.25, ...","[[0.0, -0.3853649893692417, -0.770729978738483...","[6.938260791431622, 11.918022327481482, 4.8983...",3.721903,"[3.3650095119057206, 4.225820715151606, 2.5233...",2.200489
num2,3267.791730,2.399825,90,0.819789,"[[0.0, 0.0, 0.0, 1.1684643040575244, 2.3369286...","[[0.0, -0.9157894736842105, -1.831578947368421...","[3.6583326346176133, 5.535666010628414, 5.7638...",4.368681,"[4.823952114636818, 3.612638974078773, 0.41954...",3.228141
num3,16312.728069,1.438405,250,0.312883,"[[0.0, 0.0, 0.0, 0.8921568627450981, 1.7843137...","[[0.0, -0.2668711656441718, -0.533742331288343...","[10.989170902492281, 16.691718454820933, 2.978...",5.003350,"[0.5223044390562361, 1.5606465132237528, 4.023...",1.307922
num4,20678.253061,1.643258,290,0.464286,"[[0.0, 0.5833333333333334, 1.1666666666666667,...","[[0.0, 0.0, 0.0, 0.25892857142857145, 0.517857...","[0.6480633669833855, 0.5675123669980527, 18.73...",5.587150,"[7.8223152628508, 4.308421984903522, 0.8882919...",3.192806
num5,10663.877372,-1.157382,174,0.426667,"[[0.0, -0.7109375, -1.421875, -2.1328125, -2.8...","[[0.0, 0.0, 0.0, 0.29, 0.58, 0.869999999999999...","[15.913429444432506, 7.995360933440747, 2.7486...",4.656139,"[0.7309462038626211, 0.5929014926029414, 5.572...",2.098633
num6,19305.389056,-0.615929,326,0.434783,"[[0.0, -0.65, -1.3, -1.9500000000000002, -2.6,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.2701863354037267,...","[7.238977174114017, 9.329940542540651, 4.20306...",3.822504,"[2.6599549695691116, 4.2761575803980545, 5.482...",1.766585
num7,11903.282297,1.813682,206,0.677419,"[[0.0, 0.43333333333333335, 0.8666666666666667...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[8.660272641333078, 9.043698849966692, 5.95935...",2.578116,"[0.0, 0.0, 0.48018214871205633, 0.672817143382...",2.108165
num8,18518.103973,-1.355985,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.679104...","[[0.0, -0.2636363636363636, -0.527272727272727...","[16.77264331650434, 12.883321078963396, 9.3957...",5.203780,"[2.8945214056864996, 4.16450293939041, 7.52524...",1.635480
num9,6483.745178,-1.154448,146,0.410596,"[[0.0, 0.0, 0.0, -2.2016129032258065, -4.40322...","[[0.0, -0.5761589403973509, -1.152317880794701...","[12.733588144727399, 12.859740232001085, 1.660...",5.665855,"[0.684014665117188, 3.2148392920835205, 5.2452...",3.535412

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            2            1
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            2            1
6     6            4            2
7     7            0            0
8     8            2            2
9     9            1            0

   nums  percentage
0     0           0
1     1           0
2     2           0
3     3           0
4     4           0
5     5           1
6     6           0
7     7           0
8     8           1
9     9           0

127.0.0.1 - - [19/Jun/2022 18:47:50] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [0, 5, 6, 8]
FinalStanDevy  [6]
FinalRatio  [5]
Partial result[5, 6]
Final result med --> 6

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,11937.239484,-10.219785,NaN,NaN,296,0.815631,"[2.8036200481795146, 4.905407242424518, 3.7769...",2.383544,"[3.4303846204865813, 4.31620291575687, 2.54706...",1.817218,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,11937.239484,-10.219785,NaN,NaN,296,0.815631,"[2.8036200481795146, 4.905407242424518, 3.7769...",2.383544,"[3.4303846204865813, 4.31620291575687, 2.54706...",1.817218,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,11937.239484,-10.219785,NaN,NaN,296,0.815631,"[2.8036200481795146, 4.905407242424518, 3.7769...",2.383544,"[3.4303846204865813, 4.31620291575687, 2.54706...",1.817218,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,11937.239484,-10.219785,NaN,NaN,296,0.815631,"[2.8036200481795146, 4.905407242424518, 3.7769...",2.383544,"[3.4303846204865813, 4.31620291575687, 2.54706...",1.817218,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,11937.239484,-10.219785,NaN,NaN,296,0.815631,"[2.8036200481795146, 4.905407242424518, 3.7769...",2.383544,"[3.4303846204865813, 4.31620291575687, 2.54706...",1.817218,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,11159.707368,-1.329532,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.3626760563380282, -0.725352112676056...","[5.194862071751153, 6.638646892215089, 6.92118...",3.149945,"[5.577819786003924, 1.2616883996110582, 4.2693...",2.802295
num1,7063.157972,9.950748,114,0.230333,"[[0.0, 0.0, 0.0, 3.2311538461538465, 6.4623076...","[[0.0, -0.4562367115520907, -0.912473423104181...","[6.405310869100775, 11.002561051996917, 4.5220...",3.436012,"[3.9838618359343596, 5.002983145524315, 2.9874...",2.605177
num2,3157.354689,1.871334,90,0.819789,"[[0.0, 0.0, 0.0, 1.0787108371854135, 2.1574216...","[[0.0, -1.0842105263157895, -2.168421052631579...","[3.3773244465299523, 5.110453863218605, 5.3211...",4.033109,"[5.711115721926347, 4.277032348621995, 0.49670...",3.821822
num3,16565.876337,1.121638,250,0.312883,"[[0.0, 0.0, 0.0, 0.8236274509803923, 1.6472549...","[[0.0, -0.3159509202453988, -0.631901840490797...","[10.145057665037104, 15.409574366917655, 2.749...",4.619027,"[0.6183604278481876, 1.8476619639315695, 4.763...",1.548459
num4,20685.889986,1.281379,290,0.464286,"[[0.0, 0.538525641025641, 1.077051282051282, 1...","[[0.0, 0.0, 0.0, 0.30654761904761907, 0.613095...","[0.598283554508508, 0.5239199335330376, 17.296...",5.157983,"[9.260901977857843, 5.100775453391525, 1.05165...",3.779988
num5,11118.552646,-0.902502,174,0.426667,"[[0.0, -0.656328125, -1.31265625, -1.968984375...","[[0.0, 0.0, 0.0, 0.3433333333333333, 0.6866666...","[14.691068215678845, 7.381211780421506, 2.5375...",4.298486,"[0.8653730919293101, 0.7019408475644019, 6.597...",2.484589
num6,21588.795357,-0.480289,326,0.434783,"[[0.0, -0.6000714285714286, -1.200142857142857...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.3198757763975155,...","[6.682928268102401, 8.613278076690552, 3.88021...",3.528885,"[3.1491420904094074, 5.0625773652988455, 6.490...",2.091474
num7,11785.737268,1.414271,206,0.677419,"[[0.0, 0.4000476190476191, 0.8000952380952382,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[7.995049501081231, 8.349023520722, 5.50160024...",2.380083,"[0.0, 0.0, 0.5684915093947335, 0.7965536295212...",2.495874
num8,18937.430423,-1.057369,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.626940...","[[0.0, -0.31212121212121213, -0.62424242424242...","[15.48428313208274, 11.893712130150716, 8.6740...",4.804061,"[3.4268471814449364, 4.930388537439222, 8.9091...",1.936258
num9,6762.315371,-0.900214,146,0.410596,"[[0.0, 0.0, 0.0, -2.0324999999999998, -4.06499...","[[0.0, -0.6821192052980133, -1.364238410596026...","[11.75548065976427, 11.871942603191332, 1.5333...",5.230642,"[0.80981046559851, 3.8060741044207207, 6.20986...",4.185603

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            2            2
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            2            2
6     6            1            4
7     7            0            0
8     8            2            6
9     9            0            4

   nums  percentage
0     0           1
1     1           0
2     2           0
3     3           0
4     4           0
5     5           1
6     6           2
7     7           0
8     8           2
9     9           0

127.0.0.1 - - [19/Jun/2022 18:48:38] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [0]
FinalStanDevy  [6, 8, 9]
FinalRatio  [6]
Partial result[6, 8, 9]
Final result med --> 8

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,7981.191014,-0.023437,NaN,NaN,218,1.135135,"[3.8744467822491413, 2.974380401951002, 0.9373...",2.023151,"[0.0, 2.573411933521689, 3.510108499463305, 4....",1.572297,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,7981.191014,-0.023437,NaN,NaN,218,1.135135,"[3.8744467822491413, 2.974380401951002, 0.9373...",2.023151,"[0.0, 2.573411933521689, 3.510108499463305, 4....",1.572297,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,7981.191014,-0.023437,NaN,NaN,218,1.135135,"[3.8744467822491413, 2.974380401951002, 0.9373...",2.023151,"[0.0, 2.573411933521689, 3.510108499463305, 4....",1.572297,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,7981.191014,-0.023437,NaN,NaN,218,1.135135,"[3.8744467822491413, 2.974380401951002, 0.9373...",2.023151,"[0.0, 2.573411933521689, 3.510108499463305, 4....",1.572297,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,7981.191014,-0.023437,NaN,NaN,218,1.135135,"[3.8744467822491413, 2.974380401951002, 0.9373...",2.023151,"[0.0, 2.573411933521689, 3.510108499463305, 4....",1.572297,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,10136.495452,-1.850345,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.2605633802816901, -0.521126760563380...","[5.194243709404795, 6.637856671182804, 6.92036...",3.149570,"[4.007365671497966, 0.9064557434098864, 3.0673...",2.013299
num1,7045.218866,13.848716,114,0.230333,"[[0.0, 0.0, 0.0, 3.230769230769231, 6.46153846...","[[0.0, -0.32778171509567683, -0.65556343019135...","[6.404548422859959, 11.001251379213675, 4.5215...",3.435603,"[2.8621919986324524, 3.59437624047378, 2.14630...",1.871681
num2,2982.557587,2.604384,90,0.819789,"[[0.0, 0.0, 0.0, 1.078582434514638, 2.15716486...","[[0.0, -0.7789473684210526, -1.557894736842105...","[3.37692243195472, 5.109845548272382, 5.320520...",4.032629,"[4.103131683714074, 3.0728193572624045, 0.3568...",2.745775
num3,14682.998485,1.561013,250,0.312883,"[[0.0, 0.0, 0.0, 0.8235294117647058, 1.6470588...","[[0.0, -0.22699386503067484, -0.45398773006134...","[10.143850063839027, 15.407740112142395, 2.748...",4.618477,"[0.44425894816277545, 1.3274464595236517, 3.42...",1.112485
num4,18694.316042,1.783328,290,0.464286,"[[0.0, 0.5384615384615384, 1.0769230769230769,...","[[0.0, 0.0, 0.0, 0.22023809523809523, 0.440476...","[0.5982123387538942, 0.5238575695366641, 17.29...",5.157369,"[6.653463556907576, 3.664634791757018, 0.75555...",2.715720
num5,9520.791214,-1.256036,174,0.426667,"[[0.0, -0.65625, -1.3125, -1.96875, -2.625, -4...","[[0.0, 0.0, 0.0, 0.24666666666666667, 0.493333...","[14.689319487168467, 7.380333169329919, 2.5372...",4.297974,"[0.6217243573084363, 0.5043070166967548, 4.739...",1.785044
num6,16817.249761,-0.668431,326,0.434783,"[[0.0, -0.6, -1.2, -1.7999999999999998, -2.4, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.22981366459627328...","[6.682132776105246, 8.612252808499063, 3.87975...",3.528465,"[2.2624904338863705, 3.637191505166161, 4.6629...",1.502612
num7,10792.620774,1.968279,206,0.677419,"[[0.0, 0.4, 0.8, 1.2000000000000002, 1.6, 2.80...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[7.994097822768998, 8.348029707661563, 5.50094...",2.379800,"[0.0, 0.0, 0.4084307931573813, 0.5722812483938...",1.793152
num8,16633.038087,-1.471567,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.626865...","[[0.0, -0.22424242424242424, -0.44848484848484...","[15.482439984465545, 11.892296380581598, 8.673...",4.803490,"[2.46200671288277, 3.5422208909757518, 6.40078...",1.391098
num9,5788.156774,-1.252852,146,0.410596,"[[0.0, 0.0, 0.0, -2.032258064516129, -4.064516...","[[0.0, -0.4900662251655629, -0.980132450331125...","[11.754081364363751, 11.870529444924077, 1.533...",5.230020,"[0.5818055772261139, 2.7344610070595468, 4.461...",3.007132

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

invalid value encountered in true_divide

   nums  percentagex  percentagey
0     0            3            2
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            6            6
6     6            4            5
7     7            0            0
8     8            0            4
9     9            2            4

<ipython-input-3-fe47632234ea>:396: RuntimeWarning:

divide by zero encountered in double_scalars

   nums  percentage
0     0           0
1     1           0
2     2           0
3     3           0
4     4           0
5     5           0
6     6           1
7     7           0
8     8           0
9     9           1

127.0.0.1 - - [19/Jun/2022 18:49:00] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [0, 5, 6]
FinalStanDevy  [5, 6, 8, 9]
FinalRatio  [6]
Partial result[6, 5, 8, 9]
Final result med --> 5

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4207.320822,-0.428313,NaN,NaN,102,0.633333,"[3.5443617196894563, 5.453439281774393, 2.0396...",1.262342,"[1.5297058540778357, 5.783813620786894, 4.8072...",1.711654,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4207.320822,-0.428313,NaN,NaN,102,0.633333,"[3.5443617196894563, 5.453439281774393, 2.0396...",1.262342,"[1.5297058540778357, 5.783813620786894, 4.8072...",1.711654,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4207.320822,-0.428313,NaN,NaN,102,0.633333,"[3.5443617196894563, 5.453439281774393, 2.0396...",1.262342,"[1.5297058540778357, 5.783813620786894, 4.8072...",1.711654,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4207.320822,-0.428313,NaN,NaN,102,0.633333,"[3.5443617196894563, 5.453439281774393, 2.0396...",1.262342,"[1.5297058540778357, 5.783813620786894, 4.8072...",1.711654,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4207.320822,-0.428313,NaN,NaN,102,0.633333,"[3.5443617196894563, 5.453439281774393, 2.0396...",1.262342,"[1.5297058540778357, 5.783813620786894, 4.8072...",1.711654,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,5616.356929,-1.032375,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.2112676056338028, -0.422535211267605...","[2.349776916159312, 3.002839922677935, 3.13064...",1.424806,"[3.2492154093226744, 0.7349641162782856, 2.487...",1.632405
num1,3205.358224,7.726704,114,0.230333,"[[0.0, 0.0, 0.0, 1.4615384615384615, 2.9230769...","[[0.0, -0.2657689581856839, -0.531537916371367...","[2.8972957151033145, 4.976756576310948, 2.0454...",1.554201,"[2.3206962151073935, 2.9143591138976594, 1.740...",1.517579
num2,1529.047558,1.453081,90,0.819789,"[[0.0, 0.0, 0.0, 0.48793014894709813, 0.975860...","[[0.0, -0.631578947368421, -1.263157894736842,...","[1.527655385884278, 2.31159679564703, 2.406902...",1.824285,"[3.3268635273357354, 2.4914751545370852, 0.289...",2.226304
num3,8516.017944,0.870946,250,0.312883,"[[0.0, 0.0, 0.0, 0.37254901960784315, 0.745098...","[[0.0, -0.18404907975460122, -0.36809815950920...","[4.588884552689084, 6.970168145969179, 1.24357...",2.089311,"[0.36020995796981786, 1.0763079401543123, 2.77...",0.902015
num4,10458.111269,0.994984,290,0.464286,"[[0.0, 0.24358974358974358, 0.4871794871794871...","[[0.0, 0.0, 0.0, 0.17857142857142858, 0.357142...","[0.2706198675315236, 0.23698318621896708, 7.82...",2.333096,"[5.394700181276414, 2.9713255068300146, 0.6126...",2.201935
num5,5871.331032,-0.700788,174,0.426667,"[[0.0, -0.296875, -0.59375, -0.890625, -1.1875...","[[0.0, 0.0, 0.0, 0.2, 0.4, 0.6000000000000001,...","[6.645168339433353, 3.338722148030202, 1.14780...",1.944322,"[0.5041008302500836, 0.4088975811054769, 3.843...",1.447333
num6,12098.972824,-0.372942,326,0.434783,"[[0.0, -0.2714285714285714, -0.542857142857142...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.18633540372670807...","[3.0228695891904684, 3.8960191276543377, 1.755...",1.596210,"[1.8344517031511112, 2.9490741933779683, 3.780...",1.218334
num7,5887.078175,1.098175,206,0.677419,"[[0.0, 0.18095238095238095, 0.3619047619047619...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[3.6163775864907364, 3.776489629656422, 2.4885...",1.076576,"[0.0, 0.0, 0.3311601025600388, 0.4640118230220...",1.453907
num8,9807.561336,-0.821041,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.283582...","[[0.0, -0.18181818181818182, -0.36363636363636...","[7.00396094535346, 5.379848362644056, 3.923519...",2.173007,"[1.9962216590941377, 2.872070992683042, 5.1898...",1.127917
num9,3572.032870,-0.699012,146,0.410596,"[[0.0, 0.0, 0.0, -0.9193548387096775, -1.83870...","[[0.0, -0.3973509933774834, -0.794701986754966...","[5.317322521974079, 5.370001415560893, 0.69358...",2.365961,"[0.47173425180495726, 2.2171305462644977, 3.61...",2.438215

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            3            2
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            3            3
6     6            5            6
7     7            0            0
8     8            3            6
9     9            3            3

   nums  percentage
0     0           0
1     1           0
2     2           0
3     3           0
4     4           0
5     5           2
6     6           3
7     7           0
8     8           2
9     9           1

127.0.0.1 - - [19/Jun/2022 19:17:02] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [0, 5, 6, 8, 9]
FinalStanDevy  [5, 6, 8, 9]
FinalRatio  [5, 6, 8]
Partial result[5, 6, 8, 9]
Final result med --> 6

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4207.40909,-0.495822,NaN,NaN,118,0.369048,"[4.552721463835969, 2.4896479886598457, 1.2808...",1.53028,"[0.0, 0.0, 0.9381712472977405, 6.7447561510546...",2.449839,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4207.40909,-0.495822,NaN,NaN,118,0.369048,"[4.552721463835969, 2.4896479886598457, 1.2808...",1.53028,"[0.0, 0.0, 0.9381712472977405, 6.7447561510546...",2.449839,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4207.40909,-0.495822,NaN,NaN,118,0.369048,"[4.552721463835969, 2.4896479886598457, 1.2808...",1.53028,"[0.0, 0.0, 0.9381712472977405, 6.7447561510546...",2.449839,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4207.40909,-0.495822,NaN,NaN,118,0.369048,"[4.552721463835969, 2.4896479886598457, 1.2808...",1.53028,"[0.0, 0.0, 0.9381712472977405, 6.7447561510546...",2.449839,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4207.40909,-0.495822,NaN,NaN,118,0.369048,"[4.552721463835969, 2.4896479886598457, 1.2808...",1.53028,"[0.0, 0.0, 0.9381712472977405, 6.7447561510546...",2.449839,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,6384.245739,-0.601572,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.29577464788732394, -0.59154929577464...","[1.9169232737089124, 2.4496852000793683, 2.553...",1.162341,"[4.548901573051745, 1.0289497627896005, 3.4818...",2.285367
num1,2656.462293,4.502403,114,0.230333,"[[0.0, 0.0, 0.0, 1.1923076923076923, 2.3846153...","[[0.0, -0.3720765414599575, -0.744153082919915...","[2.3635833465316516, 4.059985628043142, 1.6686...",1.267901,"[3.2489747011503516, 4.080102759456723, 2.4363...",2.124611
num2,1590.175076,0.846720,90,0.819789,"[[0.0, 0.0, 0.0, 0.3980482794042116, 0.7960965...","[[0.0, -0.8842105263157894, -1.768421052631579...","[1.2462451832213848, 1.885776333290998, 1.9635...",1.488232,"[4.657608938270029, 3.4880652163519192, 0.4050...",3.116826
num3,10082.131739,0.507506,250,0.312883,"[[0.0, 0.0, 0.0, 0.30392156862745096, 0.607843...","[[0.0, -0.25766871165644173, -0.51533742331288...","[3.7435637140358313, 5.686189803290646, 1.0144...",1.704438,"[0.5042939411577452, 1.5068311162160373, 3.884...",1.262821
num4,11997.286069,0.579784,290,0.464286,"[[0.0, 0.1987179487179487, 0.3974358974358974,...","[[0.0, 0.0, 0.0, 0.25, 0.5, 1.25, 2.0, 2.75, 3...","[0.22076883930203245, 0.19332838875757843, 6.3...",1.903315,"[7.552580253786979, 4.15985570956202, 0.857661...",3.082709
num5,7271.098889,-0.408354,174,0.426667,"[[0.0, -0.2421875, -0.484375, -0.7265625, -0.9...","[[0.0, 0.0, 0.0, 0.28, 0.56, 0.840000000000000...","[5.421058382169315, 2.723694383919375, 0.93636...",1.586157,"[0.705741162350117, 0.5724566135476677, 5.3803...",2.026267
num6,16241.217458,-0.217316,326,0.434783,"[[0.0, -0.22142857142857142, -0.44285714285714...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.2608695652173913,...","[2.4660251911816977, 3.178331393612749, 1.4318...",1.302172,"[2.5682323844115555, 4.128703870729155, 5.2930...",1.705668
num7,6588.055838,0.639914,206,0.677419,"[[0.0, 0.14761904761904762, 0.2952380952380952...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[2.950202767926653, 3.080820487351291, 2.03011...",0.878259,"[0.0, 0.0, 0.4636241435840544, 0.6496165522309...",2.035470
num8,11763.973785,-0.478426,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.231343...","[[0.0, -0.2545454545454545, -0.509090909090909...","[5.713757613314665, 4.388823664262256, 3.20076...",1.772716,"[2.7947103227317927, 4.0208993897562575, 7.265...",1.579084
num9,4425.722826,-0.407319,146,0.410596,"[[0.0, 0.0, 0.0, -0.75, -1.5, -2.25, -3.0, -4....","[[0.0, -0.5562913907284768, -1.112582781456953...","[4.337815741610432, 4.3807906284838865, 0.5658...",1.930126,"[0.6604279525269401, 3.103982764770296, 5.0643...",3.413502

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

invalid value encountered in true_divide

   nums  percentagex  percentagey
0     0            3            3
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            8            2
6     6            4            4
7     7            0            0
8     8            1            3
9     9            1            2

<ipython-input-3-fe47632234ea>:396: RuntimeWarning:

divide by zero encountered in double_scalars

   nums  percentage
0     0           1
1     1           0
2     2           0
3     3           0
4     4           0
5     5           2
6     6           1
7     7           0
8     8           1
9     9           3

127.0.0.1 - - [19/Jun/2022 19:17:11] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [0, 5, 6]
FinalStanDevy  [0, 6, 8]
FinalRatio  [0, 5, 6, 8, 9]
Partial result[0, 5, 6, 8]
Final result med --> 5

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3054.686277,1.106175,NaN,NaN,64,0.853873,"[3.5168246410015325, 7.0636982759269475, 8.184...",2.675275,"[1.707825127659933, 0.7637626158259734, 0.0, 0...",2.711336,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3054.686277,1.106175,NaN,NaN,64,0.853873,"[3.5168246410015325, 7.0636982759269475, 8.184...",2.675275,"[1.707825127659933, 0.7637626158259734, 0.0, 0...",2.711336,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3054.686277,1.106175,NaN,NaN,64,0.853873,"[3.5168246410015325, 7.0636982759269475, 8.184...",2.675275,"[1.707825127659933, 0.7637626158259734, 0.0, 0...",2.711336,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3054.686277,1.106175,NaN,NaN,64,0.853873,"[3.5168246410015325, 7.0636982759269475, 8.184...",2.675275,"[1.707825127659933, 0.7637626158259734, 0.0, 0...",2.711336,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3054.686277,1.106175,NaN,NaN,64,0.853873,"[3.5168246410015325, 7.0636982759269475, 8.184...",2.675275,"[1.707825127659933, 0.7637626158259734, 0.0, 0...",2.711336,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,9265.397941,-1.391869,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.2922887323943662, -0.584577464788732...","[4.382952310983474, 5.6010866768266325, 5.8394...",2.657637,"[4.49528951879792, 1.0168228548710083, 3.44079...",2.258432
num1,5956.641240,10.417302,114,0.230333,"[[0.0, 0.0, 0.0, 2.726153846153846, 5.45230769...","[[0.0, -0.36769135364989375, -0.73538270729978...","[5.404218954908499, 9.28296068760316, 3.815327...",2.898994,"[3.2106832136010794, 4.032015834077412, 2.4076...",2.099570
num2,2637.853695,1.959074,90,0.819789,"[[0.0, 0.0, 0.0, 0.9101181304571135, 1.8202362...","[[0.0, -0.8737894736842106, -1.747578947368421...","[2.8494793092494115, 4.3117363388279335, 4.489...",3.402771,"[4.602715690068991, 3.446955876302058, 0.40030...",3.080092
num3,13703.093839,1.174228,250,0.312883,"[[0.0, 0.0, 0.0, 0.6949019607843137, 1.3898039...","[[0.0, -0.25463190184049084, -0.50926380368098...","[8.559477291963217, 13.001197847007774, 2.3195...",3.897115,"[0.4983504768512433, 1.4890720352034914, 3.838...",1.247938
num4,17161.197246,1.341458,290,0.464286,"[[0.0, 0.4543589743589743, 0.9087179487179486,...","[[0.0, 0.0, 0.0, 0.24705357142857146, 0.494107...","[0.5047772687009051, 0.442036006294747, 14.593...",4.351837,"[7.4635677007959185, 4.110828838699327, 0.8475...",3.046377
num5,9151.668686,-0.944817,174,0.426667,"[[0.0, -0.55375, -1.1075, -1.66125, -2.215, -3...","[[0.0, 0.0, 0.0, 0.2767, 0.5534, 0.83010000000...","[12.394987681553582, 6.227595417167912, 2.1409...",3.626672,"[0.6974234986509906, 0.5657098034594272, 5.316...",2.002386
num6,17554.686931,-0.502808,326,0.434783,"[[0.0, -0.5062857142857142, -1.012571428571428...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.2577950310559006,...","[5.638447275837378, 7.267100941266827, 3.27377...",2.977352,"[2.5379639313095623, 4.080044146538419, 5.2306...",1.685566
num7,9797.542853,1.480581,206,0.677419,"[[0.0, 0.3375238095238095, 0.675047619047619, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[6.745495877117458, 7.044146972369662, 4.64175...",2.008098,"[0.0, 0.0, 0.4581600018918138, 0.6419603571510...",2.011481
num8,15643.907549,-1.106945,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.528955...","[[0.0, -0.25154545454545457, -0.50309090909090...","[13.064230310701403, 10.034832945900282, 7.318...",4.053230,"[2.76177266535674, 3.973510218376989, 7.180119...",1.560474
num9,5565.732924,-0.942422,146,0.410596,"[[0.0, 0.0, 0.0, -1.7148387096774191, -3.42967...","[[0.0, -0.5497350993377483, -1.099470198675496...","[9.918205798882173, 10.016465798288317, 1.2937...",4.413141,"[0.6526443373721582, 3.067400110756932, 5.0046...",3.373271

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            0            0
1     1            2            3
2     2            5            1
3     3            1            3
4     4            1            1
5     5            0            0
6     6            0            0
7     7            2            2
8     8            0            0
9     9            0            0

<ipython-input-3-fe47632234ea>:359: RuntimeWarning:

divide by zero encountered in double_scalars

   nums  percentage
0     0           0
1     1           0
2     2           1
3     3           2
4     4           1
5     5           0
6     6           0
7     7           0
8     8           0
9     9           0

127.0.0.1 - - [19/Jun/2022 19:17:17] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [1, 2, 7]
FinalStanDevy  [1, 3, 7]
FinalRatio  [3]
Partial result[1, 3, 7]
Final result med --> 3

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4190.229409,0.803459,NaN,NaN,88,0.604271,"[3.69754986443726, 8.614803755745108, 3.354101...",2.352229,"[0.5448623679425842, 1.0588171466310885, 0.0, ...",2.739137,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4190.229409,0.803459,NaN,NaN,88,0.604271,"[3.69754986443726, 8.614803755745108, 3.354101...",2.352229,"[0.5448623679425842, 1.0588171466310885, 0.0, ...",2.739137,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4190.229409,0.803459,NaN,NaN,88,0.604271,"[3.69754986443726, 8.614803755745108, 3.354101...",2.352229,"[0.5448623679425842, 1.0588171466310885, 0.0, ...",2.739137,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4190.229409,0.803459,NaN,NaN,88,0.604271,"[3.69754986443726, 8.614803755745108, 3.354101...",2.352229,"[0.5448623679425842, 1.0588171466310885, 0.0, ...",2.739137,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4190.229409,0.803459,NaN,NaN,88,0.604271,"[3.69754986443726, 8.614803755745108, 3.354101...",2.352229,"[0.5448623679425842, 1.0588171466310885, 0.0, ...",2.739137,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,8775.844441,-0.985001,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.3380281690140845, -0.676056338028169...","[3.587119971221097, 4.584072208277553, 4.77917...",2.175078,"[5.19874465491628, 1.175942586045258, 3.979237...",2.611848
num1,4897.200994,7.372140,114,0.230333,"[[0.0, 0.0, 0.0, 2.231153846153846, 4.46230769...","[[0.0, -0.4252303330970943, -0.850460666194188...","[4.4229506429774545, 7.5974118155736345, 3.122...",2.372611,"[3.7131139441718304, 4.662974582236255, 2.7843...",2.428126
num2,2370.872665,1.386402,90,0.819789,"[[0.0, 0.0, 0.0, 0.7448638931689779, 1.4897277...","[[0.0, -1.0105263157894737, -2.021052631578947...","[2.3320865509249207, 3.5288350030390574, 3.674...",2.784914,"[5.322981643737178, 3.9863602472593365, 0.4629...",3.562087
num3,13359.515100,0.830980,250,0.312883,"[[0.0, 0.0, 0.0, 0.5687254901960784, 1.1374509...","[[0.0, -0.294478527607362, -0.588957055214724,...","[7.00529455003931, 10.640511951254528, 1.89841...",3.189498,"[0.5763359327517087, 1.7220927042468996, 4.439...",1.443224
num4,16355.492403,0.949326,290,0.464286,"[[0.0, 0.37185897435897436, 0.7437179487179487...","[[0.0, 0.0, 0.0, 0.2857142857142857, 0.5714285...","[0.413122592513255, 0.36177354296216535, 11.94...",3.561655,"[8.631520290042262, 4.754120810928023, 0.98018...",3.523096
num5,9254.368937,-0.668631,174,0.426667,"[[0.0, -0.453203125, -0.90640625, -1.359609375...","[[0.0, 0.0, 0.0, 0.32, 0.64, 0.96, 1.28, 1.28,...","[10.144374088698127, 5.09682294229558, 1.75220...",2.968161,"[0.8065613284001337, 0.654236129768763, 6.1489...",2.315733
num6,19252.087123,-0.355828,326,0.434783,"[[0.0, -0.41435714285714287, -0.82871428571428...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.2981366459627329,...","[4.614649075498396, 5.947580778821793, 2.67934...",2.436741,"[2.935122725041778, 4.71851870940475, 6.049217...",1.949335
num7,9185.547623,1.047781,206,0.677419,"[[0.0, 0.2762380952380952, 0.5524761904761905,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[5.520685889271779, 5.765109563588658, 3.79892...",1.643478,"[0.0, 0.0, 0.5298561640960622, 0.7424189168353...",2.326252
num8,15406.193088,-0.783365,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.432910...","[[0.0, -0.2909090909090909, -0.581818181818181...","[10.692099327367217, 8.212763250446887, 5.9895...",3.317267,"[3.1939546545506206, 4.595313588292867, 8.3037...",1.804668
num9,5630.515657,-0.666935,146,0.410596,"[[0.0, 0.0, 0.0, -1.403467741935484, -2.806935...","[[0.0, -0.6357615894039735, -1.271523178807947...","[8.117312618413587, 8.19773110833388, 1.058814...",3.611827,"[0.7547748028879316, 3.547408874023196, 5.7878...",3.901145

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            0            0
1     1            3            7
2     2            2            3
3     3            2            4
4     4            1            2
5     5            0            0
6     6            0            0
7     7            5            5
8     8            0            0
9     9            0            0

<ipython-input-3-fe47632234ea>:359: RuntimeWarning:

divide by zero encountered in double_scalars

   nums  percentage
0     0           0
1     1           0
2     2           1
3     3           2
4     4           1
5     5           0
6     6           0
7     7           3
8     8           0
9     9           0

127.0.0.1 - - [19/Jun/2022 19:17:50] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [1, 2, 3, 7]
FinalStanDevy  [1, 3, 7]
FinalRatio  [2, 3, 4, 7]
Partial result[2, 3, 7, 1]
Final result med --> 7

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2118.708215,-0.170697,NaN,NaN,92,0.492958,"[3.0912061651652345, 3.5494739655473975, 0.724...",1.656228,"[0.3333333333333333, 3.367418324598164, 3.2441...",2.157375,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2118.708215,-0.170697,NaN,NaN,92,0.492958,"[3.0912061651652345, 3.5494739655473975, 0.724...",1.656228,"[0.3333333333333333, 3.367418324598164, 3.2441...",2.157375,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2118.708215,-0.170697,NaN,NaN,92,0.492958,"[3.0912061651652345, 3.5494739655473975, 0.724...",1.656228,"[0.3333333333333333, 3.367418324598164, 3.2441...",2.157375,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2118.708215,-0.170697,NaN,NaN,92,0.492958,"[3.0912061651652345, 3.5494739655473975, 0.724...",1.656228,"[0.3333333333333333, 3.367418324598164, 3.2441...",2.157375,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2118.708215,-0.170697,NaN,NaN,92,0.492958,"[3.0912061651652345, 3.5494739655473975, 0.724...",1.656228,"[0.3333333333333333, 3.367418324598164, 3.2441...",2.157375,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,5931.888277,-0.803554,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.25, -0.5, -0.75, -1.0, -1.25, -1.5, ...","[2.1642682122519976, 2.765773612992835, 2.8834...",1.312321,"[3.844904901031831, 0.8697075375959716, 2.9429...",1.931679
num1,2968.083085,6.014114,114,0.230333,"[[0.0, 0.0, 0.0, 1.3461538461538463, 2.6923076...","[[0.0, -0.31449326718639264, -0.62898653437278...","[2.668561842858316, 4.5838547413390325, 1.8839...",1.431501,"[2.7461571878770825, 3.448658284778897, 2.0592...",1.795802
num2,1548.592462,1.131012,90,0.819789,"[[0.0, 0.0, 0.0, 0.44940934771443247, 0.898818...","[[0.0, -0.7473684210526316, -1.494736842105263...","[1.4070510133144665, 2.1291023117801586, 2.216...",1.680262,"[3.9367885073472877, 2.948245599535551, 0.3423...",2.634460
num3,9180.722152,0.677905,250,0.312883,"[[0.0, 0.0, 0.0, 0.3431372549019608, 0.6862745...","[[0.0, -0.21779141104294478, -0.43558282208588...","[4.226604193266262, 6.419891713392665, 1.14540...",1.924366,"[0.42624845026428454, 1.2736310625159362, 3.28...",1.067385
num4,11095.930940,0.774450,290,0.464286,"[[0.0, 0.22435897435897437, 0.4487179487179487...","[[0.0, 0.0, 0.0, 0.2113095238095238, 0.4226190...","[0.24925514114745598, 0.21827398730694342, 7.2...",2.148904,"[6.383728547843756, 3.5160685164155177, 0.7249...",2.605623
num5,6481.090437,-0.545462,174,0.426667,"[[0.0, -0.2734375, -0.546875, -0.8203125, -1.0...","[[0.0, 0.0, 0.0, 0.23666666666666666, 0.473333...","[6.120549786320194, 3.0751388205541335, 1.0571...",1.790823,"[0.5965193157959322, 0.48386213764148095, 4.54...",1.712678
num6,13968.337859,-0.290281,326,0.434783,"[[0.0, -0.25, -0.5, -0.75, -1.0, -1.25, -1.5, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.2204968944099379,...","[2.7842219900438523, 3.588438670207943, 1.6165...",1.470194,"[2.170767848728815, 3.4897377954972626, 4.4739...",1.441696
num7,6170.317303,0.854769,206,0.677419,"[[0.0, 0.16666666666666666, 0.3333333333333333...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[3.3308740928204146, 3.4783457115256513, 2.292...",0.991583,"[0.0, 0.0, 0.3918727880293793, 0.5490806572427...",1.720457
num8,10644.840360,-0.639061,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.261194...","[[0.0, -0.21515151515151515, -0.43030303030303...","[6.451016660193976, 4.955123491908999, 3.61376...",2.001454,"[2.3621956299280633, 3.3986173413415997, 6.141...",1.334702
num9,3944.002222,-0.544079,146,0.410596,"[[0.0, 0.0, 0.0, -0.8467741935483872, -1.69354...","[[0.0, -0.47019867549668876, -0.94039735099337...","[4.897533901818231, 4.9460539353850335, 0.6388...",2.179175,"[0.5582188646358661, 2.623604479746322, 4.2805...",2.885222

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            3            6
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            4            4
6     6            4            5
7     7            0            0
8     8            2            4
9     9            4            2

   nums  percentage
0     0           1
1     1           0
2     2           0
3     3           0
4     4           0
5     5           0
6     6           3
7     7           0
8     8           2
9     9           1

127.0.0.1 - - [19/Jun/2022 19:17:57] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [5, 6, 9]
FinalStanDevy  [0, 5, 6, 8]
FinalRatio  [0, 6, 8, 9]
Partial result[6, 9, 0, 5, 8]
Final result med --> 6

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2932.410953,-0.544854,NaN,NaN,100,0.469963,"[7.914543574963751, 5.688585061331157, 1.49666...",2.720045,"[0.9797958971132713, 4.238218965556168, 4.4947...",3.529349,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2932.410953,-0.544854,NaN,NaN,100,0.469963,"[7.914543574963751, 5.688585061331157, 1.49666...",2.720045,"[0.9797958971132713, 4.238218965556168, 4.4947...",3.529349,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2932.410953,-0.544854,NaN,NaN,100,0.469963,"[7.914543574963751, 5.688585061331157, 1.49666...",2.720045,"[0.9797958971132713, 4.238218965556168, 4.4947...",3.529349,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2932.410953,-0.544854,NaN,NaN,100,0.469963,"[7.914543574963751, 5.688585061331157, 1.49666...",2.720045,"[0.9797958971132713, 4.238218965556168, 4.4947...",3.529349,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2932.410953,-0.544854,NaN,NaN,100,0.469963,"[7.914543574963751, 5.688585061331157, 1.49666...",2.720045,"[0.9797958971132713, 4.238218965556168, 4.4947...",3.529349,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,8030.145487,-0.766071,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.34464788732394364, -0.68929577464788...","[2.844466793245483, 3.635016748504869, 3.78972...",1.724765,"[5.300553404408388, 1.1989714616886438, 4.0571...",2.662997
num1,3906.166261,5.733579,114,0.230333,"[[0.0, 0.0, 0.0, 1.7692307692307692, 3.5384615...","[[0.0, -0.433557760453579, -0.867115520907158,...","[3.507252707756644, 6.024494802902725, 2.47608...",1.881402,"[3.7858290922451947, 4.7542911678050475, 2.838...",2.475677
num2,2079.572732,1.078255,90,0.819789,"[[0.0, 0.0, 0.0, 0.5906522855675398, 1.1813045...","[[0.0, -1.030315789473684, -2.060631578947368,...","[1.849267046070442, 2.798248752625352, 2.91361...",2.208344,"[5.4272233675936965, 4.064426468768164, 0.4720...",3.631844
num3,12473.595284,0.646283,250,0.312883,"[[0.0, 0.0, 0.0, 0.45098039215686275, 0.901960...","[[0.0, -0.3002453987730061, -0.600490797546012...","[5.554965511149944, 8.437571966173218, 1.50538...",2.529166,"[0.587622511434763, 1.755817019705068, 4.52637...",1.471487
num4,15033.213948,0.738325,290,0.464286,"[[0.0, 0.2948717948717949, 0.5897435897435898,...","[[0.0, 0.0, 0.0, 0.2913095238095238, 0.5826190...","[0.3275924712223707, 0.2868743833176971, 9.470...",2.824274,"[8.800554229055589, 4.847222343475365, 0.99937...",3.592090
num5,8840.945242,-0.520018,174,0.426667,"[[0.0, -0.359375, -0.71875, -1.078125, -1.4375...","[[0.0, 0.0, 0.0, 0.32626666666666665, 0.652533...","[8.044151147735112, 4.041611021299718, 1.38944...",2.353653,"[0.8223564877479695, 0.6670482539767346, 6.269...",2.361083
num6,19188.332741,-0.276740,326,0.434783,"[[0.0, -0.32857142857142857, -0.65714285714285...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.3039751552795031,...","[3.659263186914777, 4.7162336808447245, 2.1246...",1.932255,"[2.9926022117405124, 4.810923034130592, 6.1676...",1.987510
num7,8341.135844,0.814897,206,0.677419,"[[0.0, 0.21904761904761905, 0.4380952380952381...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[4.377720236278259, 4.571540078005142, 3.01242...",1.303224,"[0.0, 0.0, 0.5402325139762767, 0.7569579539566...",2.371807
num8,14479.724214,-0.609251,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.343283...","[[0.0, -0.2966060606060606, -0.593212121212121...","[8.478479039112083, 6.512448017937542, 4.74952...",2.630482,"[3.2565029332022366, 4.685305146063603, 8.4663...",1.840009
num9,5380.292379,-0.518700,146,0.410596,"[[0.0, 0.0, 0.0, -1.1129032258064515, -2.22580...","[[0.0, -0.6482119205298013, -1.296423841059602...","[6.436758842389675, 6.500528029363187, 0.83960...",2.864058,"[0.769555809444487, 3.616878964472817, 5.90117...",3.977542

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

invalid value encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            1            5
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            4            3
6     6            3            2
7     7            0            0
8     8            3            1
9     9            4            4

   nums  percentage
0     0           0
1     1           0
2     2           0
3     3           0
4     4           0
5     5           1
6     6           2
7     7           0
8     8           0
9     9           4

127.0.0.1 - - [19/Jun/2022 19:18:07] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [5, 6, 8, 9]
FinalStanDevy  [0, 5, 9]
FinalRatio  [5, 6, 9]
Partial result[5, 6, 9, 0]
Final result med --> 9

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2910.893763,-0.2969,NaN,NaN,98,0.776119,"[1.0801234497346435, 4.0483192671637065, 5.624...",1.745392,"[0.7243558228002942, 1.314684396244359, 5.1141...",2.130312,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2910.893763,-0.2969,NaN,NaN,98,0.776119,"[1.0801234497346435, 4.0483192671637065, 5.624...",1.745392,"[0.7243558228002942, 1.314684396244359, 5.1141...",2.130312,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2910.893763,-0.2969,NaN,NaN,98,0.776119,"[1.0801234497346435, 4.0483192671637065, 5.624...",1.745392,"[0.7243558228002942, 1.314684396244359, 5.1141...",2.130312,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2910.893763,-0.2969,NaN,NaN,98,0.776119,"[1.0801234497346435, 4.0483192671637065, 5.624...",1.745392,"[0.7243558228002942, 1.314684396244359, 5.1141...",2.130312,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2910.893763,-0.2969,NaN,NaN,98,0.776119,"[1.0801234497346435, 4.0483192671637065, 5.624...",1.745392,"[0.7243558228002942, 1.314684396244359, 5.1141...",2.130312,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,7036.656281,-1.265126,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.23591549295774647, -0.47183098591549...","[3.2154842010601112, 4.10914936787507, 4.28403...",1.949734,"[3.6282905404103194, 0.8207099298440861, 2.777...",1.822852
num1,4374.192030,9.468703,114,0.230333,"[[0.0, 0.0, 0.0, 2.0, 4.0, 5.0, 6.0, 7.0, 8.0,...","[[0.0, -0.2967753366406804, -0.593550673281360...","[3.964720452246641, 6.8102984728465605, 2.7990...",2.126802,"[2.591444106869923, 3.25436767718572, 1.943278...",1.694630
num2,1976.853177,1.780680,90,0.819789,"[[0.0, 0.0, 0.0, 0.6676938880328711, 1.3353877...","[[0.0, -0.7052631578947368, -1.410526315789473...","[2.0904757912100647, 3.163237720359094, 3.2936...",2.496389,"[3.714997605524905, 2.782147255899745, 0.32309...",2.486040
num3,10488.228949,1.067303,250,0.312883,"[[0.0, 0.0, 0.0, 0.5098039215686274, 1.0196078...","[[0.0, -0.20552147239263804, -0.41104294478527...","[6.2795262299955885, 9.538124831326245, 1.7017...",2.859057,"[0.4022344530662967, 1.2018771998389821, 3.098...",1.007250
num4,13054.585445,1.219305,290,0.464286,"[[0.0, 0.3333333333333333, 0.6666666666666666,...","[[0.0, 0.0, 0.0, 0.19940476190476192, 0.398809...","[0.37032192399050606, 0.3242927811417444, 10.7...",3.192657,"[6.024081869091995, 3.3179801492935166, 0.6840...",2.458827
num5,7077.329153,-0.858782,174,0.426667,"[[0.0, -0.40625, -0.8125, -1.21875, -1.625, -2...","[[0.0, 0.0, 0.0, 0.22333333333333333, 0.446666...","[9.093388253961432, 4.568777676251855, 1.57067...",2.660651,"[0.56291259377926, 0.4566022989011158, 4.29148...",1.616189
num6,13918.215222,-0.457022,326,0.434783,"[[0.0, -0.37142857142857144, -0.74285714285714...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.2080745341614907,...","[4.1365583852080094, 5.331394595737516, 2.4017...",2.184288,"[2.048471068518741, 3.293132849272065, 4.22184...",1.360473
num7,7420.918200,1.345760,206,0.677419,"[[0.0, 0.24761904761904763, 0.4952380952380952...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[4.948727223618902, 5.167827914266682, 3.40534...",1.473209,"[0.0, 0.0, 0.36979544785871, 0.518146535707980...",1.623530
num8,12007.218492,-1.006146,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.388059...","[[0.0, -0.20303030303030303, -0.40606060606060...","[9.584367609431052, 7.361897759407655, 5.36902...",2.973589,"[2.229114185988454, 3.207145941829397, 5.79530...",1.259508
num9,4304.705835,-0.856605,146,0.410596,"[[0.0, 0.0, 0.0, -1.2580645161290323, -2.51612...","[[0.0, -0.44370860927152317, -0.88741721854304...","[7.276336082701371, 7.348422989714907, 0.94911...",3.237631,"[0.5267699145155356, 2.475795776662022, 4.0394...",2.722674

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            4            5
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            2            4
6     6            3            4
7     7            0            0
8     8            5            6
9     9            1            5

   nums  percentage
0     0           2
1     1           0
2     2           0
3     3           0
4     4           0
5     5           0
6     6           1
7     7           0
8     8           2
9     9           1

127.0.0.1 - - [19/Jun/2022 19:18:15] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [0, 6, 8]
FinalStanDevy  [0, 8, 9]
FinalRatio  [0]
Partial result[0, 8, 9]
Final result med --> 8

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4250.959892,-0.113163,NaN,NaN,152,0.65563,"[2.160246899469287, 3.1436002007606216, 2.0182...",1.139936,"[0.43461349368017654, 4.530636452714637, 6.898...",2.098841,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4250.959892,-0.113163,NaN,NaN,152,0.65563,"[2.160246899469287, 3.1436002007606216, 2.0182...",1.139936,"[0.43461349368017654, 4.530636452714637, 6.898...",2.098841,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4250.959892,-0.113163,NaN,NaN,152,0.65563,"[2.160246899469287, 3.1436002007606216, 2.0182...",1.139936,"[0.43461349368017654, 4.530636452714637, 6.898...",2.098841,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4250.959892,-0.113163,NaN,NaN,152,0.65563,"[2.160246899469287, 3.1436002007606216, 2.0182...",1.139936,"[0.43461349368017654, 4.530636452714637, 6.898...",2.098841,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4250.959892,-0.113163,NaN,NaN,152,0.65563,"[2.160246899469287, 3.1436002007606216, 2.0182...",1.139936,"[0.43461349368017654, 4.530636452714637, 6.898...",2.098841,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,5815.496803,-1.068721,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.21482394366197183, -0.42964788732394...","[2.473449385430855, 3.160884129134669, 3.29541...",1.499795,"[3.303910535379606, 0.7473360122356373, 2.5288...",1.659884
num1,3372.202599,7.998728,114,0.230333,"[[0.0, 0.0, 0.0, 1.5384615384615385, 3.0769230...","[[0.0, -0.2702427356484763, -0.540485471296952...","[3.049784963266647, 5.238691132958893, 2.15311...",1.636001,"[2.359761268061702, 2.963417492314936, 1.76954...",1.543125
num2,1592.136750,1.504237,90,0.819789,"[[0.0, 0.0, 0.0, 0.5136106831022086, 1.0272213...","[[0.0, -0.6422105263157895, -1.284421052631579...","[1.6080583009308191, 2.433259784891611, 2.5335...",1.920299,"[3.382865730045887, 2.533414986305126, 0.29421...",2.263780
num3,8792.167803,0.901609,250,0.312883,"[[0.0, 0.0, 0.0, 0.39215686274509803, 0.784313...","[[0.0, -0.18714723926380367, -0.37429447852760...","[4.830404792304299, 7.337019101020188, 1.30902...",2.199275,"[0.36627349226230993, 1.0944257904802432, 2.82...",0.917199
num4,10822.024870,1.030013,290,0.464286,"[[0.0, 0.2564102564102564, 0.5128205128205128,...","[[0.0, 0.0, 0.0, 0.18157738095238093, 0.363154...","[0.2848630184542354, 0.24945598549364953, 8.23...",2.455890,"[5.485510967661233, 3.0213428195283196, 0.6229...",2.239001
num5,6040.198091,-0.725460,174,0.426667,"[[0.0, -0.3125, -0.625, -0.9375, -1.25, -2.187...","[[0.0, 0.0, 0.0, 0.20336666666666667, 0.406733...","[6.994914041508794, 3.514444366347581, 1.20821...",2.046654,"[0.5125865275592932, 0.41578069038741905, 3.90...",1.471697
num6,12356.338059,-0.386072,326,0.434783,"[[0.0, -0.2857142857142857, -0.571428571428571...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.18947204968944098...","[3.1819679886215457, 4.101072765951934, 1.8475...",1.680221,"[1.8653316401541546, 2.9987169422998305, 3.844...",1.238843
num7,6102.292188,1.136836,206,0.677419,"[[0.0, 0.19047619047619047, 0.3809523809523809...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[3.8067132489376174, 3.9752522417436014, 2.619...",1.133238,"[0.0, 0.0, 0.33673463095313283, 0.471822688709...",1.478381
num8,10115.494750,-0.849946,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.298507...","[[0.0, -0.18487878787878786, -0.36975757575757...","[7.372590468793115, 5.662998276467428, 4.13002...",2.287376,"[2.0298247236888893, 2.9204175210598726, 5.277...",1.146904
num9,3674.625025,-0.723621,146,0.410596,"[[0.0, 0.0, 0.0, -0.967741935483871, -1.935483...","[[0.0, -0.4040397350993377, -0.808079470198675...","[5.597181602077977, 5.652633069011466, 0.73009...",2.490486,"[0.47967511171034066, 2.254452243793283, 3.678...",2.479259

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            5            4
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            3            1
6     6            5            3
7     7            0            0
8     8            2            6
9     9            2            3

   nums  percentage
0     0           0
1     1           0
2     2           0
3     3           0
4     4           0
5     5           0
6     6           2
7     7           0
8     8           0
9     9           1

127.0.0.1 - - [19/Jun/2022 19:18:32] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [0, 5, 6]
FinalStanDevy  [0, 6, 8, 9]
FinalRatio  [6]
Partial result[6, 0, 8, 9]
Final result med --> 6

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,6494.822553,-0.084054,NaN,NaN,150,0.865854,"[8.665769184299544, 3.106266068592465, 0.27080...",2.654181,"[4.602414825091522, 5.883498581248708, 5.34623...",2.2187,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,6494.822553,-0.084054,NaN,NaN,150,0.865854,"[8.665769184299544, 3.106266068592465, 0.27080...",2.654181,"[4.602414825091522, 5.883498581248708, 5.34623...",2.2187,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,6494.822553,-0.084054,NaN,NaN,150,0.865854,"[8.665769184299544, 3.106266068592465, 0.27080...",2.654181,"[4.602414825091522, 5.883498581248708, 5.34623...",2.2187,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,6494.822553,-0.084054,NaN,NaN,150,0.865854,"[8.665769184299544, 3.106266068592465, 0.27080...",2.654181,"[4.602414825091522, 5.883498581248708, 5.34623...",2.2187,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,6494.822553,-0.084054,NaN,NaN,150,0.865854,"[8.665769184299544, 3.106266068592465, 0.27080...",2.654181,"[4.602414825091522, 5.883498581248708, 5.34623...",2.2187,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,9237.564178,-1.411399,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.2887323943661972, -0.577464788732394...","[4.390372659139766, 5.610569329214036, 5.84935...",2.662137,"[4.440594392740988, 1.0044509589136579, 3.3989...",2.230953
num1,5965.977179,10.563466,114,0.230333,"[[0.0, 0.0, 0.0, 2.730769230769231, 5.46153846...","[[0.0, -0.3632175761871014, -0.726435152374202...","[5.413368309798298, 9.298676761002035, 3.82178...",2.903902,"[3.171618160646772, 3.982957455660134, 2.37834...",2.074025
num2,2634.804042,1.986561,90,0.819789,"[[0.0, 0.0, 0.0, 0.9116589625064202, 1.8233179...","[[0.0, -0.8631578947368421, -1.726315789473684...","[2.854303484152204, 4.319036118182608, 4.49710...",3.408532,"[4.546713487358839, 3.4050160445340163, 0.3954...",3.042616
num3,13646.773768,1.190703,250,0.312883,"[[0.0, 0.0, 0.0, 0.696078431372549, 1.39215686...","[[0.0, -0.25153374233128833, -0.50306748466257...","[8.57396850634013, 13.023208904310835, 2.32352...",3.903713,"[0.49228694255875116, 1.47095418487756, 3.7920...",1.232754
num4,17105.666793,1.360280,290,0.464286,"[[0.0, 0.4551282051282051, 0.9102564102564102,...","[[0.0, 0.0, 0.0, 0.24404761904761904, 0.488095...","[0.5056318577562678, 0.44278437425122813, 14.6...",4.359205,"[7.372756914411099, 4.060811526001021, 0.83724...",3.009311
num5,9100.364547,-0.958074,174,0.426667,"[[0.0, -0.5546875, -1.109375, -1.6640625, -2.2...","[[0.0, 0.0, 0.0, 0.2733333333333333, 0.5466666...","[12.41597242367811, 6.238138750266955, 2.14457...",3.632812,"[0.6889378013417808, 0.558826694177485, 5.2522...",1.978022
num6,17390.469388,-0.509863,326,0.434783,"[[0.0, -0.5071428571428571, -1.014285714285714...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.2546583850931677,...","[5.647993179803243, 7.279404159564684, 3.27931...",2.982393,"[2.5070839943065186, 4.030401397616556, 5.1670...",1.665057
num7,9771.792117,1.501355,206,0.677419,"[[0.0, 0.3380952380952381, 0.6761904761904762,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[6.756916016864271, 7.056072729094893, 4.64960...",2.011497,"[0.0, 0.0, 0.45258547349871975, 0.634149491463...",1.987006
num8,15573.329793,-1.122476,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.529850...","[[0.0, -0.24848484848484848, -0.49696969696969...","[13.08634808210778, 10.051821940729685, 7.3307...",4.060092,"[2.728169600761988, 3.9251636900001565, 7.0927...",1.541487
num9,5534.433866,-0.955645,146,0.410596,"[[0.0, 0.0, 0.0, -1.717741935483871, -3.435483...","[[0.0, -0.543046357615894, -1.086092715231788,...","[9.93499734368841, 10.033423697495355, 1.29591...",4.420612,"[0.644703477466775, 3.0300784132281464, 4.9437...",3.332228

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            3            5
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            4            2
6     6            2            6
7     7            0            0
8     8            2            6
9     9            2            3

   nums  percentage
0     0           1
1     1           0
2     2           0
3     3           0
4     4           0
5     5           0
6     6           1
7     7           0
8     8           0
9     9           0

FinalStanDevx  [0, 5, 6, 8, 9]
FinalStanDevy  [0, 6, 8]
FinalRatio  [0]
Partial result[0, 6, 8]

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,9237.564178,-1.411399,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.2887323943661972, -0.577464788732394...","[4.390372659139766, 5.610569329214036, 5.84935...",2.662137,"[4.440594392740988, 1.0044509589136579, 3.3989...",2.230953
num1,5965.977179,10.563466,114,0.230333,"[[0.0, 0.0, 0.0, 2.730769230769231, 5.46153846...","[[0.0, -0.3632175761871014, -0.726435152374202...","[5.413368309798298, 9.298676761002035, 3.82178...",2.903902,"[3.171618160646772, 3.982957455660134, 2.37834...",2.074025
num2,2634.804042,1.986561,90,0.819789,"[[0.0, 0.0, 0.0, 0.9116589625064202, 1.8233179...","[[0.0, -0.8631578947368421, -1.726315789473684...","[2.854303484152204, 4.319036118182608, 4.49710...",3.408532,"[4.546713487358839, 3.4050160445340163, 0.3954...",3.042616
num3,13646.773768,1.190703,250,0.312883,"[[0.0, 0.0, 0.0, 0.696078431372549, 1.39215686...","[[0.0, -0.25153374233128833, -0.50306748466257...","[8.57396850634013, 13.023208904310835, 2.32352...",3.903713,"[0.49228694255875116, 1.47095418487756, 3.7920...",1.232754
num4,17105.666793,1.360280,290,0.464286,"[[0.0, 0.4551282051282051, 0.9102564102564102,...","[[0.0, 0.0, 0.0, 0.24404761904761904, 0.488095...","[0.5056318577562678, 0.44278437425122813, 14.6...",4.359205,"[7.372756914411099, 4.060811526001021, 0.83724...",3.009311
num5,9100.364547,-0.958074,174,0.426667,"[[0.0, -0.5546875, -1.109375, -1.6640625, -2.2...","[[0.0, 0.0, 0.0, 0.2733333333333333, 0.5466666...","[12.41597242367811, 6.238138750266955, 2.14457...",3.632812,"[0.6889378013417808, 0.558826694177485, 5.2522...",1.978022
num6,17390.469388,-0.509863,326,0.434783,"[[0.0, -0.5071428571428571, -1.014285714285714...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.2546583850931677,...","[5.647993179803243, 7.279404159564684, 3.27931...",2.982393,"[2.5070839943065186, 4.030401397616556, 5.1670...",1.665057
num7,9771.792117,1.501355,206,0.677419,"[[0.0, 0.3380952380952381, 0.6761904761904762,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[6.756916016864271, 7.056072729094893, 4.64960...",2.011497,"[0.0, 0.0, 0.45258547349871975, 0.634149491463...",1.987006
num8,15573.329793,-1.122476,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.529850...","[[0.0, -0.24848484848484848, -0.49696969696969...","[13.08634808210778, 10.051821940729685, 7.3307...",4.060092,"[2.728169600761988, 3.9251636900001565, 7.0927...",1.541487
num9,5534.433866,-0.955645,146,0.410596,"[[0.0, 0.0, 0.0, -1.717741935483871, -3.435483...","[[0.0, -0.543046357615894, -1.086092715231788,...","[9.93499734368841, 10.033423697495355, 1.29591...",4.420612,"[0.644703477466775, 3.0300784132281464, 4.9437...",3.332228

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            0            3
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            1            2
6     6            0            3
7     7            0            0
8     8            1            4
9     9            2            2

   nums  percentage
0     0           0
1     1           0
2     2           0
3     3           0
4     4           0
5     5           0
6     6           1
7     7           0
8     8           0
9     9           0

127.0.0.1 - - [19/Jun/2022 19:18:45] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [9]
FinalStanDevy  [0, 6, 8]
FinalRatio  [6]
Partial result[0, 6, 8]
Final result med --> 8

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4023.276681,0.296306,NaN,NaN,132,0.57971,"[3.304112553063774, 1.2379597645716216, 1.5518...",1.248896,"[6.071808948355131, 7.181707532120971, 4.59997...",2.487372,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4023.276681,0.296306,NaN,NaN,132,0.57971,"[3.304112553063774, 1.2379597645716216, 1.5518...",1.248896,"[6.071808948355131, 7.181707532120971, 4.59997...",2.487372,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4023.276681,0.296306,NaN,NaN,132,0.57971,"[3.304112553063774, 1.2379597645716216, 1.5518...",1.248896,"[6.071808948355131, 7.181707532120971, 4.59997...",2.487372,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4023.276681,0.296306,NaN,NaN,132,0.57971,"[3.304112553063774, 1.2379597645716216, 1.5518...",1.248896,"[6.071808948355131, 7.181707532120971, 4.59997...",2.487372,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4023.276681,0.296306,NaN,NaN,132,0.57971,"[3.304112553063774, 1.2379597645716216, 1.5518...",1.248896,"[6.071808948355131, 7.181707532120971, 4.59997...",2.487372,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,6182.716454,-0.944966,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.24295774647887325, -0.48591549295774...","[2.473449385430855, 3.160884129134669, 3.29541...",1.499795,"[3.736597720721076, 0.8452087337200291, 2.8600...",1.877266
num1,3379.436328,7.072498,114,0.230333,"[[0.0, 0.0, 0.0, 1.5384615384615385, 3.0769230...","[[0.0, -0.3056343019135365, -0.611268603827073...","[3.049784963266647, 5.238691132958893, 2.15311...",1.636001,"[2.668800647373503, 3.351512980982308, 2.00128...",1.745216
num2,1658.830997,1.330051,90,0.819789,"[[0.0, 0.0, 0.0, 0.5136106831022086, 1.0272213...","[[0.0, -0.7263157894736842, -1.452631578947368...","[1.6080583009308191, 2.433259784891611, 2.5335...",1.920299,"[3.8258930564360965, 2.865196427717649, 0.3327...",2.560250
num3,9444.682404,0.797205,250,0.312883,"[[0.0, 0.0, 0.0, 0.39215686274509803, 0.784313...","[[0.0, -0.2116564417177914, -0.423312883435582...","[4.830404792304299, 7.337019101020188, 1.30902...",2.199275,"[0.4142414516652907, 1.2377541311774591, 3.190...",1.037317
num4,11531.488595,0.910740,290,0.464286,"[[0.0, 0.2564102564102564, 0.5128205128205128,...","[[0.0, 0.0, 0.0, 0.20535714285714285, 0.410714...","[0.2848630184542354, 0.24945598549364953, 8.23...",2.455890,"[6.203905208467876, 3.417024332854517, 0.70450...",2.532225
num5,6569.240321,-0.641454,174,0.426667,"[[0.0, -0.3125, -0.625, -0.9375, -1.25, -2.187...","[[0.0, 0.0, 0.0, 0.23, 0.46, 0.690000000000000...","[6.994914041508794, 3.514444366347581, 1.20821...",2.046654,"[0.5797159547875961, 0.4702322182712984, 4.419...",1.664433
num6,13775.375215,-0.341366,326,0.434783,"[[0.0, -0.2857142857142857, -0.571428571428571...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.21428571428571427...","[3.1819679886215457, 4.101072765951934, 1.8475...",1.680221,"[2.109619458623778, 3.3914353223846634, 4.3478...",1.401085
num7,6463.072269,1.005194,206,0.677419,"[[0.0, 0.19047619047619047, 0.3809523809523809...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[3.8067132489376174, 3.9752522417436014, 2.619...",1.133238,"[0.0, 0.0, 0.3808341179440447, 0.5336135964753...",1.671993
num8,10904.232053,-0.751525,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.298507...","[[0.0, -0.20909090909090908, -0.41818181818181...","[7.372590468793115, 5.662998276467428, 4.13002...",2.287376,"[2.295654907958258, 3.302881641585498, 5.96829...",1.297105
num9,3997.014382,-0.639828,146,0.410596,"[[0.0, 0.0, 0.0, -0.967741935483871, -1.935483...","[[0.0, -0.45695364238410596, -0.91390728476821...","[5.597181602077977, 5.652633069011466, 0.73009...",2.490486,"[0.542494389575701, 2.5497001282041722, 4.1600...",2.803948

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            0            0
1     1            3            3
2     2            2            2
3     3            3            4
4     4            1            3
5     5            0            0
6     6            0            0
7     7            2            4
8     8            0            0
9     9            0            0

<ipython-input-3-fe47632234ea>:359: RuntimeWarning:

divide by zero encountered in double_scalars

   nums  percentage
0     0           0
1     1           0
2     2           0
3     3           3
4     4           0
5     5           0
6     6           0
7     7           1
8     8           0
9     9           0

127.0.0.1 - - [19/Jun/2022 19:18:57] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [1, 2, 3, 7]
FinalStanDevy  [1, 3, 4, 7]
FinalRatio  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Partial result[1, 2, 3, 7, 4]
Final result med --> 3

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,982.564247,6.322476,NaN,NaN,58,0.266667,"[0.4, 2.6907248094147422, 2.481934729198171, 1...",0.973489,"[0.7071067811865476, 2.8530685235374214, 2.828...",2.669198,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,982.564247,6.322476,NaN,NaN,58,0.266667,"[0.4, 2.6907248094147422, 2.481934729198171, 1...",0.973489,"[0.7071067811865476, 2.8530685235374214, 2.828...",2.669198,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,982.564247,6.322476,NaN,NaN,58,0.266667,"[0.4, 2.6907248094147422, 2.481934729198171, 1...",0.973489,"[0.7071067811865476, 2.8530685235374214, 2.828...",2.669198,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,982.564247,6.322476,NaN,NaN,58,0.266667,"[0.4, 2.6907248094147422, 2.481934729198171, 1...",0.973489,"[0.7071067811865476, 2.8530685235374214, 2.828...",2.669198,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,982.564247,6.322476,NaN,NaN,58,0.266667,"[0.4, 2.6907248094147422, 2.481934729198171, 1...",0.973489,"[0.7071067811865476, 2.8530685235374214, 2.828...",2.669198,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,7456.424890,-0.434684,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.36971830985915494, -0.73943661971830...","[1.7314145698015981, 2.212618890394268, 2.3067...",1.049857,"[5.6861269663146805, 1.286187203487, 4.3522909...",2.856709
num1,2450.461059,3.253349,114,0.230333,"[[0.0, 0.0, 0.0, 1.0769230769230769, 2.1538461...","[[0.0, -0.46509567682494685, -0.93019135364989...","[2.1348494742866526, 3.667083793071225, 1.5071...",1.145201,"[4.061218376437939, 5.100128449320904, 3.04543...",2.655763
num2,1778.374605,0.611824,90,0.819789,"[[0.0, 0.0, 0.0, 0.359527478171546, 0.71905495...","[[0.0, -1.105263157894737, -2.210526315789474,...","[1.1256408106515736, 1.703281849424127, 1.7735...",1.344210,"[5.822011172837538, 4.360081520439899, 0.50634...",3.896032
num3,11970.047068,0.366714,250,0.312883,"[[0.0, 0.0, 0.0, 0.27450980392156865, 0.549019...","[[0.0, -0.3220858895705521, -0.644171779141104...","[3.38128335461301, 5.135913370714133, 0.916320...",1.539492,"[0.6303674264471814, 1.8835388952700467, 4.855...",1.578527
num4,14066.268964,0.418941,290,0.464286,"[[0.0, 0.1794871794871795, 0.358974358974359, ...","[[0.0, 0.0, 0.0, 0.3125, 0.625, 1.5625, 2.5, 3...","[0.1994041129179648, 0.17461918984555475, 5.76...",1.719123,"[9.440725317233724, 5.199819636952526, 1.07207...",3.853386
num5,8773.006545,-0.295069,174,0.426667,"[[0.0, -0.21875, -0.4375, -0.65625, -0.875, -1...","[[0.0, 0.0, 0.0, 0.35, 0.7, 1.0499999999999998...","[4.896439829056155, 2.460111056443307, 0.84574...",1.432658,"[0.8821764529376461, 0.7155707669345845, 6.725...",2.532833
num6,20081.575903,-0.157028,326,0.434783,"[[0.0, -0.2, -0.4, -0.6000000000000001, -0.8, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.32608695652173914...","[2.227377592035082, 2.8707509361663544, 1.2932...",1.176155,"[3.2102904805144448, 5.160879838411445, 6.6163...",2.132085
num7,7642.062832,0.462389,206,0.677419,"[[0.0, 0.13333333333333333, 0.2666666666666666...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[2.664699274256332, 2.7826765692205204, 1.8336...",0.793267,"[0.0, 0.0, 0.5795301794800679, 0.8120206902886...",2.544338
num8,14035.282575,-0.345702,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.208955...","[[0.0, -0.3181818181818182, -0.636363636363636...","[5.1608133281551805, 3.9640987935271994, 2.891...",1.601163,"[3.493387903414741, 5.026124237195323, 9.08218...",1.973855
num9,5340.743849,-0.294321,146,0.410596,"[[0.0, 0.0, 0.0, -0.6774193548387096, -1.35483...","[[0.0, -0.695364238410596, -1.390728476821192,...","[3.9180271214545837, 3.956843148308026, 0.5110...",1.743340,"[0.8255349406586752, 3.8799784559628705, 6.330...",4.266877

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

invalid value encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            0            0
1     1            2            2
2     2            3            3
3     3            0            3
4     4            1            5
5     5            0            0
6     6            0            0
7     7            5            2
8     8            0            0
9     9            0            0

<ipython-input-3-fe47632234ea>:359: RuntimeWarning:

divide by zero encountered in double_scalars

   nums  percentage
0     0           0
1     1           5
2     2           2
3     3           0
4     4           0
5     5           0
6     6           0
7     7           0
8     8           0
9     9           0

127.0.0.1 - - [19/Jun/2022 19:19:03] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [1, 2, 7]
FinalStanDevy  [2, 3, 4]
FinalRatio  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Partial result[1, 2, 7, 3, 4]
Final result med --> 1

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2420.286192,1.076176,NaN,NaN,92,0.80764,"[0.0, 4.096068575814836, 6.912147117775907, 2....",3.662875,"[1.5456030825826172, 4.223683957499603, 1.7812...",2.457942,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2420.286192,1.076176,NaN,NaN,92,0.80764,"[0.0, 4.096068575814836, 6.912147117775907, 2....",3.662875,"[1.5456030825826172, 4.223683957499603, 1.7812...",2.457942,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2420.286192,1.076176,NaN,NaN,92,0.80764,"[0.0, 4.096068575814836, 6.912147117775907, 2....",3.662875,"[1.5456030825826172, 4.223683957499603, 1.7812...",2.457942,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2420.286192,1.076176,NaN,NaN,92,0.80764,"[0.0, 4.096068575814836, 6.912147117775907, 2....",3.662875,"[1.5456030825826172, 4.223683957499603, 1.7812...",2.457942,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2420.286192,1.076176,NaN,NaN,92,0.80764,"[0.0, 4.096068575814836, 6.912147117775907, 2....",3.662875,"[1.5456030825826172, 4.223683957499603, 1.7812...",2.457942,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,9582.625203,-1.316507,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.31338028169014087, -0.62676056338028...","[4.444788545619245, 5.680108780055, 5.92185572...",2.695132,"[4.819669523828634, 1.0901967724794575, 3.6890...",2.421401
num1,6043.926472,9.853262,114,0.230333,"[[0.0, 0.0, 0.0, 2.7646153846153845, 5.5292307...","[[0.0, -0.3942239546420978, -0.788447909284195...","[5.480463578990165, 9.41392796592713, 3.869155...",2.939894,"[3.4423660524093007, 4.322966018948195, 2.5813...",2.251075
num2,2707.431718,1.853000,90,0.819789,"[[0.0, 0.0, 0.0, 0.9229583975346687, 1.8459167...","[[0.0, -0.9368421052631579, -1.873684210526315...","[2.8896807667726816, 4.372567833450224, 4.5528...",3.450778,"[4.934847565548008, 3.695688145896676, 0.42918...",3.302351
num3,14236.243564,1.110650,250,0.312883,"[[0.0, 0.0, 0.0, 0.7047058823529412, 1.4094117...","[[0.0, -0.27300613496932513, -0.54601226993865...","[8.680237411770825, 13.18462332453328, 2.35232...",3.952097,"[0.5343114376552299, 1.5965234445622298, 4.115...",1.337989
num4,17765.589021,1.268825,290,0.464286,"[[0.0, 0.46076923076923076, 0.9215384615384615...","[[0.0, 0.0, 0.0, 0.2648809523809524, 0.5297619...","[0.5118988441622611, 0.4482724059320882, 14.79...",4.413234,"[8.00213860222668, 4.407466168464522, 0.908712...",3.266204
num5,9565.157798,-0.893661,174,0.426667,"[[0.0, -0.5615625, -1.123125, -1.6846875, -2.2...","[[0.0, 0.0, 0.0, 0.2966666666666667, 0.5933333...","[12.569860532591303, 6.315456526326602, 2.1711...",3.677838,"[0.7477495648709573, 0.6065314119731241, 5.700...",2.146878
num6,18620.277204,-0.475584,326,0.434783,"[[0.0, -0.5134285714285713, -1.026857142857142...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.27639751552795033...","[5.717996475552917, 7.369627760415626, 3.31996...",3.019358,"[2.7211033596741485, 4.374460053510654, 5.6081...",1.807196
num7,10117.387143,1.400416,206,0.677419,"[[0.0, 0.34228571428571425, 0.6845714285714285...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[6.840663708340898, 7.143528278413251, 4.70723...",2.036429,"[0.0, 0.0, 0.491220818797391, 0.68828420414940...",2.156629
num8,16278.985827,-1.047010,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.536417...","[[0.0, -0.2696969696969697, -0.539393939393939...","[13.24854507242123, 10.17640790281197, 7.42164...",4.110415,"[2.9610621276563043, 4.260238639146512, 7.6982...",1.673077
num9,5817.610845,-0.891395,146,0.410596,"[[0.0, 0.0, 0.0, -1.739032258064516, -3.478064...","[[0.0, -0.5894039735099338, -1.178807947019867...","[10.058135338934123, 10.157781625013603, 1.311...",4.475403,"[0.6997391401773533, 3.288743643625671, 5.3658...",3.616686

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            0            0
1     1            1            6
2     2            5            5
3     3            1            2
4     4            0            2
5     5            0            0
6     6            0            0
7     7            2            3
8     8            0            0
9     9            0            0

<ipython-input-3-fe47632234ea>:359: RuntimeWarning:

divide by zero encountered in double_scalars

   nums  percentage
0     0           0
1     1           1
2     2           3
3     3           2
4     4           0
5     5           0
6     6           0
7     7           1
8     8           0
9     9           0

127.0.0.1 - - [19/Jun/2022 19:19:08] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [1, 2, 3, 7]
FinalStanDevy  [1, 2, 7]
FinalRatio  [1, 2, 3, 7]
Partial result[1, 2, 3, 7]
Final result med --> 2

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4174.108887,0.602069,NaN,NaN,114,0.662921,"[4.312196809320517, 10.352865216055804, 0.3910...",3.335223,"[1.02851895445316, 0.4937627496000098, 2.27998...",1.720287,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4174.108887,0.602069,NaN,NaN,114,0.662921,"[4.312196809320517, 10.352865216055804, 0.3910...",3.335223,"[1.02851895445316, 0.4937627496000098, 2.27998...",1.720287,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4174.108887,0.602069,NaN,NaN,114,0.662921,"[4.312196809320517, 10.352865216055804, 0.3910...",3.335223,"[1.02851895445316, 0.4937627496000098, 2.27998...",1.720287,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4174.108887,0.602069,NaN,NaN,114,0.662921,"[4.312196809320517, 10.352865216055804, 0.3910...",3.335223,"[1.02851895445316, 0.4937627496000098, 2.27998...",1.720287,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4174.108887,0.602069,NaN,NaN,114,0.662921,"[4.312196809320517, 10.352865216055804, 0.3910...",3.335223,"[1.02851895445316, 0.4937627496000098, 2.27998...",1.720287,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,8533.946431,-1.080606,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.31338028169014087, -0.62676056338028...","[3.64833784351051, 4.662304090473636, 4.860732...",2.212198,"[4.819669523828634, 1.0901967724794575, 3.6890...",2.421401
num1,4973.161492,8.087680,114,0.230333,"[[0.0, 0.0, 0.0, 2.269230769230769, 4.53846153...","[[0.0, -0.3942239546420978, -0.788447909284195...","[4.498432820818304, 7.727069421114367, 3.17585...",2.413102,"[3.4423660524093007, 4.322966018948195, 2.5813...",2.251075
num2,2340.515674,1.520966,90,0.819789,"[[0.0, 0.0, 0.0, 0.7575757575757576, 1.5151515...","[[0.0, -0.9368421052631579, -1.873684210526315...","[2.371885993872958, 3.5890581827151244, 3.7370...",2.832442,"[4.934847565548008, 3.695688145896676, 0.42918...",3.302351
num3,12889.965823,0.911635,250,0.312883,"[[0.0, 0.0, 0.0, 0.5784313725490197, 1.1568627...","[[0.0, -0.27300613496932513, -0.54601226993865...","[7.124847068648842, 10.822103174004779, 1.9308...",3.243930,"[0.5343114376552299, 1.5965234445622298, 4.115...",1.337989
num4,15877.542691,1.041468,290,0.464286,"[[0.0, 0.3782051282051282, 0.7564102564102564,...","[[0.0, 0.0, 0.0, 0.2648809523809524, 0.5297619...","[0.42017295221999723, 0.3679475786031331, 12.1...",3.622438,"[8.00213860222668, 4.407466168464522, 0.908712...",3.266204
num5,8845.214381,-0.733528,174,0.426667,"[[0.0, -0.4609375, -0.921875, -1.3828125, -1.8...","[[0.0, 0.0, 0.0, 0.2966666666666667, 0.5933333...","[10.317498211225471, 5.183805440362682, 1.7821...",3.018815,"[0.7477495648709573, 0.6065314119731241, 5.700...",2.146878
num6,18051.272720,-0.390365,326,0.434783,"[[0.0, -0.42142857142857143, -0.84285714285714...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.27639751552795033...","[4.69340278321678, 6.049082329779103, 2.725066...",2.478327,"[2.7211033596741485, 4.374460053510654, 5.6081...",1.807196
num7,8957.831033,1.149479,206,0.677419,"[[0.0, 0.28095238095238095, 0.5619047619047619...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[5.614902042182984, 5.863497056571811, 3.86375...",1.671526,"[0.0, 0.0, 0.491220818797391, 0.68828420414940...",2.156629
num8,14825.301713,-0.859399,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.440298...","[[0.0, -0.2696969696969697, -0.539393939393939...","[10.874570941469846, 8.352922457789456, 6.0917...",3.373880,"[2.9610621276563043, 4.260238639146512, 7.6982...",1.673077
num9,5381.020988,-0.731668,146,0.410596,"[[0.0, 0.0, 0.0, -1.4274193548387097, -2.85483...","[[0.0, -0.5894039735099338, -1.178807947019867...","[8.255842863065016, 8.337633776791913, 1.07688...",3.673466,"[0.6997391401773533, 3.288743643625671, 5.3658...",3.616686

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            0            0
1     1            2            3
2     2            1            1
3     3            7            4
4     4            0            2
5     5            0            0
6     6            0            0
7     7            1            3
8     8            0            0
9     9            0            0

<ipython-input-3-fe47632234ea>:359: RuntimeWarning:

divide by zero encountered in double_scalars

   nums  percentage
0     0           0
1     1           0
2     2           0
3     3           2
4     4           2
5     5           0
6     6           0
7     7           1
8     8           0
9     9           0

127.0.0.1 - - [19/Jun/2022 19:19:14] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [1, 2, 3, 7]
FinalStanDevy  [1, 3, 7]
FinalRatio  [3]
Partial result[3, 1, 7]
Final result med --> 3

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4131.492769,0.584747,NaN,NaN,104,0.4554,"[0.0, 2.147091055358389, 1.2409673645990855, 8...",2.312877,"[4.687483333303704, 8.149233092751734, 1.28549...",3.984541,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4131.492769,0.584747,NaN,NaN,104,0.4554,"[0.0, 2.147091055358389, 1.2409673645990855, 8...",2.312877,"[4.687483333303704, 8.149233092751734, 1.28549...",3.984541,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4131.492769,0.584747,NaN,NaN,104,0.4554,"[0.0, 2.147091055358389, 1.2409673645990855, 8...",2.312877,"[4.687483333303704, 8.149233092751734, 1.28549...",3.984541,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4131.492769,0.584747,NaN,NaN,104,0.4554,"[0.0, 2.147091055358389, 1.2409673645990855, 8...",2.312877,"[4.687483333303704, 8.149233092751734, 1.28549...",3.984541,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,4131.492769,0.584747,NaN,NaN,104,0.4554,"[0.0, 2.147091055358389, 1.2409673645990855, 8...",2.312877,"[4.687483333303704, 8.149233092751734, 1.28549...",3.984541,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,8192.904012,-0.742333,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.3556690140845071, -0.711338028169014...","[2.844466793245483, 3.635016748504869, 3.78972...",1.724765,"[5.470054141594723, 1.2373120897544951, 4.1869...",2.748154
num1,3909.910955,5.555913,114,0.230333,"[[0.0, 0.0, 0.0, 1.7692307692307692, 3.5384615...","[[0.0, -0.4474220411055989, -0.894844082211197...","[3.507252707756644, 6.024494802902725, 2.47608...",1.881402,"[3.9068920781332976, 4.906323568246711, 2.9297...",2.554844
num2,2110.582936,1.044843,90,0.819789,"[[0.0, 0.0, 0.0, 0.5906522855675398, 1.1813045...","[[0.0, -1.063263157894737, -2.126526315789474,...","[1.849267046070442, 2.798248752625352, 2.91361...",2.208344,"[5.600774748269712, 4.194398422663183, 0.48710...",3.747983
num3,12756.251924,0.626257,250,0.312883,"[[0.0, 0.0, 0.0, 0.45098039215686275, 0.901960...","[[0.0, -0.30984662576687116, -0.61969325153374...","[5.554965511149944, 8.437571966173218, 1.50538...",2.529166,"[0.6064134642421886, 1.8119644172497849, 4.671...",1.518543
num4,15346.061189,0.715447,290,0.464286,"[[0.0, 0.2948717948717949, 0.5897435897435898,...","[[0.0, 0.0, 0.0, 0.30062500000000003, 0.601250...","[0.3275924712223707, 0.2868743833176971, 9.470...",2.824274,"[9.081977755178842, 5.00222649074833, 1.031337...",3.706958
num5,9064.220951,-0.503904,174,0.426667,"[[0.0, -0.359375, -0.71875, -1.078125, -1.4375...","[[0.0, 0.0, 0.0, 0.3367, 0.6734, 1.0101, 1.346...","[8.044151147735112, 4.041611021299718, 1.38944...",2.353653,"[0.8486537477260157, 0.6883790777910703, 6.469...",2.436586
num6,19758.915468,-0.268165,326,0.434783,"[[0.0, -0.32857142857142857, -0.65714285714285...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.31369565217391304...","[3.659263186914777, 4.7162336808447245, 2.1246...",1.932255,"[3.0882994422548955, 4.96476640455181, 6.36491...",2.051066
num7,8502.429528,0.789646,206,0.677419,"[[0.0, 0.21904761904761905, 0.4380952380952381...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[4.377720236278259, 4.571540078005142, 3.01242...",1.303224,"[0.0, 0.0, 0.5575080326598254, 0.7811639040576...",2.447653
num8,14818.839113,-0.590372,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.343283...","[[0.0, -0.3060909090909091, -0.612181818181818...","[8.478479039112083, 6.512448017937542, 4.74952...",2.630482,"[3.360639163084981, 4.8351315161819, 8.7370659...",1.898849
num9,5516.315056,-0.502627,146,0.410596,"[[0.0, 0.0, 0.0, -1.1129032258064515, -2.22580...","[[0.0, -0.6689403973509934, -1.337880794701986...","[6.436758842389675, 6.500528029363187, 0.83960...",2.864058,"[0.7941646129136457, 3.7325392746362813, 6.089...",4.104736

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            0            0
1     1            1            5
2     2            1            2
3     3            2            2
4     4            0            2
5     5            0            0
6     6            0            0
7     7            2            4
8     8            0            0
9     9            0            0

<ipython-input-3-fe47632234ea>:359: RuntimeWarning:

divide by zero encountered in double_scalars

   nums  percentage
0     0           0
1     1           1
2     2           0
3     3           0
4     4           2
5     5           0
6     6           0
7     7           1
8     8           0
9     9           0

FinalStanDevx  [3]
FinalStanDevy  [1, 2, 3, 4, 7]
FinalRatio  [4]
Partial result[1, 2, 3, 4, 7]

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,8192.904012,-0.742333,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.3556690140845071, -0.711338028169014...","[2.844466793245483, 3.635016748504869, 3.78972...",1.724765,"[5.470054141594723, 1.2373120897544951, 4.1869...",2.748154
num1,3909.910955,5.555913,114,0.230333,"[[0.0, 0.0, 0.0, 1.7692307692307692, 3.5384615...","[[0.0, -0.4474220411055989, -0.894844082211197...","[3.507252707756644, 6.024494802902725, 2.47608...",1.881402,"[3.9068920781332976, 4.906323568246711, 2.9297...",2.554844
num2,2110.582936,1.044843,90,0.819789,"[[0.0, 0.0, 0.0, 0.5906522855675398, 1.1813045...","[[0.0, -1.063263157894737, -2.126526315789474,...","[1.849267046070442, 2.798248752625352, 2.91361...",2.208344,"[5.600774748269712, 4.194398422663183, 0.48710...",3.747983
num3,12756.251924,0.626257,250,0.312883,"[[0.0, 0.0, 0.0, 0.45098039215686275, 0.901960...","[[0.0, -0.30984662576687116, -0.61969325153374...","[5.554965511149944, 8.437571966173218, 1.50538...",2.529166,"[0.6064134642421886, 1.8119644172497849, 4.671...",1.518543
num4,15346.061189,0.715447,290,0.464286,"[[0.0, 0.2948717948717949, 0.5897435897435898,...","[[0.0, 0.0, 0.0, 0.30062500000000003, 0.601250...","[0.3275924712223707, 0.2868743833176971, 9.470...",2.824274,"[9.081977755178842, 5.00222649074833, 1.031337...",3.706958
num5,9064.220951,-0.503904,174,0.426667,"[[0.0, -0.359375, -0.71875, -1.078125, -1.4375...","[[0.0, 0.0, 0.0, 0.3367, 0.6734, 1.0101, 1.346...","[8.044151147735112, 4.041611021299718, 1.38944...",2.353653,"[0.8486537477260157, 0.6883790777910703, 6.469...",2.436586
num6,19758.915468,-0.268165,326,0.434783,"[[0.0, -0.32857142857142857, -0.65714285714285...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.31369565217391304...","[3.659263186914777, 4.7162336808447245, 2.1246...",1.932255,"[3.0882994422548955, 4.96476640455181, 6.36491...",2.051066
num7,8502.429528,0.789646,206,0.677419,"[[0.0, 0.21904761904761905, 0.4380952380952381...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[4.377720236278259, 4.571540078005142, 3.01242...",1.303224,"[0.0, 0.0, 0.5575080326598254, 0.7811639040576...",2.447653
num8,14818.839113,-0.590372,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.343283...","[[0.0, -0.3060909090909091, -0.612181818181818...","[8.478479039112083, 6.512448017937542, 4.74952...",2.630482,"[3.360639163084981, 4.8351315161819, 8.7370659...",1.898849
num9,5516.315056,-0.502627,146,0.410596,"[[0.0, 0.0, 0.0, -1.1129032258064515, -2.22580...","[[0.0, -0.6689403973509934, -1.337880794701986...","[6.436758842389675, 6.500528029363187, 0.83960...",2.864058,"[0.7941646129136457, 3.7325392746362813, 6.089...",4.104736

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            0            0
1     1            0            4
2     2            0            1
3     3            2            1
4     4            0            1
5     5            0            0
6     6            0            0
7     7            1            1
8     8            0            0
9     9            0            0

<ipython-input-3-fe47632234ea>:359: RuntimeWarning:

divide by zero encountered in double_scalars

   nums  percentage
0     0           0
1     1           1
2     2           0
3     3           0
4     4           0
5     5           0
6     6           0
7     7           1
8     8           0
9     9           0

127.0.0.1 - - [19/Jun/2022 19:19:19] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [3]
FinalStanDevy  [1, 2, 3, 4, 7]
FinalRatio  [1]
Partial result[1, 2, 3, 4, 7]
Final result med --> 1

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3722.066395,0.81763,NaN,NaN,92,0.573428,"[0.0, 0.9128709291752769, 2.7565858289011724, ...",2.429678,"[4.655409703363694, 6.3294334971671615, 1.2862...",3.262193,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3722.066395,0.81763,NaN,NaN,92,0.573428,"[0.0, 0.9128709291752769, 2.7565858289011724, ...",2.429678,"[4.655409703363694, 6.3294334971671615, 1.2862...",3.262193,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3722.066395,0.81763,NaN,NaN,92,0.573428,"[0.0, 0.9128709291752769, 2.7565858289011724, ...",2.429678,"[4.655409703363694, 6.3294334971671615, 1.2862...",3.262193,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3722.066395,0.81763,NaN,NaN,92,0.573428,"[0.0, 0.9128709291752769, 2.7565858289011724, ...",2.429678,"[4.655409703363694, 6.3294334971671615, 1.2862...",3.262193,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,3722.066395,0.81763,NaN,NaN,92,0.573428,"[0.0, 0.9128709291752769, 2.7565858289011724, ...",2.429678,"[4.655409703363694, 6.3294334971671615, 1.2862...",3.262193,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,7132.721247,-0.934726,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.2817253521126761, -0.563450704225352...","[2.8370464450891903, 3.625534096117466, 3.7798...",1.720265,"[4.332828748331787, 0.9800746490570948, 3.3164...",2.176812
num1,3877.050221,6.995860,114,0.230333,"[[0.0, 0.0, 0.0, 1.7646153846153847, 3.5292307...","[[0.0, -0.3544029057406095, -0.708805811481219...","[3.498103352866844, 6.008778729503851, 2.46962...",1.876494,"[3.0946484028457095, 3.886297878382529, 2.3206...",2.023692
num2,1910.232765,1.315639,90,0.819789,"[[0.0, 0.0, 0.0, 0.5891114535182332, 1.1782229...","[[0.0, -0.8422105263157895, -1.684421052631579...","[1.84444287116765, 2.790948973270677, 2.906017...",2.202584,"[4.436372513702204, 3.322382118575203, 0.38583...",2.968777
num3,10905.764141,0.788566,250,0.312883,"[[0.0, 0.0, 0.0, 0.4498039215686275, 0.8996078...","[[0.0, -0.24542944785276075, -0.49085889570552...","[5.540474296773032, 8.415560908870159, 1.50145...",2.522568,"[0.4803399789527522, 1.4352566381957754, 3.699...",1.202837
num4,13306.014775,0.900872,290,0.464286,"[[0.0, 0.29410256410256413, 0.5882051282051283...","[[0.0, 0.0, 0.0, 0.238125, 0.47625, 1.190625, ...","[0.326737882167008, 0.2861260153612161, 9.4461...",2.816906,"[7.193832691732097, 3.9622625633578252, 0.8169...",2.936280
num5,7593.492415,-0.634503,174,0.426667,"[[0.0, -0.3584375, -0.716875, -1.0753125000000...","[[0.0, 0.0, 0.0, 0.2667, 0.5334, 0.8001, 1.066...","[8.023166405610587, 4.031067688200675, 1.38581...",2.347513,"[0.6722184571384864, 0.5452649244041534, 5.124...",1.930019
num6,15955.468535,-0.337667,326,0.434783,"[[0.0, -0.32771428571428574, -0.65542857142857...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.24847826086956523...","[3.649717282948913, 4.70393046254687, 2.119085...",1.927214,"[2.446241346152007, 3.9325904368695213, 5.0416...",1.624649
num7,7453.649089,0.994302,206,0.677419,"[[0.0, 0.2184761904761905, 0.436952380952381, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[4.366300096531448, 4.559614321279911, 3.00456...",1.299824,"[0.0, 0.0, 0.4416019967638119, 0.6187597659999...",1.938785
num8,12594.886725,-0.743382,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.342388...","[[0.0, -0.24245454545454548, -0.48490909090909...","[8.456361267705704, 6.49545902310814, 4.737134...",2.623620,"[2.661961582402033, 3.829906668742836, 6.92062...",1.504078
num9,4620.266841,-0.632894,146,0.410596,"[[0.0, 0.0, 0.0, -1.1099999999999999, -2.21999...","[[0.0, -0.5298675496688742, -1.059735099337748...","[6.41996729758344, 6.48357013015615, 0.8374146...",2.856587,"[0.6290576247819105, 2.9565435834437075, 4.823...",3.251360

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            0            0
1     1            2            2
2     2            2            2
3     3            1            0
4     4            1            3
5     5            0            0
6     6            0            0
7     7            1            2
8     8            0            0
9     9            0            0

<ipython-input-3-fe47632234ea>:359: RuntimeWarning:

divide by zero encountered in double_scalars

   nums  percentage
0     0           0
1     1           0
2     2           2
3     3           1
4     4           3
5     5           0
6     6           0
7     7           1
8     8           0
9     9           0

127.0.0.1 - - [19/Jun/2022 19:19:29] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [1]
FinalStanDevy  [1, 2, 4, 7]
FinalRatio  [2, 3, 4, 7]
Partial result[1, 2, 4, 7]
Final result med --> 4

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,5498.442075,-0.401235,NaN,NaN,118,0.460784,"[5.292673870003221, 6.346405242665506, 0.30828...",2.564652,"[1.9231087092096528, 0.4937627496000099, 4.667...",2.062303,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,5498.442075,-0.401235,NaN,NaN,118,0.460784,"[5.292673870003221, 6.346405242665506, 0.30828...",2.564652,"[1.9231087092096528, 0.4937627496000099, 4.667...",2.062303,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,5498.442075,-0.401235,NaN,NaN,118,0.460784,"[5.292673870003221, 6.346405242665506, 0.30828...",2.564652,"[1.9231087092096528, 0.4937627496000099, 4.667...",2.062303,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,5498.442075,-0.401235,NaN,NaN,118,0.460784,"[5.292673870003221, 6.346405242665506, 0.30828...",2.564652,"[1.9231087092096528, 0.4937627496000099, 4.667...",2.062303,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,5498.442075,-0.401235,NaN,NaN,118,0.460784,"[5.292673870003221, 6.346405242665506, 0.30828...",2.564652,"[1.9231087092096528, 0.4937627496000099, 4.667...",2.062303,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,8308.083683,-0.751109,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.3591549295774648, -0.718309859154929...","[2.9063030278812545, 3.714038851733236, 3.8721...",1.762260,"[5.523666195848547, 1.2494389976730857, 4.2279...",2.775088
num1,3993.452620,5.621596,114,0.230333,"[[0.0, 0.0, 0.0, 1.8076923076923077, 3.6153846...","[[0.0, -0.45180722891566266, -0.90361445783132...","[3.5834973318383105, 6.155462081226699, 2.5299...",1.922302,"[3.94518356568257, 4.954410493626021, 2.958424...",2.579884
num2,2144.456195,1.057195,90,0.819789,"[[0.0, 0.0, 0.0, 0.603492552645095, 1.20698510...","[[0.0, -1.0736842105263158, -2.147368421052631...","[1.8894685035937127, 2.859080247247642, 2.9769...",2.256352,"[5.6556679964707515, 4.235507762713045, 0.4918...",3.784717
num3,12924.358200,0.633661,250,0.312883,"[[0.0, 0.0, 0.0, 0.46078431372549017, 0.921568...","[[0.0, -0.3128834355828221, -0.625766871165644...","[5.675725630957551, 8.620997443698721, 1.53810...",2.584148,"[0.6123569285486906, 1.829723498262331, 4.7169...",1.533426
num4,15558.735748,0.723905,290,0.464286,"[[0.0, 0.30128205128205127, 0.6025641025641025...","[[0.0, 0.0, 0.0, 0.30357142857142855, 0.607142...","[0.33471404668372656, 0.29311078295503823, 9.6...",2.885671,"[9.170990308169904, 5.051253361611025, 1.04144...",3.743289
num5,9175.075071,-0.509862,174,0.426667,"[[0.0, -0.3671875, -0.734375, -1.1015625, -1.4...","[[0.0, 0.0, 0.0, 0.34, 0.68, 1.02, 1.36, 1.36,...","[8.219023998772833, 4.129472130458407, 1.41964...",2.404819,"[0.856971411425142, 0.6951258878793107, 6.5332...",2.460467
num6,19968.485013,-0.271335,326,0.434783,"[[0.0, -0.3357142857142857, -0.671428571428571...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.3167701863354037,...","[3.738812386630316, 4.818760499993523, 2.17081...",1.974260,"[3.118567895356889, 5.013426128742546, 6.42729...",2.071168
num7,8624.886705,0.798981,206,0.677419,"[[0.0, 0.22380952380952382, 0.4476190476190476...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[4.4728880675017, 4.670921384048732, 3.0779099...",1.331555,"[0.0, 0.0, 0.562972174352066, 0.78882009913752...",2.471642
num8,15010.001918,-0.597352,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.350746...","[[0.0, -0.3090909090909091, -0.618181818181818...","[8.662793800831912, 6.6540229748492274, 4.8527...",2.687667,"[3.393576820460034, 4.882520687561171, 8.82269...",1.917459
num9,5583.724690,-0.508569,146,0.410596,"[[0.0, 0.0, 0.0, -1.1370967741935485, -2.27419...","[[0.0, -0.6754966887417219, -1.350993377483443...","[6.576688382441623, 6.641843856088474, 0.85785...",2.926321,"[0.8019482280684275, 3.769121928649646, 6.1495...",4.144966

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            1            4
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            4            4
6     6            5            4
7     7            0            0
8     8            4            2
9     9            2            2

   nums  percentage
0     0           2
1     1           0
2     2           0
3     3           0
4     4           0
5     5           5
6     6           1
7     7           0
8     8           0
9     9           2

127.0.0.1 - - [19/Jun/2022 19:19:40] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [5, 6, 8]
FinalStanDevy  [0, 5, 6]
FinalRatio  [0, 5, 9]
Partial result[5, 0, 6]
Final result med --> 5

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,5037.476055,-0.306,NaN,NaN,108,0.443038,"[4.15, 5.757820768311566, 0.45, 3.442745997020...",1.740272,"[1.3865424623862048, 5.5319526389874305, 6.217...",2.347421,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,5037.476055,-0.306,NaN,NaN,108,0.443038,"[4.15, 5.757820768311566, 0.45, 3.442745997020...",1.740272,"[1.3865424623862048, 5.5319526389874305, 6.217...",2.347421,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,5037.476055,-0.306,NaN,NaN,108,0.443038,"[4.15, 5.757820768311566, 0.45, 3.442745997020...",1.740272,"[1.3865424623862048, 5.5319526389874305, 6.217...",2.347421,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,5037.476055,-0.306,NaN,NaN,108,0.443038,"[4.15, 5.757820768311566, 0.45, 3.442745997020...",1.740272,"[1.3865424623862048, 5.5319526389874305, 6.217...",2.347421,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,5037.476055,-0.306,NaN,NaN,108,0.443038,"[4.15, 5.757820768311566, 0.45, 3.442745997020...",1.740272,"[1.3865424623862048, 5.5319526389874305, 6.217...",2.347421,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,6346.423596,-0.722181,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.27816901408450706, -0.55633802816901...","[2.1642682122519976, 2.765773612992835, 2.8834...",1.312321,"[4.278133622274855, 0.9677027530997432, 3.2745...",2.149333
num1,2977.572282,5.405090,114,0.230333,"[[0.0, 0.0, 0.0, 1.3461538461538463, 2.6923076...","[[0.0, -0.3499291282778172, -0.699858256555634...","[2.668561842858316, 4.5838547413390325, 1.8839...",1.431501,"[3.055583349891402, 3.8372394999652517, 2.2913...",1.998146
num2,1627.455179,1.016479,90,0.819789,"[[0.0, 0.0, 0.0, 0.44940934771443247, 0.898818...","[[0.0, -0.8315789473684211, -1.663157894736842...","[1.4070510133144665, 2.1291023117801586, 2.216...",1.680262,"[4.380370310992053, 3.2804422868071623, 0.3809...",2.931300
num3,9901.128101,0.609256,250,0.312883,"[[0.0, 0.0, 0.0, 0.3431372549019608, 0.6862745...","[[0.0, -0.24233128834355827, -0.48466257668711...","[4.226604193266262, 6.419891713392665, 1.14540...",1.924366,"[0.4742764446602603, 1.4171387878698445, 3.653...",1.187653
num4,11892.856282,0.696025,290,0.464286,"[[0.0, 0.22435897435897437, 0.4487179487179487...","[[0.0, 0.0, 0.0, 0.23511904761904762, 0.470238...","[0.24925514114745598, 0.21827398730694342, 7.2...",2.148904,"[7.103021905347277, 3.9122452506595193, 0.8066...",2.899214
num5,7050.588321,-0.490225,174,0.426667,"[[0.0, -0.2734375, -0.546875, -0.8203125, -1.0...","[[0.0, 0.0, 0.0, 0.2633333333333333, 0.5266666...","[6.120549786320194, 3.0751388205541335, 1.0571...",1.790823,"[0.6637327598292766, 0.5383818151222112, 5.060...",1.905655
num6,15425.676428,-0.260885,326,0.434783,"[[0.0, -0.25, -0.5, -0.75, -1.0, -1.25, -1.5, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.2453416149068323,...","[2.7842219900438523, 3.588438670207943, 1.6165...",1.470194,"[2.415361409148963, 3.882947687947658, 4.97800...",1.604140
num7,6581.012727,0.768210,206,0.677419,"[[0.0, 0.16666666666666666, 0.3333333333333333...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[3.3308740928204146, 3.4783457115256513, 2.292...",0.991583,"[0.0, 0.0, 0.4360274683707178, 0.6109489003123...",1.914311
num8,11509.333587,-0.574346,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.261194...","[[0.0, -0.23939393939393938, -0.47878787878787...","[6.451016660193976, 4.955123491908999, 3.61376...",2.001454,"[2.6283585178072815, 3.781560140366005, 6.8332...",1.485091
num9,4290.951067,-0.488982,146,0.410596,"[[0.0, 0.0, 0.0, -0.8467741935483872, -1.69354...","[[0.0, -0.5231788079470199, -1.046357615894039...","[4.897533901818231, 4.9460539353850335, 0.6388...",2.179175,"[0.621116764876527, 2.9192218859149217, 4.7629...",3.210317

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            2            2
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            4            2
6     6            3            8
7     7            0            0
8     8            3            5
9     9            4            3

   nums  percentage
0     0           0
1     1           0
2     2           0
3     3           0
4     4           0
5     5           4
6     6           6
7     7           0
8     8           3
9     9           2

127.0.0.1 - - [19/Jun/2022 19:19:47] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [5, 6, 8, 9]
FinalStanDevy  [6, 8, 9]
FinalRatio  [5, 6, 8]
Partial result[5, 6, 8, 9]
Final result med --> 6

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,1864.009455,1.451537,NaN,NaN,54,0.719634,"[0.7071067811865476, 3.337663853655727, 6.0365...",1.809643,"[0.0, 0.0, 0.0, 0.0, 0.0, 3.54400902933387, 5....",2.395342,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,1864.009455,1.451537,NaN,NaN,54,0.719634,"[0.7071067811865476, 3.337663853655727, 6.0365...",1.809643,"[0.0, 0.0, 0.0, 0.0, 0.0, 3.54400902933387, 5....",2.395342,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,1864.009455,1.451537,NaN,NaN,54,0.719634,"[0.7071067811865476, 3.337663853655727, 6.0365...",1.809643,"[0.0, 0.0, 0.0, 0.0, 0.0, 3.54400902933387, 5....",2.395342,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,1864.009455,1.451537,NaN,NaN,54,0.719634,"[0.7071067811865476, 3.337663853655727, 6.0365...",1.809643,"[0.0, 0.0, 0.0, 0.0, 0.0, 3.54400902933387, 5....",2.395342,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,1864.009455,1.451537,NaN,NaN,54,0.719634,"[0.7071067811865476, 3.337663853655727, 6.0365...",1.809643,"[0.0, 0.0, 0.0, 0.0, 0.0, 3.54400902933387, 5....",2.395342,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,8231.917889,-1.173051,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.2887323943661972, -0.577464788732394...","[3.648956205856868, 4.66309431150592, 4.861556...",2.212573,"[4.440594392740988, 1.0044509589136579, 3.3989...",2.230953
num1,4968.331217,8.779579,114,0.230333,"[[0.0, 0.0, 0.0, 2.2696153846153844, 4.5392307...","[[0.0, -0.3632175761871014, -0.726435152374202...","[4.49919526705912, 7.728379093897606, 3.176389...",2.413511,"[3.171618160646772, 3.982957455660134, 2.37834...",2.074025
num2,2286.802280,1.651084,90,0.819789,"[[0.0, 0.0, 0.0, 0.7577041602465332, 1.5154083...","[[0.0, -0.8631578947368421, -1.726315789473684...","[2.372288008448191, 3.589666497661348, 3.73766...",2.832922,"[4.546713487358839, 3.4050160445340163, 0.3954...",3.042616
num3,12347.650491,0.989625,250,0.312883,"[[0.0, 0.0, 0.0, 0.5785294117647058, 1.1570588...","[[0.0, -0.25153374233128833, -0.50306748466257...","[7.126054669846917, 10.823937428780033, 1.9311...",3.244480,"[0.49228694255875116, 1.47095418487756, 3.7920...",1.232754
num4,15292.687232,1.130565,290,0.464286,"[[0.0, 0.37826923076923075, 0.7565384615384615...","[[0.0, 0.0, 0.0, 0.24404761904761904, 0.488095...","[0.42024416797461067, 0.36800994259950653, 12....",3.623052,"[7.372756914411099, 4.060811526001021, 0.83724...",3.009311
num5,8400.005920,-0.796281,174,0.426667,"[[0.0, -0.461015625, -0.92203125, -1.383046875...","[[0.0, 0.0, 0.0, 0.2733333333333333, 0.5466666...","[10.319246939735848, 5.184684051454269, 1.7824...",3.019327,"[0.6889378013417808, 0.558826694177485, 5.2522...",1.978022
num6,16826.559842,-0.423761,326,0.434783,"[[0.0, -0.4215, -0.843, -1.2645, -1.686, -2.10...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.2546583850931677,...","[4.694198275213935, 6.050107597970592, 2.72552...",2.478747,"[2.5070839943065186, 4.030401397616556, 5.1670...",1.665057
num7,8662.239923,1.247817,206,0.677419,"[[0.0, 0.28099999999999997, 0.5619999999999999...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[5.6158537204952195, 5.864490869632247, 3.8644...",1.671809,"[0.0, 0.0, 0.45258547349871975, 0.634149491463...",1.987006
num8,14167.461708,-0.932920,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.440373...","[[0.0, -0.24848484848484848, -0.49696969696969...","[10.876414089087044, 8.354338207358571, 6.0928...",3.374451,"[2.728169600761988, 3.9251636900001565, 7.0927...",1.541487
num9,5109.681478,-0.794262,146,0.410596,"[[0.0, 0.0, 0.0, -1.4276612903225807, -2.85532...","[[0.0, -0.543046357615894, -1.086092715231788,...","[8.257242158465537, 8.339046935059166, 1.07706...",3.674089,"[0.644703477466775, 3.0300784132281464, 4.9437...",3.332228

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

invalid value encountered in true_divide

   nums  percentagex  percentagey
0     0            0            0
1     1            1            1
2     2            4            1
3     3            2            1
4     4            2            4
5     5            0            0
6     6            0            0
7     7            2            4
8     8            0            0
9     9            0            0

<ipython-input-3-fe47632234ea>:360: RuntimeWarning:

divide by zero encountered in double_scalars

<ipython-input-3-fe47632234ea>:359: RuntimeWarning:

divide by zero encountered in double_scalars

<ipython-input-3-fe47632234ea>:361: RuntimeWarning:

invalid value encountered in double_scalars

   nums  percentage
0     0           0
1     1           1
2     2           0
3     3           2
4     4           1
5     5           0
6     6           0
7     7           2
8     8           0
9     9           0

127.0.0.1 - - [19/Jun/2022 19:19:52] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [2, 3, 4, 7]
FinalStanDevy  [1, 2, 3, 4, 7]
FinalRatio  [3]
Partial result[3, 1, 2, 4, 7]
Final result med --> 7

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,7898.035594,-0.469058,NaN,NaN,160,0.623656,"[6.305302208260917, 6.777648813379165, 6.02460...",2.859752,"[0.9921567416492215, 7.4642376536388495, 8.967...",2.118272,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,7898.035594,-0.469058,NaN,NaN,160,0.623656,"[6.305302208260917, 6.777648813379165, 6.02460...",2.859752,"[0.9921567416492215, 7.4642376536388495, 8.967...",2.118272,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,7898.035594,-0.469058,NaN,NaN,160,0.623656,"[6.305302208260917, 6.777648813379165, 6.02460...",2.859752,"[0.9921567416492215, 7.4642376536388495, 8.967...",2.118272,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,7898.035594,-0.469058,NaN,NaN,160,0.623656,"[6.305302208260917, 6.777648813379165, 6.02460...",2.859752,"[0.9921567416492215, 7.4642376536388495, 8.967...",2.118272,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,7898.035594,-0.469058,NaN,NaN,160,0.623656,"[6.305302208260917, 6.777648813379165, 6.02460...",2.859752,"[0.9921567416492215, 7.4642376536388495, 8.967...",2.118272,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,8636.981158,-1.016600,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.3274647887323944, -0.654929577464788...","[3.5865016088747392, 4.58328198724527, 4.77834...",2.174703,"[5.036283884450146, 1.1391943802313438, 3.8548...",2.530228
num1,4893.649050,7.608639,114,0.230333,"[[0.0, 0.0, 0.0, 2.230769230769231, 4.46153846...","[[0.0, -0.41194188518781005, -0.82388377037562...","[4.422188196736638, 7.596102142790395, 3.12202...",2.372202,"[3.59707913341646, 4.517256626541372, 2.697386...",2.352247
num2,2345.509466,1.430878,90,0.819789,"[[0.0, 0.0, 0.0, 0.7447354904982024, 1.4894709...","[[0.0, -0.9789473684210527, -1.957894736842105...","[2.331684536349688, 3.5282266880928352, 3.6736...",2.784434,"[5.15663846737039, 3.861786489532482, 0.448478...",3.450771
num3,13113.207311,0.857638,250,0.312883,"[[0.0, 0.0, 0.0, 0.5686274509803921, 1.1372549...","[[0.0, -0.2852760736196319, -0.570552147239263...","[7.004086948841234, 10.638677696479274, 1.8980...",3.188949,"[0.558325434853218, 1.668277307239184, 4.30070...",1.398124
num4,16087.325889,0.979780,290,0.464286,"[[0.0, 0.3717948717948718, 0.7435897435897436,...","[[0.0, 0.0, 0.0, 0.2767857142857143, 0.5535714...","[0.4130513767586414, 0.3617111789657919, 11.94...",3.561041,"[8.36178528097844, 4.605554535586523, 0.949553...",3.412999
num5,9054.999387,-0.690080,174,0.426667,"[[0.0, -0.453125, -0.90625, -1.359375, -1.8125...","[[0.0, 0.0, 0.0, 0.31, 0.62, 0.929999999999999...","[10.14262536018775, 5.095944331203992, 1.75190...",2.967649,"[0.7813562868876295, 0.6337912507134892, 5.956...",2.243367
num6,18718.653842,-0.367243,326,0.434783,"[[0.0, -0.4142857142857143, -0.828571428571428...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.2888198757763975,...","[4.613853583501242, 5.946555510630306, 2.67887...",2.436321,"[2.8434001398842224, 4.57106499973585, 5.86017...",1.888418
num7,9049.012208,1.081394,206,0.677419,"[[0.0, 0.2761904761904762, 0.5523809523809524,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[5.5197342109595455, 5.764115750528223, 3.7982...",1.643195,"[0.0, 0.0, 0.5132981589680602, 0.7192183256842...",2.253556
num8,15108.616269,-0.808496,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.432835...","[[0.0, -0.2818181818181818, -0.563636363636363...","[10.690256179750017, 8.211347500877768, 5.9885...",3.316695,"[3.094143571595913, 4.451710038658714, 8.04422...",1.748272
num9,5509.025193,-0.688331,146,0.410596,"[[0.0, 0.0, 0.0, -1.4032258064516128, -2.80645...","[[0.0, -0.6158940397350994, -1.231788079470198...","[8.115913323013066, 8.196317950066625, 1.05863...",3.611204,"[0.7311880902976838, 3.436552346709971, 5.6069...",3.779234

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            3            5
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            6            4
6     6            6            5
7     7            0            0
8     8            2            7
9     9            3            4

   nums  percentage
0     0           0
1     1           0
2     2           0
3     3           0
4     4           0
5     5           0
6     6           2
7     7           0
8     8           3
9     9           2

127.0.0.1 - - [19/Jun/2022 19:19:58] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [0, 5, 6, 9]
FinalStanDevy  [0, 6, 8]
FinalRatio  [6, 8, 9]
Partial result[6, 9, 0, 8]
Final result med --> 6

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,6223.329193,-0.284688,NaN,NaN,164,0.402597,"[3.3095505737184316, 4.537926116355355, 3.3317...",1.565355,"[0.2633171804117612, 4.95832239144451, 6.93918...",2.196791,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,6223.329193,-0.284688,NaN,NaN,164,0.402597,"[3.3095505737184316, 4.537926116355355, 3.3317...",1.565355,"[0.2633171804117612, 4.95832239144451, 6.93918...",2.196791,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,6223.329193,-0.284688,NaN,NaN,164,0.402597,"[3.3095505737184316, 4.537926116355355, 3.3317...",1.565355,"[0.2633171804117612, 4.95832239144451, 6.93918...",2.196791,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,6223.329193,-0.284688,NaN,NaN,164,0.402597,"[3.3095505737184316, 4.537926116355355, 3.3317...",1.565355,"[0.2633171804117612, 4.95832239144451, 6.93918...",2.196791,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,6223.329193,-0.284688,NaN,NaN,164,0.402597,"[3.3095505737184316, 4.537926116355355, 3.3317...",1.565355,"[0.2633171804117612, 4.95832239144451, 6.93918...",2.196791,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,5998.202135,-0.656260,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.2711267605633803, -0.542253521126760...","[1.9169232737089124, 2.4496852000793683, 2.553...",1.162341,"[4.1698264419641, 0.9432039492238007, 3.191680...",2.094920
num1,2646.470216,4.911712,114,0.230333,"[[0.0, 0.0, 0.0, 1.1923076923076923, 2.3846153...","[[0.0, -0.341070163004961, -0.682140326009922,...","[2.3635833465316516, 4.059985628043142, 1.6686...",1.267901,"[2.978226809387822, 3.7400941961686627, 2.2333...",1.947560
num2,1514.404853,0.923695,90,0.819789,"[[0.0, 0.0, 0.0, 0.3980482794042116, 0.7960965...","[[0.0, -0.8105263157894737, -1.621052631578947...","[1.2462451832213848, 1.885776333290998, 1.9635...",1.488232,"[4.269474860080861, 3.1973931149892585, 0.3713...",2.857090
num3,9420.135786,0.553643,250,0.312883,"[[0.0, 0.0, 0.0, 0.30392156862745096, 0.607843...","[[0.0, -0.2361963190184049, -0.472392638036809...","[3.7435637140358313, 5.686189803290646, 1.0144...",1.704438,"[0.46226944606126635, 1.3812618565313675, 3.56...",1.157586
num4,11257.398176,0.632492,290,0.464286,"[[0.0, 0.1987179487179487, 0.3974358974358974,...","[[0.0, 0.0, 0.0, 0.22916666666666666, 0.458333...","[0.22076883930203245, 0.19332838875757843, 6.3...",1.903315,"[6.923198565971397, 3.813201067098518, 0.78618...",2.825817
num5,6755.102832,-0.445477,174,0.426667,"[[0.0, -0.2421875, -0.484375, -0.7265625, -0.9...","[[0.0, 0.0, 0.0, 0.25666666666666665, 0.513333...","[5.421058382169315, 2.723694383919375, 0.93636...",1.586157,"[0.6469293988209405, 0.5247518957520286, 4.932...",1.857411
num6,14951.455888,-0.237072,326,0.434783,"[[0.0, -0.22142857142857142, -0.44285714285714...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.2391304347826087,...","[2.4660251911816977, 3.178331393612749, 1.4318...",1.302172,"[2.354213019043926, 3.7846452148350593, 4.8519...",1.563529
num7,6203.559116,0.698088,206,0.677419,"[[0.0, 0.14761904761904762, 0.2952380952380952...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[2.950202767926653, 3.080820487351291, 2.03011...",0.878259,"[0.0, 0.0, 0.42498879828538316, 0.595481839544...",1.865848
num8,10972.877197,-0.521920,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.231343...","[[0.0, -0.23333333333333334, -0.46666666666666...","[5.713757613314665, 4.388823664262256, 3.20076...",1.772716,"[2.561817795837477, 3.685824440609904, 6.66027...",1.447494
num9,4111.413671,-0.444348,146,0.410596,"[[0.0, 0.0, 0.0, -0.75, -1.5, -2.25, -3.0, -4....","[[0.0, -0.5099337748344371, -1.019867549668874...","[4.337815741610432, 4.3807906284838865, 0.5658...",1.930126,"[0.6053922898163618, 2.845317534372772, 4.6423...",3.129043

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

invalid value encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            1            4
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            3            3
6     6            4            7
7     7            0            0
8     8            6            7
9     9            4            3

   nums  percentage
0     0           0
1     1           0
2     2           0
3     3           0
4     4           0
5     5           1
6     6           0
7     7           0
8     8           4
9     9           2

127.0.0.1 - - [19/Jun/2022 19:20:14] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [6, 8, 9]
FinalStanDevy  [0, 6, 8]
FinalRatio  [5, 8, 9]
Partial result[8, 9, 0, 6]
Final result med --> 8

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2399.986771,-0.102408,NaN,NaN,92,0.4,"[3.244178071256985, 3.303570832737446, 0.66666...",1.43771,"[0.3333333333333333, 4.055936055209774, 4.2867...",3.421698,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2399.986771,-0.102408,NaN,NaN,92,0.4,"[3.244178071256985, 3.303570832737446, 0.66666...",1.43771,"[0.3333333333333333, 4.055936055209774, 4.2867...",3.421698,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2399.986771,-0.102408,NaN,NaN,92,0.4,"[3.244178071256985, 3.303570832737446, 0.66666...",1.43771,"[0.3333333333333333, 4.055936055209774, 4.2867...",3.421698,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2399.986771,-0.102408,NaN,NaN,92,0.4,"[3.244178071256985, 3.303570832737446, 0.66666...",1.43771,"[0.3333333333333333, 4.055936055209774, 4.2867...",3.421698,NaN

,Right,Ratio_xy,Width,Height,Length,Ratio_wh,StanDevx,SStanDevx,StanDevy,SStanDevy,Method
num,2399.986771,-0.102408,NaN,NaN,92,0.4,"[3.244178071256985, 3.303570832737446, 0.66666...",1.43771,"[0.3333333333333333, 4.055936055209774, 4.2867...",3.421698,NaN

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,6608.561399,-0.652026,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.2992957746478873, -0.598591549295774...","[2.1024319776162264, 2.6867515097644685, 2.801...",1.274826,"[4.603055163207122, 1.041199164727572, 3.52328...",2.312574
num1,2903.332744,4.880024,114,0.230333,"[[0.0, 0.0, 0.0, 1.3076923076923077, 2.6153846...","[[0.0, -0.37650602409638556, -0.75301204819277...","[2.59231721877665, 4.452887463015059, 1.830151...",1.390601,"[3.2876529714021414, 4.128675411355017, 2.4653...",2.149904
num2,1666.788702,0.917735,90,0.819789,"[[0.0, 0.0, 0.0, 0.43656908063687727, 0.873138...","[[0.0, -0.8947368421052632, -1.789473684210526...","[1.3668495557911962, 2.068270817157869, 2.1535...",1.632255,"[4.7130566637256255, 3.5295898022608703, 0.409...",3.153931
num3,10383.150380,0.550071,250,0.312883,"[[0.0, 0.0, 0.0, 0.3333333333333333, 0.6666666...","[[0.0, -0.2607361963190184, -0.521472392638036...","[4.1058440734586545, 6.2364662358671605, 1.112...",1.869384,"[0.510297440457242, 1.5247695818852756, 3.9307...",1.277855
num4,12404.142097,0.628411,290,0.464286,"[[0.0, 0.21794871794871795, 0.4358974358974359...","[[0.0, 0.0, 0.0, 0.25297619047619047, 0.505952...","[0.2421335656861001, 0.21203758766960212, 7.00...",2.087507,"[7.6424919234749185, 4.209377801342521, 0.8678...",3.119408
num5,7448.986807,-0.442603,174,0.426667,"[[0.0, -0.265625, -0.53125, -0.796875, -1.0625...","[[0.0, 0.0, 0.0, 0.2833333333333333, 0.5666666...","[5.945676935282474, 2.9872777113954436, 1.0269...",1.739656,"[0.714142842854285, 0.5792715732327589, 5.4444...",2.050389
num6,16499.205010,-0.235542,326,0.434783,"[[0.0, -0.24285714285714285, -0.48571428571428...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.2639751552795031,...","[2.704672790328314, 3.4859118510591447, 1.5703...",1.428188,"[2.5988065794640742, 4.177855107285455, 5.3560...",1.725974
num7,6833.640117,0.693584,206,0.677419,"[[0.0, 0.1619047619047619, 0.3238095238095238,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[3.2357062615969747, 3.378964405482061, 2.2265...",0.963252,"[0.0, 0.0, 0.4691434786267217, 0.6573500826146...",2.059702
num8,12096.228683,-0.518552,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.253731...","[[0.0, -0.25757575757575757, -0.51515151515151...","[6.266701898474149, 4.813548534997313, 3.51051...",1.944270,"[2.827980683716695, 4.068767239634309, 7.35224...",1.597883
num9,4533.758432,-0.441481,146,0.410596,"[[0.0, 0.0, 0.0, -0.8225806451612903, -1.64516...","[[0.0, -0.5629139072847682, -1.125827814569536...","[4.75760436176628, 4.8047381086597465, 0.62057...",2.116913,"[0.6682901900570227, 3.1409349405413716, 5.124...",3.454138

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

invalid value encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            2            3
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            3            3
6     6            3            4
7     7            0            0
8     8            2            3
9     9            6            3

   nums  percentage
0     0           0
1     1           0
2     2           0
3     3           0
4     4           0
5     5           0
6     6           3
7     7           0
8     8           2
9     9           1

FinalStanDevx  [5, 6, 9]
FinalStanDevy  [0, 5, 6, 8, 9]
FinalRatio  [6, 8, 9]
Partial result[6, 9, 0, 5, 8]

,Right,Ratio_xy,Length,Ratio_wh,ratio_x,ratio_y,StanDevx,SStanDevx,StanDevy,SStanDevy
num0,6608.561399,-0.652026,290,0.612676,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0.0, -0.2992957746478873, -0.598591549295774...","[2.1024319776162264, 2.6867515097644685, 2.801...",1.274826,"[4.603055163207122, 1.041199164727572, 3.52328...",2.312574
num1,2903.332744,4.880024,114,0.230333,"[[0.0, 0.0, 0.0, 1.3076923076923077, 2.6153846...","[[0.0, -0.37650602409638556, -0.75301204819277...","[2.59231721877665, 4.452887463015059, 1.830151...",1.390601,"[3.2876529714021414, 4.128675411355017, 2.4653...",2.149904
num2,1666.788702,0.917735,90,0.819789,"[[0.0, 0.0, 0.0, 0.43656908063687727, 0.873138...","[[0.0, -0.8947368421052632, -1.789473684210526...","[1.3668495557911962, 2.068270817157869, 2.1535...",1.632255,"[4.7130566637256255, 3.5295898022608703, 0.409...",3.153931
num3,10383.150380,0.550071,250,0.312883,"[[0.0, 0.0, 0.0, 0.3333333333333333, 0.6666666...","[[0.0, -0.2607361963190184, -0.521472392638036...","[4.1058440734586545, 6.2364662358671605, 1.112...",1.869384,"[0.510297440457242, 1.5247695818852756, 3.9307...",1.277855
num4,12404.142097,0.628411,290,0.464286,"[[0.0, 0.21794871794871795, 0.4358974358974359...","[[0.0, 0.0, 0.0, 0.25297619047619047, 0.505952...","[0.2421335656861001, 0.21203758766960212, 7.00...",2.087507,"[7.6424919234749185, 4.209377801342521, 0.8678...",3.119408
num5,7448.986807,-0.442603,174,0.426667,"[[0.0, -0.265625, -0.53125, -0.796875, -1.0625...","[[0.0, 0.0, 0.0, 0.2833333333333333, 0.5666666...","[5.945676935282474, 2.9872777113954436, 1.0269...",1.739656,"[0.714142842854285, 0.5792715732327589, 5.4444...",2.050389
num6,16499.205010,-0.235542,326,0.434783,"[[0.0, -0.24285714285714285, -0.48571428571428...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.2639751552795031,...","[2.704672790328314, 3.4859118510591447, 1.5703...",1.428188,"[2.5988065794640742, 4.177855107285455, 5.3560...",1.725974
num7,6833.640117,0.693584,206,0.677419,"[[0.0, 0.1619047619047619, 0.3238095238095238,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[3.2357062615969747, 3.378964405482061, 2.2265...",0.963252,"[0.0, 0.0, 0.4691434786267217, 0.6573500826146...",2.059702
num8,12096.228683,-0.518552,344,0.406061,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.253731...","[[0.0, -0.25757575757575757, -0.51515151515151...","[6.266701898474149, 4.813548534997313, 3.51051...",1.944270,"[2.827980683716695, 4.068767239634309, 7.35224...",1.597883
num9,4533.758432,-0.441481,146,0.410596,"[[0.0, 0.0, 0.0, -0.8225806451612903, -1.64516...","[[0.0, -0.5629139072847682, -1.125827814569536...","[4.75760436176628, 4.8047381086597465, 0.62057...",2.116913,"[0.6682901900570227, 3.1409349405413716, 5.124...",3.454138

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

divide by zero encountered in true_divide

<ipython-input-3-fe47632234ea>:193: RuntimeWarning:

invalid value encountered in true_divide

<ipython-input-3-fe47632234ea>:229: RuntimeWarning:

divide by zero encountered in true_divide

   nums  percentagex  percentagey
0     0            2            1
1     1            0            0
2     2            0            0
3     3            0            0
4     4            0            0
5     5            2            1
6     6            3            3
7     7            0            0
8     8            0            2
9     9            1            2

   nums  percentage
0     0           0
1     1           0
2     2           0
3     3           0
4     4           0
5     5           0
6     6           2
7     7           0
8     8           2
9     9           1

127.0.0.1 - - [19/Jun/2022 19:20:21] "POST /_dash-update-component HTTP/1.1" 200 -

FinalStanDevx  [0, 5, 6]
FinalStanDevy  [6, 8, 9]
FinalRatio  [6]
Partial result[6, 8, 9]
Final result med --> 6

In [4]:
# ----------------------------------------------------------------------------------------------------------------------- #
# ---------------------------------------------------- DRAW ------------------------------------------------------------- #
# ----------------------------------------------------------------------------------------------------------------------- #

# ---------------------------------------------- DRAW NUM FILTER ---------------------------------------------- #

def NTP_draw(lstx,lsty,preguiax,preguiay):

    fig={"coordx_dist":{},"coordy_dist":{},
           "final_distW":{},"final_distR":{},"final_dist_abs":{},
           "width":{},"height":{},"length":{},
           "ratio_wh":{},"ratio_xy":{}, "ratio_x":{},"ratio_y":{},
           "StanDevx":{},"SStanDevx":{},
           "StanDevy":{},"SStanDevy":{},
           "method":{}}

    i=int(len(lstx)/10)

    basex=lstx[0]
    basey=lsty[0]

    final_distW=[]
    final_distRx=[]
    final_distRy=[]
    ratiod_x=[]
    ratiod_y=[]
    ratio_xy=[]
    stddx=[]
    stddy=[]

    for j in range(1,11):

        fig["coordx_dist"].update({

                "coordx"+str(j)+"_"+str(j+1):lstx[(j-1)*i:j*i]

                                })

        fig["coordx_dist"]["coordx"+str(j)+"_"+str(j+1)]=np.array(fig["coordx_dist"]["coordx"+str(j)+"_"+str(j+1)])

        fig["coordx_dist"]["coordx"+str(j)+"_"+str(j+1)]=fig["coordx_dist"]["coordx"+str(j)+"_"+str(j+1)]-basex

        fig["coordy_dist"].update({

                "coordy"+str(j)+"_"+str(j+1):lsty[(j-1)*i:j*i]

                                })

        fig["coordy_dist"]["coordy"+str(j)+"_"+str(j+1)]=np.array(fig["coordy_dist"]["coordy"+str(j)+"_"+str(j+1)])

        fig["coordy_dist"]["coordy"+str(j)+"_"+str(j+1)]=fig["coordy_dist"]["coordy"+str(j)+"_"+str(j+1)]-basey

        stddx.append(np.std(fig["coordx_dist"]["coordx"+str(j)+"_"+str(j+1)]))
        stddy.append(np.std(fig["coordy_dist"]["coordy"+str(j)+"_"+str(j+1)]))

        final_distRx.append(sum(fig["coordx_dist"]["coordx"+str(j)+"_"+str(j+1)]))
        ratiod_x.append(fig["coordx_dist"]["coordx"+str(j)+"_"+str(j+1)])

        final_distRy.append(sum(fig["coordy_dist"]["coordy"+str(j)+"_"+str(j+1)]))
        ratiod_y.append(fig["coordy_dist"]["coordy"+str(j)+"_"+str(j+1)])

    final_distRx=np.array(final_distRx)
    final_distRy=np.array(final_distRy)
    ratiod_x=np.array(ratiod_x)
    ratiod_y=np.array(ratiod_y)

    fig["final_distR"].update({

            "num":np.sqrt((sum(final_distRx))**2+(sum(final_distRy))**2) 

        })

    fig["ratio_xy"].update({

        "num":sum(final_distRx)/sum(final_distRy)

    })

    fig["ratio_x"].update({

        "num": ratiod_x

    })

    fig["ratio_y"].update({

        "num": ratiod_y

    })

    fig["ratio_wh"].update({

        "num": preguiax/preguiay

    })

    fig["length"].update({

        "num": len(lsty)

        })

    fig["StanDevx"].update({

        "num": stddx

        })

    fig["SStanDevx"].update({

        "num": np.std(stddx)

        })

    fig["StanDevy"].update({

        "num": stddy

        })

    fig["SStanDevy"].update({

        "num": np.std(stddy)

        })


    data2={#"Wrong":b_fig["final_distW"],
      "Right":fig["final_distR"],"Ratio_xy":fig["ratio_xy"],
      #"Abs":b_fig["final_dist_abs"],
      "Width":fig["width"],"Height":fig["height"],
      "Length":fig["length"],"Ratio_wh":fig["ratio_wh"],
      "StanDevx":fig["StanDevx"], "SStanDevx":fig["SStanDevx"],
      "StanDevy":fig["StanDevy"], "SStanDevy":fig["SStanDevy"],
      "Method":fig["method"]}

    dfff=pd.DataFrame.from_dict(data2)
    display(dfff)
    return fig, dfff, stddx, stddy

NTP_draw(lstx,lsty,preguiax,preguiay)

fig=NTP_draw(lstx,lsty)[0]
dfff=NTP_draw(lstx,lsty)[1]
sttdx=NTP_draw(lstx,lsty)[2]
stddy=NTP_draw(lstx,lsty)[3]

NameError: name 'lstx' is not defined

In [3]:
# ----------------------------------------------------------------------------------------------------------------------- #
# ---------------------------------------------------- BASE ------------------------------------------------------------- #
# ----------------------------------------------------------------------------------------------------------------------- #

# ---------------------------------------------- BASE NUMS FILTER ---------------------------------------------- #

def NRP_base(fig,preguiax,preguiay,df,dfff,stddx,stddy,inf_limit,upper_limit):
    
    b_fig={"coordx_dist":{},"coordy_dist":{},
           "final_distW":{},"final_distR":{},"final_dist_abs":{},
           "width":{},"height":{},"length":{},
           "ratio_x":{},"ratio_y":{},"ratio_wh":{},"ratio_xy":{},
           "StanDevx":{},"SStanDevx":{},
           "StanDevy":{},"SStanDevy":{},
           "method":{}}
    
    for l in range(0,10):

        lstxx=df["x_co"][l]
        lstxx=lstxx.split(",")
        fx_lst=[float(item)for item in lstxx]

        lstyy=df["y_co"][l]
        lstyy=lstyy.split(",")
        fy_lst=[float(item)for item in lstyy]

        i=int(len(fy_lst)/10)

        b_fig["ratio_wh"].update({

                "num"+str(l): df["width"][l]/df["height"][l]

            })

        b_fig["length"].update({

                "num"+str(l): len(fy_lst)

            })

        basexx=fx_lst[0]
        baseyy=fy_lst[0]

        final_distW=[]
        final_distRx=[]
        final_distRy=[]
        ratiob_x=[]
        ratiob_y=[]
        ratio_xy=[]
        stdbx=[]
        stdby=[]


        for j in range(1,11):

     # ---------------------------------------------- X AXIS ---------------------------------------------- #

            b_fig["coordx_dist"].update({

                    "coordx"+str(j)+"_"+str(j+1):fx_lst[(j-1)*i:j*i]

                                    })

            b_fig["coordx_dist"]["coordx"+str(j)+"_"+str(j+1)]=np.array(b_fig["coordx_dist"]["coordx"+str(j)+"_"+str(j+1)])

            b_fig["coordx_dist"]["coordx"+str(j)+"_"+str(j+1)]=b_fig["coordx_dist"]["coordx"+str(j)+"_"+str(j+1)]-basexx

            #---------------------------------------------------HERE
            #----------------------------------------------------|
            #----------------------------------------------------|
            #---------------------------------------------------\/
            b_fig["coordx_dist"]["coordx"+str(j)+"_"+str(j+1)]= preguiax/df["width"][l] * b_fig["coordx_dist"]["coordx"+str(j)+"_"+str(j+1)]

     # ---------------------------------------------- Y AXIS ---------------------------------------------- #

            b_fig["coordy_dist"].update({

                    "coordy"+str(j)+"_"+str(j+1):fy_lst[(j-1)*i:j*i]

                                    })

            b_fig["coordy_dist"]["coordy"+str(j)+"_"+str(j+1)]=np.array(b_fig["coordy_dist"]["coordy"+str(j)+"_"+str(j+1)])

            b_fig["coordy_dist"]["coordy"+str(j)+"_"+str(j+1)]=b_fig["coordy_dist"]["coordy"+str(j)+"_"+str(j+1)]-baseyy

            #---------------------------------------------------HERE
            #----------------------------------------------------|
            #----------------------------------------------------|
            #---------------------------------------------------\/
            b_fig["coordy_dist"]["coordy"+str(j)+"_"+str(j+1)]= preguiay/df["height"][l]*b_fig["coordy_dist"]["coordy"+str(j)+"_"+str(j+1)]

     # ------------------------------------------- ANALYSIS ---------------------------------------------- #

            stdbx.append(np.std(b_fig["coordx_dist"]["coordx"+str(j)+"_"+str(j+1)]))
            stdby.append(np.std(b_fig["coordy_dist"]["coordy"+str(j)+"_"+str(j+1)]))

            final_distRx.append(sum(b_fig["coordx_dist"]["coordx"+str(j)+"_"+str(j+1)]))
            ratiob_x.append(b_fig["coordx_dist"]["coordx"+str(j)+"_"+str(j+1)])

            final_distRy.append(sum(b_fig["coordy_dist"]["coordy"+str(j)+"_"+str(j+1)]))
            ratiob_y.append(b_fig["coordy_dist"]["coordy"+str(j)+"_"+str(j+1)])

        final_distRx=np.array(final_distRx)    
        final_distRy=np.array(final_distRy) 
        ratiob_x=np.array(ratiob_x)
        ratiob_y=np.array(ratiob_y)


        b_fig["final_distR"].update({

            "num"+str(l):np.sqrt(sum(final_distRx)**2+sum(final_distRy)**2)

        })

        b_fig["ratio_xy"].update({

            "num"+str(l): sum(final_distRx) / sum(final_distRy)

        })

        b_fig["ratio_x"].update({

            "num"+str(l): ratiob_x

        })

        b_fig["ratio_y"].update({

            "num"+str(l): ratiob_y

        })

        b_fig["StanDevx"].update({

            "num"+str(l): stdbx

        })

        b_fig["SStanDevx"].update({

            "num"+str(l): np.std(stdbx)

        })

        b_fig["StanDevy"].update({

        "num"+str(l): stdby

        })

        b_fig["SStanDevy"].update({

            "num"+str(l): np.std(stdby)

        })


    data={#"Wrong":b_fig["final_distW"],
          "Right":b_fig["final_distR"],"Ratio_xy":b_fig["ratio_xy"],
          #"Abs":b_fig["final_dist_abs"],
          #"Width":b_fig["width"],"Height":b_fig["height"],
          "Length":b_fig["length"],"Ratio_wh":b_fig["ratio_wh"],
          "ratio_x":b_fig["ratio_x"], "ratio_y":b_fig["ratio_y"],
          "StanDevx":b_fig["StanDevx"], "SStanDevx":b_fig["SStanDevx"],
          "StanDevy":b_fig["StanDevy"], "SStanDevy":b_fig["SStanDevy"],
          #"Method":b_fig["method"]
         }

    dff=pd.DataFrame.from_dict(data)
    display(dff)


    # ------------------------------------------- STAN_DEV ANALYSIS ---------------------------------------------- #


    Analysis_Dx=[]
    Analysis_Dy=[]

    final_res_standevx=[]
    final_res_standevy=[]

    stddx=np.array(stddx)
    stddy=np.array(stddy)

    """print("stanDx")
    print(stddx)

    print("stanDy")
    print(stddy)"""

    for i in range(0,10):
        result=[]
        divx=stddx/np.array(dff.iloc[i]["StanDevx"])

        """print("stanB")
        print(np.array(dff.iloc[i]["StanDevx"]))
        print("num -->"+str(i))
        print(divx)"""

        if fig["ratio_xy"].get("num")>0 and dff.iloc[i]["Ratio_xy"]>0:
            for item in divx:
                if item >= inf_limit and item<=upper_limit:
                    result.append(1)

                else:
                    result.append(0)
            Analysis_Dx.append(sum(result))


        elif fig["ratio_xy"].get("num")>0 and dff.iloc[i]["Ratio_xy"]<0:
            Analysis_Dx.append(0)

        elif fig["ratio_xy"].get("num")<0 and dff.iloc[i]["Ratio_xy"]>0:
            Analysis_Dx.append(0)

        else:
            for item in divx:
                if item >= inf_limit and item<=upper_limit:
                    result.append(1)

                else:
                    result.append(0)

            Analysis_Dx.append(sum(result))


    for i in range(0,10):
        result=[]
        divy=stddy/np.array(dff.iloc[i]["StanDevy"])

        """print("stanB")
        print(np.array(dff.iloc[i]["StanDevy"]))
        print("num -->"+str(i))
        print(divy)"""

        if fig["ratio_xy"].get("num")>0 and dff.iloc[i]["Ratio_xy"]>0:
            for item in divy:
                if item >= inf_limit and item<=upper_limit:
                    result.append(1)

                else:
                    result.append(0)
            Analysis_Dy.append(sum(result))


        elif fig["ratio_xy"].get("num")>0 and dff.iloc[i]["Ratio_xy"]<0:
            Analysis_Dy.append(0)

        elif fig["ratio_xy"].get("num")<0 and dff.iloc[i]["Ratio_xy"]>0:
            Analysis_Dy.append(0)

        else:
            for item in divy:
                if item >= inf_limit and item<=upper_limit:
                    result.append(1)

                else:
                    result.append(0)

            Analysis_Dy.append(sum(result))        


    nums=[e for e in range(10)]    

    dataFd={"nums":nums, "percentagex":Analysis_Dx,"percentagey":Analysis_Dy}

    df_d=pd.DataFrame.from_dict(dataFd)
    display(df_d)

    # ------------------------------------------- STAN_DEV RES ANALYSIS ---------------------------------------------- #


    if max(Analysis_Dx)<=2:
        final_res_standevx.append(Analysis_Dx.index(max(Analysis_Dx)))

    elif sum(df_d["percentagex"].nlargest(3))>=24:
        pos_r=df_d["percentagex"].nlargest(3)

        for p in range(len(df_d)):
            if df_d.iloc[p]["percentagex"]in pos_r.values:
                #print("+24-->",df_d.iloc[p])
                final_res_standevx.append(p)

            else:
                pass

    elif sum(df_d["percentagex"].nlargest(3))<24:
        pos_r=df_d["percentagex"].nlargest(3)

        if pos_r.iloc[-1]<=2:
            pos_r.drop(pos_r.index[2])

        if pos_r.iloc[1]<=2:
            pos_r.drop(pos_r.index[1])

        for p in range(len(df_d)):
            if df_d.iloc[p]["percentagex"]in pos_r.values:
                #print("-24-->",df_d.iloc[p])
                final_res_standevx.append(p)

            else:
                pass

    if max(Analysis_Dy)<=2:
        final_res_standevy.append(Analysis_Dy.index(max(Analysis_Dy)))

    elif sum(df_d["percentagey"].nlargest(3))>=24:
        pos_r=df_d["percentagey"].nlargest(3)

        for p in range(len(df_d)):
            if df_d.iloc[p]["percentagey"]in pos_r.values:
                #print("+24-->",df_d.iloc[p])
                final_res_standevy.append(p)

            else:
                pass

    elif sum(df_d["percentagey"].nlargest(3))<24:
        pos_r=df_d["percentagey"].nlargest(3)

        if pos_r.iloc[-1]<=2:
            pos_r.drop(pos_r.index[2])

        if pos_r.iloc[1]<=2:
            pos_r.drop(pos_r.index[1])

        for p in range(len(df_d)):
            if df_d.iloc[p]["percentagey"]in pos_r.values:
                #print("-24-->",df_d.iloc[p])
                final_res_standevy.append(p)

            else:
                pass

    # ------------------------------------------- RATIO ANALYSIS ---------------------------------------------- #   


    Analysis_R=[]

    final_res_ratio=[]


    for i in range(10):

        result_p=[]

        div=fig["ratio_xy"].get("num")/dff.iloc[i]["Ratio_xy"]

        #print(div)

        if fig["ratio_xy"].get("num")>0 and dff.iloc[i]["Ratio_xy"]>0:

            #----------HERE------------------------------------------------HERE
            #-----------|---------------------------------------------------|
            #---------- |---------------------------------------------------|
            #----------\/--------------------------------------------------\/
            for l in range(10):
                
                divb=(preguiax/df["width"][l]*sum(dff.iloc[i]["ratio_x"][l]))/(preguiay/df["height"][l]*sum(dff.iloc[i]["ratio_y"][l]))
                divd=sum(fig["ratio_x"].get("num")[l])/sum(fig["ratio_y"].get("num")[l])
                div=divd/divb

                """print("Final division")
                print(div)"""

                """print("ratioB")
                print(divb)
                print("ratioD")
                print(divd)
                print("part -->"+str(i))
                print(div)"""

                if div >= inf_limit and div<=upper_limit:
                    result_p.append(1)

                else:
                    result_p.append(0)

            Analysis_R.append(sum(result_p))


        elif fig["ratio_xy"].get("num")>0 and dff.iloc[i]["Ratio_xy"]<0:
            Analysis_R.append(0)

        elif fig["ratio_xy"].get("num")<0 and dff.iloc[i]["Ratio_xy"]>0:
            Analysis_R.append(0)

        else:
            for l in range(10):

            #----------HERE------------------------------------------------HERE
            #-----------|---------------------------------------------------|
            #---------- |---------------------------------------------------|
            #----------\/--------------------------------------------------\/   
                divb=(preguiax/df["width"][l]*sum(dff.iloc[i]["ratio_x"][l]))/(preguiay/df["height"][l]*sum(dff.iloc[i]["ratio_y"][l]))
                divd=sum(fig["ratio_x"].get("num")[l])/sum(fig["ratio_y"].get("num")[l])
                div=divd/divb
                """print("Final division num-->"+str(i))
                print(div)"""

                """print("ratioB")
                print(divb)
                print("ratioD")
                print(divd)
                print("part -->"+str(i))
                print(div)"""

                if div >= inf_limit and div <=upper_limit:
                    result_p.append(1)

                else:
                    result_p.append(0)

            Analysis_R.append(sum(result_p))

    dataFr={"nums":nums, "percentage":Analysis_R}

    df_r=pd.DataFrame.from_dict(dataFr)

    display(df_r)

    # ------------------------------------------- RATIO_RES ANALYSIS ---------------------------------------------- #   

    if max(Analysis_R)<=2:
        final_res_ratio.append(Analysis_R.index(max(Analysis_R)))

    elif sum(df_r["percentage"].nlargest(3))>=24:
        pos_r=df_r["percentage"].nlargest(3)

        for p in range(df_r):
            if df_r.iloc[p]["percentage"]in pos_r.values:
                final_res_ratio.append(p)

            else:
                pass

    elif sum(df_r["percentage"].nlargest(3))<24:
        pos_r=df_r["percentage"].nlargest(3)
        #print(pos_r)

        if pos_r.iloc[-1]<=2:
            pos_r.drop(pos_r.index[2])

        if pos_r.iloc[1]<=2:
            pos_r.drop(pos_r.index[2])

        for p in range(len(df_r)):
            if df_r.iloc[p]["percentage"]in pos_r.values:
                final_res_ratio.append(p)

            else:
                pass


    # ------------------------------------------- FINAL RES ---------------------------------------------- #   

    partial_res=[]
    print("FinalStanDevx ",final_res_standevx)
    print("FinalStanDevy ",final_res_standevy)
    print("FinalRatio ",final_res_ratio)

    for item in final_res_standevx:
        if item in final_res_ratio:
            partial_res.append(item)
        else:
            pass

    for item in final_res_standevy:
        if item in partial_res:
            pass
        else:
            partial_res.append(item)
            pass

    print("Partial result" +str(partial_res))

    if len(partial_res)==1:
        print("Final result len 1--> "+str(partial_res[0]))


    #not the number
    elif len(partial_res)>1:
        answer=[(Analysis_R[partial_res[l]]+Analysis_Dx[partial_res[l]]+Analysis_Dy[partial_res[l]])/2 for l in range(len(partial_res))]
        #print("Answer"+str(answer))
        if answer.count(max(answer))>1:
            inf_limit+=0.2
            upper_limit-=0.2
            NRP_base(fig,preguiax,preguiay,df,dfff,stddx,stddy,inf_limit,upper_limit)
            
        else:
            print("Final result med --> "+str(partial_res[answer.index(max(answer))]))




    else:
        lista=[max(Analysis_R),max(Analysis_Dx),max(Analysis_Dy)]
        if lista.index(max(lista)) == 0:
            print("Final result--> "+str(max(final_res_ratio)))

        elif lista.index(max(lista)) == 1:
            print("Final result--> "+str(max(final_res_standevx)))

        else:
            print("Final result--> "+str(max(final_res_standevy)))
            
    return "hehe"

NRP_base(fig,preguiax,preguiay,df,dfff,stddx,stddy,inf_limit,upper_limit)

NameError: name 'fig' is not defined

[61.51515152 61.51515152 61.51515152 61.51515152 61.51515152 61.51515152
 61.51515152 61.51515152 61.51515152 61.51515152 61.51515152 61.51515152
 61.51515152 61.51515152 62.57575758 63.63636364 63.63636364 63.63636364
 63.63636364 63.63636364 63.63636364]
[16.86776269 17.49249464 18.11722659 18.74195854 19.36669049 19.99142244
 20.6161544  21.24088635 21.8656183  22.49035025 23.1150822  23.73981415
 24.3645461  24.98927806 25.61401001 26.23874196 27.17583989 28.11293781
 28.73766976 29.36240172 29.98713367]
0.9529273870764228

In [1]:
!env:FLASK_APP = "S2FinalProject.ipynb"
!env:FLASK_ENV = "development"
!flask run

A sintaxe do nome do arquivo, do nome do diretrio ou do rtulo do volume est incorreta.
A sintaxe do nome do arquivo, do nome do diretrio ou do rtulo do volume est incorreta.

 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

Usage: flask run [OPTIONS]

Error: Could not locate a Flask application. You did not provide the "FLASK_APP" environment variable, and a "wsgi.py" or "app.py" module was not found in the current directory.

In [2]:
df=pd.read_excel(r"C:\Users\adm\Documents\Jupyter\Semestre2\Programao\assets\numbers_base.xlsx")
df=df[["numb","height","width","x_co","y_co"]]
display(df)

,numb,height,width,x_co,y_co
0,0,142.00,87.00,"111.421875, 111.421875, 111.421875, 111.421875...","63.25, 62.75, 62.25, 61.75, 61.25, 60.75, 60.2..."
1,1,112.88,26.00,"55.34375, 55.34375, 55.34375, 56.34375, 57.343...","64.78125, 64.28125, 63.78125, 62.28125, 60.781..."
2,2,95.00,77.88,"39.34375, 39.34375, 39.34375, 40.34375, 41.343...","76.78125, 75.78125, 74.78125, 73.28125, 71.781..."
3,3,163.00,51.00,"50.421875, 50.421875, 50.421875, 50.921875, 51...","19.25, 18.75, 18.25, 18.25, 18.25, 18.25, 18.2..."
4,4,168.00,78.00,"31.421875, 31.921875, 32.421875, 32.421875, 32...","11.25, 11.25, 11.25, 11.75, 12.25, 13.75, 15.2..."
5,5,150.00,64.00,"107.421875, 106.921875, 106.421875, 105.921875...","19.25, 19.25, 19.25, 19.75, 20.25, 20.75, 21.2..."
6,6,161.00,70.00,"101.421875, 100.921875, 100.421875, 99.921875,...","11.25, 11.25, 11.25, 11.25, 11.25, 11.75, 12.2..."
7,7,155.00,105.00,"31.421875, 31.921875, 32.421875, 32.921875, 33...","21.25, 21.25, 21.25, 21.25, 21.25, 21.25, 21.2..."
8,8,165.00,67.00,"102.59375, 102.59375, 102.59375, 102.59375, 10...","29.375, 28.875, 28.375, 27.875, 27.375, 26.875..."
9,9,151.00,62.00,"101.421875, 101.421875, 101.421875, 99.921875,...","17.25, 16.25, 15.25, 14.75, 14.25, 14.25, 14.2..."

In [7]:
l=[1,2,3,4,5,6,7]
l=np.array(l)

j=[8,9,10,11,12,13,14]
j=np.array(j)

k=[j,l]
k=np.array(k)

m=[80,90,100,110,120,130,140]
m=np.array(m)

n=[10,20,30,40,50,60,70]
n=np.array(n)

p=[m,n]
p=np.array(p)

#print(sum(k))
print(len(Analysis_D))

10